h4 {
  font-size: 1.4em;
  font-weight: bold;
  color: #171C61;
}
h5 {
  font-size: 1.3em;
  font-weight: bold;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  margin-top: -200px;
  z-index: 2000;
  color: #fff;
}
.inside-page {
  background-color: #F4F4F4;
}
.navbar-black {
  background-color: #000;
}
.navbar-black .navbar-nav li a {
  color: #fff;
  background-color: transparent;
}
.navbar-black .navbar-nav li.active a {
  color: #00EDFF;
}
.navbar-black .navbar-nav li.active a:hover,
.navbar-black .navbar-nav li.active a:focus {
  color: #00EDFF;
}
.white {
  color: #fff;
}
.white a {
  color: #fff;
}
a.chiense {
  background-color: #fff;
  color: #000;
}
a.english {
  background-color: #fff;
  color: #000;
}
.tab {
  margin-top: 200px;
}
.dot {
  border-style: dashed;
}
.nav-pills {
  width: 100%;
  border: 1px solid #171C61;
  margin-bottom: 50px;
}
.nav-pills li {
  width: 25%;
  text-align: center;
  font-size: 1.1em;
  border-left: 1px solid #171C61;
}
.nav-pills li a {
  color: black;
  border-radius: 0;
  background-color: #fff;
}
.nav-pills li a:hover,
.nav-pills li a:focus {
  background-color: #171C61;
  color: #fff;
}
.nav-pills li + li {
  margin: 0;
}
.nav-pills li.active a {
  background-color: #171C61;
}
.nav-pills li.active a:hover,
.nav-pills li.active a:focus {
  background-color: #171C61;
}
.base-content {
  margin-bottom: 150px;
}
.base-content h4 {
  margin-bottom: 40px;
}
.base-content p {
  font-size: 1.1em;
  margin-bottom: 40px;
}
.base-content p a {
  word-break: break-all;
}
.base-content .base-img {
  width: 100%;
}
.base-introduction h3 {
  color: #171C61;
  margin-bottom: 40px;
}
.logo-orginal {
  display: block;
  margin: 0 auto;
}
.grid-item-space {
  padding: 10px 10px 0 10px;
  background-color: transparent;
  margin-bottom: 150px;
}
.grid-item-space img {
  display: block;
  width: 100% !important;
  height: auto !important;
}
.grid-item-space img:hover {
  opacity: 0.7;
}
.grid-item-space ul {
  padding-left: 20px;
}
.grid-item-space ul li {
  text-align: justify;
  text-justify: inter-ideograph;
}
.grid-item-space .space-grid {
  padding: 10px;
  background-color: #fff;
  min-height: 232px;
}
.rent {
  margin-bottom: 150px;
}
.rent .table tr th {
  text-align: center;
  vertical-align: middle;
}
.rent .table tr td {
  vertical-align: middle;
}
.rent .bold {
  font-weight: bold;
  text-align: center;
}
.rent .download {
  font-size: 1.4em;
  color: #171C61;
}
.rent .download a {
  color: #171C61;
}
.rent .rent-time {
  margin-top: 50px;
  background-color: #F9BF11;
  color: #fff;
}
.rent .rent-time img {
  width: 100%;
}
.rent .rent-time h5 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 0;
}
.rent-place .table ul {
  list-style-type: decimal;
}
.rent-equiment p {
  text-align: justify;
  text-justify: inter-ideograph;
  margin-left: 3em;
  text-indent: -3em;
}
.fc-toolbar.fc-header-toolbar {
  margin-bottom: 0;
  background-color: #fff;
}
.fc-toolbar {
  padding: 5px;
}
.fc-toolbar h2 {
  font-size: 1.2em;
  line-height: 33px;
}
.fc-view-container {
  background-color: #fff;
}
.fc-event,
.fc-event-dot {
  background-color: #5cb85c;
}
.fc-event {
  font-size: 1.1em;
  border: 0;
  padding: 0 5px;
}
.fc-unthemed td.fc-today {
  background: #f5f5f5;
}
.fc-unthemed td.fc-today .fc-day-number {
  background: #F9BF11;
  border-radius: 50%;
  color: #fff;
  padding: 0 2px;
  margin-top: 2px;
}
.maker-car h4 {
  margin-top: 40px;
}
.maker-car p {
  margin-bottom: 0;
}
.tour {
  margin-bottom: 150px;
}
.tour form {
  margin: 25px 0;
}
.tour form .btn-primary {
  background-color: #171C61;
}
.tour form .form-control {
  background-color: transparent;
  border-radius: 0;
}
.tour form .form-control:focus {
  background-color: #f3d478;
}
.tour form .input-group-addon {
  background-color: transparent;
  border-radius: 0;
}
.tour .table tr th {
  text-align: center;
  color: #fff;
  background-color: #171C61;
}
.tour .table tr td {
  text-align: center;
  vertical-align: middle;
}
.tour .search-place {
  margin-top: 50px;
  background-color: #F9BF11;
  color: #fff;
}
.tour .search-place img {
  width: 100%;
}
.tour .search-place h5 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 0;
}
#map {
  width: 100%;
  height: 600px;
}
#map ul {
  margin-top: 13px;
  list-style-type: square;
}
#map ul li {
  color: #000;
}
.maker-introduction form .btn-primary {
  background-color: #171C61;
}
.maker-introduction form .input-group-addon {
  background-color: transparent;
  border-radius: 0;
}
.maker-introduction form .form-control {
  background-color: transparent;
  border-radius: 0;
}
.maker-introduction form .form-control:focus {
  background-color: #f3d478;
}
.maker-introduction h3 {
  color: #171C61;
  margin-top: 10px;
}
.maker-introduction .grid-item-space {
  margin-bottom: 0;
}
.maker-introduction .grid-item-space .space-grid {
  padding: 20px;
}
.maker-introduction .grid-item-space .space-grid a {
  background-color: #171C61;
  color: #fff;
  font-size: 1.1em;
  padding: 5px 20px;
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.maker-introduction .grid-item-space .space-grid a:hover {
  background-color: #888;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
.maker-work {
  margin-bottom: 80px;
}
.maker-work .container {
  background-color: #fff;
  padding: 25px 30px;
}
.maker-work .container h3 {
  color: #171C61;
  margin-bottom: 30px;
}
.maker-work .container p {
  font-size: 1.3em;
}
.maker-work .container img {
  display: block;
  margin: 0 auto;
}
.maker-work .container .flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.maker-information .container p {
  margin-left: 5em;
  text-indent: -5em;
}
.maker-information .container .emphasize {
  color: #171C61;
}
.maker-information .container img {
  width: 100%;
}
.maker-information .container .row {
  margin-top: 20px;
}
.map h3 {
  color: #171C61;
}
.map ul li {
  font-size: 1.1em;
}
.map ol {
  list-style-type: none;
}
.map ol li {
  font-size: 1.1em;
}
.site-map {
  margin-bottom: 100px;
}
.site-map .mainitem {
  background-color: #171C61;
  color: #fff;
  font-size: 1.1em;
  padding: 10px 15px;
  margin-top: 20px;
}
.site-map .mainitem a {
  color: #fff;
}
.site-map .mainitem a:hover,
.site-map .mainitem a:focus {
  color: #00EDFF;
  text-decoration: none;
}
.site-map .subitem ul {
  list-style-type: none;
  margin: 15px;
}
.site-map .subitem ul li {
  float: left;
  width: 25%;
}
.site-map .subitem ul li a {
  width: 25%;
  font-size: 1.1em;
  color: #000;
}
.site-map .subitem ul li a:hover,
.site-map .subitem ul li a:focus {
  text-decoration: none;
  color: #F29600;
}
@media (max-width: 1199px) {
  .text-right {
    text-align: left;
    margin-top: 10px;
  }
}
@media (max-width: 991px) {
  .grid-item-space .space-grid {
    min-height: 282px;
  }
  .navbar-brand {
    top: 25px;
  }
  .site-map .subitem ul li:first-child {
    margin-left: -50px;
  }
  .table > tbody > tr > td {
    vertical-align: middle;
  }
  .table > thead > tr > th {
    vertical-align: middle;
  }
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav > li > a {
    font-size: 1.1em;
    font-weight: bold;
  }
  .navbar-inverse .navbar-nav > li > a.chiense {
    background-color: #fff;
    font-size: 0.9em;
    color: #000;
    padding: 3px 6px;
    margin: 10px 15px;
  }
  .navbar-inverse .navbar-nav > li > a.chiense:hover,
  .navbar-inverse .navbar-nav > li > a.chiense:focus,
  .navbar-inverse .navbar-nav > li > a.chiense:active {
    background-color: #00EDFF;
    color: #000;
  }
  .navbar-inverse .navbar-nav > li > a.english {
    background-color: #fff;
    font-size: 1em;
    color: #000;
    padding: 3px 8px;
    margin: 10px 15px;
  }
  .navbar-inverse .navbar-nav > li > a.english:hover,
  .navbar-inverse .navbar-nav > li > a.english:focus,
  .navbar-inverse .navbar-nav > li > a.english:active {
    background-color: #00EDFF;
    color: #000;
  }
  .navbar-inverse .navbar-nav > li.mobile > a {
    float: left;
  }
  .navbar-brand {
    left: 15px;
    top: 8px;
  }
  .navbar-brand h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .tab {
    margin-top: 50px;
  }
  .base-content {
    margin-bottom: 50px;
  }
  .nav-pills li {
    width: 100%;
    border-left: 0;
    border-bottom: 1px solid #171C61;
  }
  .logo-orginal {
    display: none;
  }
  .grid-item-space {
    margin-bottom: 0;
  }
  .grid-item-space .space-grid {
    min-height: 0;
  }
  .grid-item-space .space-grid p {
    margin-bottom: 60px;
  }
  .base-space {
    margin-bottom: 50px;
  }
  .rent {
    margin-bottom: 50px;
  }
  .rent-equiment p {
    margin-left: 0;
    text-indent: 0;
  }
  .tour {
    margin-bottom: 50px;
  }
  .tour form .btn-primary {
    display: block;
    margin: 0 auto;
  }
  .maker-work {
    margin-bottom: 50px;
  }
  .maker-work .container {
    padding: 25px 15px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .maker-work .container .flex {
    display: block;
    margin: 0 auto;
  }
  .maker-information .container p {
    margin-left: 0;
    text-indent: 0;
  }
  .site-map .subitem ul li {
    width: 100%;
  }
  .site-map .subitem ul li:first-child {
    margin-left: 0;
  }
  #map {
    height: 400px;
  }
}
/*# sourceMappingURL=about_base.css.map */