h4 {
  font-size: 1.4em;
  font-weight: bold;
  color: #171C61;
}
h5 {
  font-size: 1.3em;
  font-weight: bold;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  margin-top: -200px;
  z-index: 2000;
  color: #fff;
}
.inside-page {
  background-color: #F4F4F4;
}
.navbar-black {
  background-color: #000;
}
.navbar-black .navbar-nav li a {
  color: #fff;
  background-color: transparent;
}
.navbar-black .navbar-nav li.active a {
  color: #00EDFF;
}
.navbar-black .navbar-nav li.active a:hover,
.navbar-black .navbar-nav li.active a:focus {
  color: #00EDFF;
}
.white {
  color: #fff;
}
.white a {
  color: #fff;
}
a.chiense {
  background-color: #fff;
  color: #000;
}
a.english {
  background-color: #fff;
  color: #000;
}
.tab {
  margin-top: 200px;
}
.collection {
  margin-bottom: 150px;
}
.dot {
  border-style: dashed;
}
form .btn-primary {
  background-color: #171C61;
}
form .input-group-addon {
  background-color: transparent;
  border-radius: 0;
}
form .form-control {
  background-color: transparent;
  border-radius: 0;
}
.grid-item-space {
  padding: 10px;
  background-color: transparent;
  margin-bottom: 0;
}
.grid-item-space img {
  width: 100%;
  display: block;
}
.grid-item-space img:hover {
  opacity: 0.7;
}
.grid-item-space ul {
  padding-left: 20px;
}
.grid-item-space ul li {
  text-align: justify;
  text-justify: inter-ideograph;
}
.grid-item-space .space-grid {
  padding: 20px;
  background-color: #fff;
  min-height: 272px;
}
.grid-item-space .space-grid a {
  background-color: #171C61;
  color: #fff;
  font-size: 1.1em;
  padding: 5px 20px;
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.grid-item-space .space-grid a:hover {
  background-color: #888;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
.grid-item-space .others {
  min-height: 278px;
}
.content {
  width: 600px;
  margin: 0 auto;
}
.content p {
  font-size: 1.1em;
}
.content h3 {
  color: #171C61;
  margin-top: 40px;
}
.content .strong {
  margin-top: 30px;
}
.content .strong p {
  color: #171C61;
  font-size: 1.3em;
}
.content .strong p a {
  color: #171C61;
}
.owl-theme .owl-dots {
  display: none;
}
.owl-theme .owl-nav {
  top: 170px;
}
.owl-theme .owl-prev {
  left: 10px;
}
.owl-theme .owl-next {
  right: 10px;
}
@media (max-width: 991px) {
  .navbar-brand {
    top: 25px;
  }
  .grid-item-space .space-grid {
    min-height: 292px;
  }
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav > li > a {
    font-size: 1.1em;
    font-weight: bold;
  }
  .navbar-inverse .navbar-nav > li > a.chiense {
    background-color: #fff;
    font-size: 0.9em;
    color: #000;
    padding: 3px 6px;
    margin: 10px 15px;
  }
  .navbar-inverse .navbar-nav > li > a.chiense:hover,
  .navbar-inverse .navbar-nav > li > a.chiense:focus,
  .navbar-inverse .navbar-nav > li > a.chiense:active {
    background-color: #00EDFF;
    color: #000;
  }
  .navbar-inverse .navbar-nav > li > a.english {
    background-color: #fff;
    font-size: 1em;
    color: #000;
    padding: 3px 8px;
    margin: 10px 15px;
  }
  .navbar-inverse .navbar-nav > li > a.english:hover,
  .navbar-inverse .navbar-nav > li > a.english:focus,
  .navbar-inverse .navbar-nav > li > a.english:active {
    background-color: #00EDFF;
    color: #000;
  }
  .navbar-inverse .navbar-nav > li.mobile > a {
    float: left;
  }
  .navbar-brand {
    left: 15px;
    top: 8px;
  }
  .navbar-brand h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .tab {
    margin-top: 50px;
  }
  .grid-item-space .space-grid {
    min-height: 0;
  }
  .grid-item-space .space-grid p {
    margin-bottom: 60px;
  }
  .collection {
    margin-bottom: 50px;
  }
  .content {
    width: 100%;
    padding: 15px;
  }
  .owl-theme .owl-nav {
    top: 200px;
  }
}
@media (max-width: 480px) {
  .owl-theme .owl-nav {
    top: 100px;
  }
}
@media (max-width: 320px) {
  .owl-theme .owl-nav {
    top: 80px;
  }
}
/*# sourceMappingURL=collection.css.map */