h4 {
  font-size: 1.4em;
  font-weight: bold;
}
h5 {
  font-size: 1.3em;
  font-weight: bold;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  margin-top: -200px;
  z-index: 2000;
  color: #fff;
}
.inside-page {
  background-color: #F4F4F4;
}
.navbar-black {
  background-color: #000;
}
.navbar-black .navbar-nav li a {
  color: #fff;
  background-color: transparent;
}
.navbar-black .navbar-nav li.active a {
  color: #00EDFF;
}
.navbar-black .navbar-nav li.active a:hover,
.navbar-black .navbar-nav li.active a:focus {
  color: #00EDFF;
}
.white {
  color: #fff;
}
.white a {
  color: #fff;
}
a.chiense {
  background-color: #fff;
  color: #000;
}
a.english {
  background-color: #fff;
  color: #000;
}
.course {
  margin-top: 200px;
  margin-bottom: 150px;
}
.dot {
  border-style: dashed;
}
.nav-pills {
  width: 100%;
  margin-bottom: 50px;
}
.nav-pills li {
  width: 50%;
  text-align: center;
  font-size: 1.1em;
  border-left: 1px solid #fff;
}
.nav-pills li a {
  color: #fff;
  border-radius: 0;
  background-color: #B4B4B5;
}
.nav-pills li a:hover,
.nav-pills li a:focus {
  background-color: #FFA910;
}
.nav-pills li + li {
  margin: 0;
}
.nav-pills li.active a {
  background-color: #FFA910;
}
.nav-pills li.active a:hover,
.nav-pills li.active a:focus {
  background-color: #FFA910;
}
.course-time {
  list-style-type: none;
  padding-left: 0;
  float: right;
  margin-top: 10px;
}
.course-time li {
  float: left;
  font-size: 1.1em;
  padding-right: 10px;
}
.course-time .all-day {
  background: url(../img/course/all-day.png) no-repeat;
  padding-left: 30px;
}
.course-time .am {
  background: url(../img/course/am.png) no-repeat;
  padding-left: 30px;
}
.course-time .pm {
  background: url(../img/course/pm.png) no-repeat;
  padding-left: 30px;
}
.course-time .night {
  background: url(../img/course/night.png) no-repeat;
  padding-left: 30px;
}
.form-control {
  background-color: transparent;
  border-radius: 0;
}
.form-control:focus {
  background-color: #fff;
}
.search {
  font-size: 1.1em;
  margin-bottom: 50px;
}
.search fieldset {
  border: 1px solid silver;
}
.search legend {
  background-color: transparent;
  border-bottom: 0;
  width: 162px;
}
.search h3 {
  font-size: 1.1em;
}
.search .training select {
  float: left;
}
.search .training .form-control {
  width: 30%;
  margin-left: 5px;
  background-color: transparent;
  border-radius: 0;
}
.search .training .form-control:focus {
  background-color: #fff;
}
.search .training .training-time {
  padding: 5px 0;
  margin: 0;
}
.search-btn {
  padding: 20px 0;
}
.search-btn button {
  margin-left: 10px;
}
.search-btn .btn-success {
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.1em;
}
.sign-up-course {
  background-color: #171C61;
  font-size: 1.1em;
  color: #fff;
  padding: 10px 10px;
}
.week-header {
  background-color: #EEEEEF;
}
.week-header .week-pager a {
  color: #fff;
  background-color: #888;
  padding: 5px 12px;
}
.week-header .week-pager a.week-prev {
  float: left;
}
.week-header .week-pager a.week-next {
  float: right;
}
.week-title {
  background-color: #EEEEEF;
  text-align: center;
  line-height: 42px;
  color: #171C61;
  font-size: 1.4em;
}
.datalist-month .table {
  table-layout: fixed;
}
.datalist-month .table th {
  background-color: #171C61;
  color: #fff;
  text-align: center;
  font-size: 1.1em;
}
.datalist-month .table th:first-child {
  color: #F7B52C;
}
.datalist-month .table th:last-child {
  color: #1EAA39;
}
.datalist-month .table td {
  font-size: 1.1em;
  text-align: right;
  height: 80px;
  padding: 5px;
}
.datalist-month .table td:hover {
  background-color: #FFF6C6;
}
.datalist-month .table td:first-child {
  color: #F7B52C;
}
.datalist-month .table td:last-child {
  color: #1EAA39;
}
.datalist-month .table .course-type {
  text-align: left;
  display: block;
  margin-top: 5px;
}
.datalist-month .table .course-type a {
  color: #000;
  text-align: left;
}
.datalist-month .table .course-type a.type1 {
  background: url(../img/course/all-day.png) no-repeat;
  background-size: 23px 23px;
  padding-left: 30px;
}
.datalist-month .table .course-type a.type2 {
  background: url(../img/course/am.png) no-repeat;
  background-size: 23px 23px;
  padding-left: 30px;
}
.datalist-month .table .course-type a.type3 {
  background: url(../img/course/pm.png) no-repeat;
  background-size: 23px 23px;
  padding-left: 30px;
}
.datalist-month .table .course-type a.type4 {
  background: url(../img/course/night.png) no-repeat;
  background-size: 23px 23px;
  padding-left: 30px;
}
.datalist-row .table th {
  background-color: #171C61;
  color: #fff;
  font-size: 1.1em;
}
.datalist-row .table td {
  padding: 15px 5px;
}
.datalist-row .table td a {
  color: #000;
}
.datalist-row .table td a.type1 {
  background: url(../img/course/all-day.png) no-repeat;
  background-size: 20px 20px;
  padding-left: 30px;
}
.datalist-row .table td a.type2 {
  background: url(../img/course/am.png) no-repeat;
  background-size: 20px 20px;
  padding-left: 30px;
}
.datalist-row .table td a.type3 {
  background: url(../img/course/pm.png) no-repeat;
  background-size: 20px 20px;
  padding-left: 30px;
}
.datalist-row .table td a.type4 {
  background: url(../img/course/night.png) no-repeat;
  background-size: 20px 20px;
  padding-left: 30px;
}
.datalist-row .table td .course-view {
  color: #fff;
  background-color: #036EB7;
  padding: 3px 12px;
  border-radius: 50%;
}
.course-information {
  margin: 0 auto;
  width: 800px;
}
.course-information img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.course-information h3 {
  color: #171C61;
}
.course-information p {
  font-size: 1.1em;
}
.course-information .table {
  margin-top: 50px;
  margin-bottom: 50px;
}
.course-information .table th {
  background-color: #171C61;
  color: #fff;
  font-size: 1.1em;
}
.course-information .table td {
  font-size: 1.1em;
  color: #171C61;
  vertical-align: middle;
}
.course-information .btn-submit {
  background-color: #FFA910;
  color: #fff;
  font-size: 1.1em;
  padding-left: 80px;
  padding-right: 80px;
  margin-right: 10px;
}
.course-information .btn-submit:hover {
  color: #fff;
  background-color: #d58d0d;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
.course-information .btn-reset {
  background-color: #B4B4B5;
  color: #fff;
  font-size: 1.1em;
  padding-left: 80px;
  padding-right: 80px;
}
.course-information .btn-reset:hover {
  color: #fff;
  background-color: #969697;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
.sign-up-people {
  background-color: #dedee6;
  color: #171C61;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 20px;
}
.sign-up-people span {
  font-size: 2.5em;
}
.time {
  margin-top: 30px;
}
.enroll {
  background-color: #171C61;
  color: #fff;
  font-size: 1.3em;
  padding: 10px 80px;
  float: right;
  margin-top: -58px;
}
.enroll:hover {
  color: #fff;
  background-color: #888;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
.deadline {
  background-color: #E95513;
  color: #fff;
  font-size: 1.3em;
  padding: 10px 80px;
  float: right;
  margin-top: -58px;
}
.sign_up_success {
  background-color: #1EAA39;
  color: #fff;
  font-size: 1.3em;
  padding: 10px 80px;
  float: right;
  margin-top: -58px;
}
.course-sign-up {
  background-color: #171C61;
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
}
.course-sign-up span {
  font-size: 2.5em;
  color: #FFF000;
}
.page {
  margin-top: 25px;
}
@media (max-width: 991px) {
  .navbar-brand {
    top: 25px;
  }
  .nav-pills {
    margin-bottom: 20px;
  }
  .course-information {
    width: 100%;
  }
  .course-information .btn-submit {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav > li > a {
    font-size: 1.1em;
    font-weight: bold;
  }
  .navbar-inverse .navbar-nav > li > a.chiense {
    background-color: #fff;
    font-size: 0.9em;
    color: #000;
    padding: 3px 6px;
    margin: 10px 15px;
  }
  .navbar-inverse .navbar-nav > li > a.chiense:hover,
  .navbar-inverse .navbar-nav > li > a.chiense:focus,
  .navbar-inverse .navbar-nav > li > a.chiense:active {
    background-color: #00EDFF;
    color: #000;
  }
  .navbar-inverse .navbar-nav > li > a.english {
    background-color: #fff;
    font-size: 1em;
    color: #000;
    padding: 3px 8px;
    margin: 10px 15px;
  }
  .navbar-inverse .navbar-nav > li > a.english:hover,
  .navbar-inverse .navbar-nav > li > a.english:focus,
  .navbar-inverse .navbar-nav > li > a.english:active {
    background-color: #00EDFF;
    color: #000;
  }
  .navbar-inverse .navbar-nav > li.mobile > a {
    float: left;
  }
  .navbar-brand {
    left: 15px;
    top: 8px;
  }
  .navbar-brand h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .course {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .course-time li {
    width: 50%;
    padding-bottom: 10px;
    padding-right: 40px;
  }
  fieldset {
    padding: 10px;
  }
  .checkbox-inline + .checkbox-inline {
    margin-left: 0;
  }
  .datalist-row .table {
    table-layout: fixed;
  }
  .deadline {
    margin-top: 0;
  }
  .enroll {
    margin-top: 0;
  }
  .sign_up_success {
    margin-top: 0;
  }
}
@media (max-width: 498px) {
  .course-information .btn-submit {
    margin-bottom: 10px;
  }
}
@media (max-width: 320px) {
  .search .training select.form-control {
    padding-left: 2px;
  }
  .sticky-header thead {
    top: 50px;
  }
}
/*# sourceMappingURL=course.css.map */