h4 {
  font-size: 1.4em;
  font-weight: bold;
  color: #171C61;
}
h5 {
  font-size: 1.3em;
  font-weight: bold;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  margin-top: -200px;
  z-index: 2000;
  color: #fff;
}
.inside-page {
  background-color: #F4F4F4;
}
.navbar-black {
  background-color: #000;
}
.navbar-black .navbar-nav li a {
  color: #fff;
  background-color: transparent;
}
.navbar-black .navbar-nav li.active a {
  color: #00EDFF;
}
.navbar-black .navbar-nav li.active a:hover,
.navbar-black .navbar-nav li.active a:focus {
  color: #00EDFF;
}
.white {
  color: #fff;
}
.white a {
  color: #fff;
}
a.chiense {
  background-color: #fff;
  color: #000;
}
a.english {
  background-color: #fff;
  color: #000;
}
.tab {
  margin-top: 200px;
}
.dot {
  border-style: dashed;
}
.nav-pills {
  width: 100%;
  border: 1px solid #171C61;
  margin-bottom: 50px;
}
.nav-pills li {
  width: 25%;
  text-align: center;
  font-size: 1.1em;
  border-left: 1px solid #171C61;
}
.nav-pills li a {
  color: black;
  border-radius: 0;
  background-color: #fff;
}
.nav-pills li a:hover,
.nav-pills li a:focus {
  background-color: #171C61;
  color: #fff;
}
.nav-pills li + li {
  margin: 0;
}
.nav-pills li.active a {
  background-color: #171C61;
}
.nav-pills li.active a:hover,
.nav-pills li.active a:focus {
  background-color: #171C61;
}
form .btn-primary {
  background-color: #171C61;
}
form .input-group-addon {
  background-color: transparent;
  border-radius: 0;
}
form .form-control {
  background-color: transparent;
  border-radius: 0;
}
.grid-item-space {
  padding: 10px;
  background-color: transparent;
  margin-bottom: 0;
}
.grid-item-space img {
  width: 100%;
  display: block;
}
.grid-item-space ul {
  padding-left: 20px;
}
.grid-item-space ul li {
  text-align: justify;
  text-justify: inter-ideograph;
}
.grid-item-space .space-grid {
  padding: 20px;
  background-color: #fff;
  min-height: 378px;
}
.grid-item-space .space-grid a {
  background-color: #171C61;
  color: #fff;
  font-size: 1.1em;
  padding: 5px 20px;
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.grid-item-space .space-grid a:hover {
  background-color: #888;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
.grid-item-space .others {
  min-height: 278px;
}
@media (max-width: 991px) {
  .navbar-brand {
    top: 25px;
  }
  .grid-item-space .others {
    min-height: 304px;
  }
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav > li > a {
    font-size: 1.1em;
    font-weight: bold;
  }
  .navbar-inverse .navbar-nav > li > a.chiense {
    background-color: #fff;
    font-size: 0.9em;
    color: #000;
    padding: 3px 6px;
    margin: 10px 15px;
  }
  .navbar-inverse .navbar-nav > li > a.chiense:hover,
  .navbar-inverse .navbar-nav > li > a.chiense:focus,
  .navbar-inverse .navbar-nav > li > a.chiense:active {
    background-color: #00EDFF;
    color: #000;
  }
  .navbar-inverse .navbar-nav > li > a.english {
    background-color: #fff;
    font-size: 1em;
    color: #000;
    padding: 3px 8px;
    margin: 10px 15px;
  }
  .navbar-inverse .navbar-nav > li > a.english:hover,
  .navbar-inverse .navbar-nav > li > a.english:focus,
  .navbar-inverse .navbar-nav > li > a.english:active {
    background-color: #00EDFF;
    color: #000;
  }
  .navbar-inverse .navbar-nav > li.mobile > a {
    float: left;
  }
  .navbar-brand {
    left: 15px;
    top: 8px;
  }
  .navbar-brand h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .tab {
    margin-top: 50px;
  }
  .nav-pills li {
    width: 100%;
    border-left: 0;
    border-bottom: 1px solid #171C61;
  }
  .grid-item-space .space-grid {
    min-height: 0;
  }
  .page {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .page .previous a,
  .page .next a {
    padding: 5px 10px;
  }
}
/*# sourceMappingURL=equipment.css.map */