h4 {
  font-size: 1.3em;
  font-weight: bold;
  color: #171C61;
}
h5 {
  font-size: 1.3em;
  font-weight: bold;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  margin-top: -200px;
  z-index: 2000;
  color: #fff;
}
.inside-page {
  background-color: #F4F4F4;
}
.navbar-black {
  background-color: #000;
}
.navbar-black .navbar-nav li a {
  color: #fff;
  background-color: transparent;
}
.navbar-black .navbar-nav li.active a {
  color: #00EDFF;
}
.navbar-black .navbar-nav li.active a:hover,
.navbar-black .navbar-nav li.active a:focus {
  color: #00EDFF;
}
.white {
  color: #fff;
}
.white a {
  color: #fff;
}
a.chiense {
  background-color: #fff;
  color: #000;
}
a.english {
  background-color: #fff;
  color: #000;
}
.tab {
  margin-top: 200px;
  margin-bottom: 30px;
}
.error {
  color: #F29600;
}
.member {
  margin-bottom: 150px;
}
.member h3 {
  color: #171C61;
  margin-top: 10px;
  display: inline-block;
}
.member h4 {
  color: #F29600;
}
.member span a {
  color: #888;
}
.member-account {
  margin-bottom: 150px;
}
.member-account h3 {
  color: #171C61;
  text-align: center;
}
.member-account .blue-border {
  border: 1px solid #171C61;
  padding-top: 50px;
  padding-bottom: 50px;
}
.member-account .border-left {
  border-left: 1px solid #171C61;
}
.member-account form {
  padding: 50px 100px;
}
.dot {
  border-style: dashed;
}
.user {
  padding-right: 0;
}
.user-account {
  margin-bottom: 20px;
}
.user-account p {
  font-size: 0.9em;
  margin-top: 10px;
}
.user-account strong {
  font-size: 1.6em;
}
.fa-user-circle {
  font-size: 5em;
  color: #9E9E9F;
}
.nav-stacked li {
  border-top: 1px solid #9E9E9F;
  font-size: 1.3em;
}
.nav-stacked li a {
  color: #595757;
  border-radius: 0;
}
.nav-stacked li.active a {
  background-color: transparent;
  border-right: 10px solid #F7B52C;
  color: #595757;
}
.nav-stacked li.active a:hover,
.nav-stacked li.active a:focus {
  background-color: #eee;
  color: #595757;
}
.user-content {
  border-left: 1px solid #9E9E9F;
}
form {
  font-size: 1.1em;
}
form .btn-primary {
  background-color: #171C61;
}
form .input-group-addon {
  background-color: transparent;
  border-radius: 0;
}
form .form-control {
  background-color: transparent;
  border-radius: 0;
}
.bottom-line {
  border-bottom: 1px solid #9E9E9F;
  margin-left: 10px;
}
.situation {
  margin-left: 10px;
  margin-top: 20px;
}
.table {
  margin-top: 20px;
}
.table th {
  background-color: #171C61;
  color: #fff;
  font-size: 1.1em;
  text-align: center;
  border-left: 1px solid #fff;
}
.table td {
  font-size: 1.1em;
  text-align: center;
  padding: 15px;
}
.table td .sign-up {
  background-color: #009FE8;
  color: #fff;
  padding: 3px 20px;
  border-radius: 4px;
}
.table td .no-sign-up {
  background-color: #F29600;
  color: #fff;
  padding: 3px 20px;
  border-radius: 4px;
}
.table td .half {
  background-color: #F29600;
  color: #fff;
  padding: 3px 10px;
  border-radius: 4px;
}
.table td .write-survey {
  background-color: #8DC21F;
  color: #fff;
  padding: 3px 10px;
  border-radius: 4px;
}
.table td .write-survey:hover {
  background-color: #76a21a;
  text-decoration: none;
}
.table > tbody > tr > td {
  padding: 10px;
}
.btn-info {
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 1.1em;
  margin: 0 auto;
  display: block;
  margin-top: 40px;
  background-color: #009FE8;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #0085c1;
}
.btn-survey {
  margin-left: 0;
}
.search-btn {
  padding: 20px 0;
}
.search-btn button {
  margin-left: 10px;
}
.returnmessage {
  text-align: center;
  margin-top: 20px;
}
#returnmessage_survey {
  margin-top: 20px;
}
.profession {
  background-color: #888;
  color: #fff;
  padding-top: 10px;
  margin-right: 0;
  margin-left: 0;
}
.dashed-bottom {
  border-bottom: 1px dashed #888;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 0;
  margin-left: 0;
}
.last-row {
  border-bottom: 0;
  margin-bottom: 10px;
}
.middle {
  line-height: 35px;
  margin-bottom: 0;
}
.mt {
  margin-top: 15px;
}
/* 單選框 */
#survey input[type="radio"] {
  display: none;
}
#survey input[type="radio"] + label {
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: transparent;
  color: #171C61;
  border: 1px solid #171C61;
  font-weight: normal;
  margin-bottom: 0;
}
#survey input[type="radio"]:checked + label {
  background-color: #171C61;
  color: #fff;
}
.btn-access {
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.1em;
  background-color: #F7B52C;
  color: #fff;
}
.btn-access:hover,
.btn-access:focus {
  background-color: #ce9725;
  color: #fff;
}
.btn-remail {
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.1em;
  background-color: #009FE8;
  color: #fff;
}
.btn-remail:hover,
.btn-remail:focus {
  background-color: #0085c1;
  color: #fff;
}
.btn-facebook {
  border-radius: 0;
  font-size: 1.1em;
  margin: 0 auto;
  display: block;
  margin-top: 40px;
  background-color: #375295;
  color: #fff;
  width: 100%;
}
.btn-facebook:hover,
.btn-facebook:focus {
  background-color: #2e447c;
  color: #fff;
}
.btn-facebook .fa-facebook-square {
  font-size: 1.5em;
}
.btn-google {
  border-radius: 0;
  font-size: 1.1em;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  background-color: #4286F5;
  color: #fff;
  width: 100%;
}
.btn-google:hover,
.btn-google:focus {
  background-color: #3770cc;
  color: #fff;
}
.page {
  margin-top: 70px;
}
.google-map {
  margin-top: 148px;
  margin-bottom: 30px;
}
.google-map #map-southmaker {
  width: 100%;
  height: 450px;
}
.map_address {
  position: absolute;
  right: 10%;
  top: 30%;
  display: inline-block;
  background: #fff;
  border: 1px solid #ccc;
  padding: 15px 30px;
}
@media (max-width: 1199px) {
  .member-account .blue-border {
    margin-left: 0;
    margin-right: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .member-account form {
    padding: 0;
  }
  .member-account .contact-us {
    padding: 0 15px;
  }
  .google-map {
    margin-top: 180px;
  }
  .map_address {
    right: 5%;
    top: 25%;
  }
}
@media (max-width: 991px) {
  .navbar-brand {
    top: 25px;
  }
  .fa-user-circle {
    font-size: 5em;
  }
  .table > tbody > tr > td {
    padding: 4px;
    vertical-align: middle;
    word-break: break-all;
  }
  .table > thead > tr > th {
    vertical-align: middle;
  }
  .table {
    table-layout: fixed;
  }
  .table td .sign-up {
    padding: 3px 10px;
  }
  .table td .no-sign-up {
    padding: 3px 10px;
  }
  .table td .half {
    padding: 3px 10px;
  }
  .table td .write-survey {
    padding: 3px 10px;
  }
  .bottom-line {
    margin-left: 0;
    margin-right: 0;
  }
  .situation {
    margin-left: 0;
    margin-right: 0;
  }
  .map_address {
    right: 4%;
    top: 36%;
  }
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav > li > a {
    font-size: 1.1em;
    font-weight: bold;
  }
  .navbar-inverse .navbar-nav > li > a.chiense {
    background-color: #fff;
    font-size: 0.9em;
    color: #000;
    padding: 3px 6px;
    margin: 10px 15px;
  }
  .navbar-inverse .navbar-nav > li > a.chiense:hover,
  .navbar-inverse .navbar-nav > li > a.chiense:focus,
  .navbar-inverse .navbar-nav > li > a.chiense:active {
    background-color: #00EDFF;
    color: #000;
  }
  .navbar-inverse .navbar-nav > li > a.english {
    background-color: #fff;
    font-size: 1em;
    color: #000;
    padding: 3px 8px;
    margin: 10px 15px;
  }
  .navbar-inverse .navbar-nav > li > a.english:hover,
  .navbar-inverse .navbar-nav > li > a.english:focus,
  .navbar-inverse .navbar-nav > li > a.english:active {
    background-color: #00EDFF;
    color: #000;
  }
  .navbar-inverse .navbar-nav > li.mobile > a {
    float: left;
  }
  .navbar-brand {
    left: 15px;
    top: 8px;
  }
  .navbar-brand h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .tab {
    margin-top: 50px;
  }
  .member {
    margin-bottom: 50px;
  }
  .member-account {
    margin-bottom: 50px;
  }
  .user-content {
    border-left: 0;
  }
  .nav-stacked li {
    font-size: 1.1em;
    text-align: center;
  }
  .nav-stacked li.active a {
    border-right: 0;
    border-left: 10px solid #F7B52C;
  }
  .user {
    padding-right: 15px;
  }
  .situation {
    margin-top: 20px;
  }
  .btn-primary {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .change-password {
    margin-top: 20px;
  }
  .table {
    table-layout: fixed;
  }
  .table td .sign-up {
    padding: 3px 0;
  }
  .table td .no-sign-up {
    padding: 3px 0;
  }
  .table td .half {
    padding: 3px 0;
  }
  .table td .write-survey {
    padding: 3px 0;
  }
  .btn-survey {
    margin: 0 auto;
  }
  #survey input[type="radio"] + label {
    padding: 5px 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
  }
  .member-account .blue-border {
    margin-left: 0;
    margin-right: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .member-account form {
    padding: 0;
  }
  .member-account .btn-access {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0;
  }
  .member-account .btn-remail {
    padding-left: 20px;
    padding-right: 20px;
  }
  .member-account .border-left {
    border-left: 0;
  }
  .member-account .border-left h3 {
    margin-top: 50px;
  }
  .member-account .contact-us {
    padding: 0 15px;
  }
  .google-map {
    margin-top: 50px;
    margin-bottom: 0;
  }
  .google-map #map-southmaker {
    height: 200px;
  }
  .map_address {
    position: relative;
    width: 100%;
    right: 0;
    top: 0;
    margin-top: 15px;
  }
  .text-indent {
    margin-left: 0;
    text-indent: 0;
  }
  .captcha {
    margin-top: 10px;
  }
}
@media (max-width: 320px) {
  .member-account .btn-access {
    margin-left: 10px;
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=member.css.map */