h4 {
  font-size: 1.4em;
  font-weight: bold;
  color: #171C61;
}
h5 {
  font-size: 1.3em;
  font-weight: bold;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  margin-top: -200px;
  z-index: 2000;
  color: #fff;
}
.inside-page {
  background-color: #F4F4F4;
}
.navbar-black {
  background-color: #000;
}
.navbar-black .navbar-nav li a {
  color: #fff;
  background-color: transparent;
}
.navbar-black .navbar-nav li.active a {
  color: #00EDFF;
}
.navbar-black .navbar-nav li.active a:hover,
.navbar-black .navbar-nav li.active a:focus {
  color: #00EDFF;
}
.white {
  color: #fff;
}
.white a {
  color: #fff;
}
a.chiense {
  background-color: #fff;
  color: #000;
}
a.english {
  background-color: #fff;
  color: #000;
}
.tab {
  margin-top: 200px;
}
.dot {
  border-style: dashed;
}
.nav-pills {
  width: 100%;
  border: 1px solid #171C61;
  margin-bottom: 50px;
}
.nav-pills li {
  width: 33.33%;
  text-align: center;
  font-size: 1.1em;
  border-left: 1px solid #171C61;
}
.nav-pills li a {
  color: black;
  border-radius: 0;
  background-color: #fff;
}
.nav-pills li a:hover,
.nav-pills li a:focus {
  background-color: #171C61;
  color: #fff;
}
.nav-pills li + li {
  margin: 0;
}
.nav-pills li.active a {
  background-color: #171C61;
}
.nav-pills li.active a:hover,
.nav-pills li.active a:focus {
  background-color: #171C61;
}
.grid-item-space {
  padding: 10px;
  background-color: transparent;
  margin-bottom: 0;
}
.grid-item-space img {
  width: 100%;
  display: block;
}
.grid-item-space a:hover img {
  opacity: 0.7;
}
.grid-item-space a:hover .circle-play {
  border: 5px solid #CC0000;
}
.grid-item-space a:hover .fa-play {
  color: #CC0000;
}
.grid-item-space .play {
  position: relative;
}
.grid-item-space .play .circle-play {
  position: absolute;
  border: 5px solid #fff;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  line-height: 62px;
}
.grid-item-space .fa-play {
  font-size: 1.875em;
  color: #fff;
}
.grid-item-space .space-grid {
  background-color: #fff;
  min-height: 282px;
  padding: 20px;
}
.grid-item-space .space-grid a {
  background-color: #888;
  color: #fff;
  font-size: 1.1em;
  padding: 5px 20px;
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.grid-item-space .space-grid a:hover {
  background-color: #171C61;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
.grid-item-space .space-grid .date {
  float: left;
  font-size: 1.1em;
  color: #717071;
}
.grid-item-space .space-grid .users {
  float: right;
  font-size: 1.1em;
  color: #717071;
}
.grid-item-space .space-grid .clear {
  clear: both;
}
.grid-item-space .news-photo {
  min-height: 202px;
}
.grid-item-space .news-videos {
  min-height: 143px;
}
.news-information {
  margin-bottom: 100px;
}
.news-information img.w100 {
  width: 100%;
}
.news-information h3 {
  color: #171C61;
}
.news-information .date {
  font-size: 1.1em;
}
.news-information .content {
  font-size: 1.1em;
}
.news-information .content p {
  text-align: justify;
  text-justify: inter-ideograph;
  margin-bottom: 40px;
}
.more-photos {
  margin-bottom: 100px;
}
.more-photos img:hover {
  opacity: 1;
}
.more-photos h3 {
  color: #171C61;
  margin-bottom: 40px;
}
.more-photos .grid {
  margin-top: 10px;
}
@media (max-width: 1199px) {
  .grid-item-space .space-grid {
    min-height: 322px;
  }
  .grid-item-space .news-photo {
    min-height: 202px;
  }
  .grid-item-space .news-videos {
    min-height: 143px;
  }
}
@media (max-width: 991px) {
  .navbar-brand {
    top: 25px;
  }
  .grid-item-space .space-grid {
    min-height: 342px;
  }
  .grid-item-space .news-photo {
    min-height: 202px;
  }
  .grid-item-space .news-videos {
    min-height: 143px;
  }
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav > li > a {
    font-size: 1.1em;
    font-weight: bold;
  }
  .navbar-inverse .navbar-nav > li > a.chiense {
    background-color: #fff;
    font-size: 0.9em;
    color: #000;
    padding: 3px 6px;
    margin: 10px 15px;
  }
  .navbar-inverse .navbar-nav > li > a.chiense:hover,
  .navbar-inverse .navbar-nav > li > a.chiense:focus,
  .navbar-inverse .navbar-nav > li > a.chiense:active {
    background-color: #00EDFF;
    color: #000;
  }
  .navbar-inverse .navbar-nav > li > a.english {
    background-color: #fff;
    font-size: 1em;
    color: #000;
    padding: 3px 8px;
    margin: 10px 15px;
  }
  .navbar-inverse .navbar-nav > li > a.english:hover,
  .navbar-inverse .navbar-nav > li > a.english:focus,
  .navbar-inverse .navbar-nav > li > a.english:active {
    background-color: #00EDFF;
    color: #000;
  }
  .navbar-inverse .navbar-nav > li.mobile > a {
    float: left;
  }
  .navbar-brand {
    left: 15px;
    top: 8px;
  }
  .navbar-brand h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .tab {
    margin-top: 50px;
  }
  .nav-pills li {
    width: 100%;
    border-left: 0;
    border-bottom: 1px solid #171C61;
  }
  .news-information .content p {
    margin-bottom: 20px;
  }
  .grid-item-space .space-grid {
    min-height: 0;
  }
  .grid-item-space .space-grid p {
    margin-bottom: 60px;
  }
  .grid-item-space .news-photo h3 {
    margin-bottom: 60px;
  }
  .more-photos .grid {
    margin-top: 0;
  }
}
/*# sourceMappingURL=news.css.map */