h4 {
  font-size: 1.4em;
  font-weight: bold;
  color: #171C61;
}
h5 {
  font-size: 1.3em;
  font-weight: bold;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  margin-top: -200px;
  z-index: 2000;
  color: #fff;
}
.inside-page {
  background-color: #F4F4F4;
}
.navbar-black {
  background-color: #000;
}
.navbar-black .navbar-nav li a {
  color: #fff;
  background-color: transparent;
}
.navbar-black .navbar-nav li.active a {
  color: #00EDFF;
}
.navbar-black .navbar-nav li.active a:hover,
.navbar-black .navbar-nav li.active a:focus {
  color: #00EDFF;
}
.white {
  color: #fff;
}
.white a {
  color: #fff;
}
a.chiense {
  background-color: #fff;
  color: #000;
}
a.english {
  background-color: #fff;
  color: #000;
}
.search-result {
  margin-top: 200px;
}
.dot {
  border-style: dashed;
}
.content {
  margin-top: 30px;
}
.content h3 {
  color: #171C61;
}
.content .row {
  padding: 10px 0;
}
.content .row h4 a {
  color: #000;
}
.content .row h4 a:hover,
.content .row h4 a:active,
.content .row h4 a:focus {
  color: #F29600;
  text-decoration: none;
  transition: 0.3s all;
}
.content .row .date {
  float: left;
  font-size: 1.1em;
  color: #717071;
}
.content .row .users {
  float: right;
  font-size: 1.1em;
  color: #717071;
}
.content .row .clear {
  clear: both;
}
.content .row .more {
  display: inline-block;
  margin-top: 10px;
  background-color: #888;
  color: #fff;
  font-size: 1.1em;
  padding: 5px 20px;
}
.content .row .more:hover {
  background-color: #F29600;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
.content .row .img-hover {
  width: 321px;
  height: 201px;
  overflow: hidden;
}
.content .row .img-hover img:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transition: 0.3s ease-in-out;
}
@media (max-width: 991px) {
  .navbar-brand {
    top: 25px;
  }
}
@media (max-width: 768px) {
  .content .row .img-hover {
    width: auto !important;
    height: auto !important;
  }
  .content .row .img-hover img {
    width: 100%;
  }
  .content .row .date {
    margin-top: 10px;
  }
  .content .row .users {
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav > li > a {
    font-size: 1.1em;
    font-weight: bold;
  }
  .navbar-inverse .navbar-nav > li > a.chiense {
    background-color: #fff;
    font-size: 0.9em;
    color: #000;
    padding: 3px 6px;
    margin: 10px 15px;
  }
  .navbar-inverse .navbar-nav > li > a.chiense:hover,
  .navbar-inverse .navbar-nav > li > a.chiense:focus,
  .navbar-inverse .navbar-nav > li > a.chiense:active {
    background-color: #00EDFF;
    color: #000;
  }
  .navbar-inverse .navbar-nav > li > a.english {
    background-color: #fff;
    font-size: 1em;
    color: #000;
    padding: 3px 8px;
    margin: 10px 15px;
  }
  .navbar-inverse .navbar-nav > li > a.english:hover,
  .navbar-inverse .navbar-nav > li > a.english:focus,
  .navbar-inverse .navbar-nav > li > a.english:active {
    background-color: #00EDFF;
    color: #000;
  }
  .navbar-inverse .navbar-nav > li.mobile > a {
    float: left;
  }
  .navbar-brand {
    left: 15px;
    top: 8px;
  }
  .navbar-brand h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .content .row {
    padding: 5px 0;
  }
  .search-result {
    margin-top: 50px;
  }
  .search-result .page {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .search-result .page .previous a,
  .search-result .page .next a {
    padding: 5px 10px;
  }
}
/*# sourceMappingURL=search.css.map */