@font-face {
  font-family: 'Socicon';
  src: url('../fonts/Socicon.eot?6abp0d');
  src: url('../fonts/Socicon.eot?6abp0d#iefix') format('embedded-opentype'), url('../fonts/Socicon.woff2?6abp0d') format('woff2'), url('../fonts/Socicon.ttf?6abp0d') format('truetype'), url('../fonts/Socicon.woff?6abp0d') format('woff'), url('../fonts/Socicon.svg?6abp0d#Socicon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="socicon-"],
[class*=" socicon-"] {
  font-family: 'Socicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.socicon-line:before {
  content: "\e04b";
}
body {
  font-family: "微軟正黑體";
  font-size: 1.6em;
}
body a:focus {
  outline: 2px #8E3938 dotted !important;
}
hr {
  border-color: #000;
}
h2 {
  font-size: 1.6em;
  font-weight: bold;
}
h3 {
  font-size: 1.4em;
  font-weight: bold;
}
.inside-page {
  background-color: #fff;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: absolute;
  z-index: 2;
  color: #000;
  font-size: 1.3em;
}
.navbar-brand {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  margin-left: -59.5px;
  z-index: 2;
  top: 12px;
}
.logo-phone {
  display: none;
}
.menu_navigation {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 2;
}
.menu_navigation a {
  color: #000;
  font-weight: bold;
  font-size: 0.9em;
}
.menu_navigation a:hover,
.menu_navigation a:focus {
  color: #00EDFF;
  text-decoration: none;
}
.fa-instagram {
  font-weight: bold;
  font-size: 1.5em;
  margin-right: 5px;
}
.fa-facebook {
  font-size: 1.5em;
  margin-right: 5px;
}
.socicon-line {
  font-size: 1.5em;
}
a.chiense {
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  padding: 1px 4px;
  margin-right: 5px;
}
a.chiense:hover {
  background-color: #00EDFF;
  color: #000;
}
a.english {
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  padding: 0 6.5px;
  font-size: 1em;
}
a.english:hover {
  background-color: #00EDFF;
  color: #000;
}
.search-web {
  position: absolute;
  top: 40px;
  right: 0;
}
.search-web .form-control {
  background-color: #fff;
  border-radius: 4px;
}
.search-web .btn {
  border-radius: 4px;
  padding: 6px;
  font-size: 1em;
}
.btn-search-web {
  background-color: #F9BF11;
  color: #fff;
}
.collapse {
  text-align: center;
}
.collapse .navbar-nav {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 20px;
}
.collapse .navbar-nav li a {
  color: #000;
  font-size: 1.1em;
  font-weight: bold;
}
.collapse .navbar-nav li a:hover,
.collapse .navbar-nav li a:focus {
  color: #00EDFF;
  text-decoration: none;
}
.collapse .navbar-nav li:nth-child(4) {
  padding-left: 180px;
}
.collapse .navbar-nav .mobile,
.collapse .navbar-nav .mobile-contact,
.collapse .navbar-nav .mobile-search {
  display: none;
}
.collapse .black {
  margin-bottom: 43px;
}
.breadcrumb {
  padding-left: 0;
  margin-bottom: 0;
}
.breadcrumb li a {
  color: #000;
}
.breadcrumb li a:hover,
.breadcrumb li a:focus {
  color: #8E3938;
  text-decoration: none;
}
.breadcrumb li.active a {
  color: #8E3938;
}
.breadcrumb > li + li:before {
  content: ">";
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.change-bg {
  background-color: rgba(255, 255, 255, 0.9);
  border-color: #e7e7e7;
  -webkit-box-shadow: 0 8px 6px -6px #ccc;
  -moz-box-shadow: 0 8px 6px -6px #ccc;
  box-shadow: 0 8px 6px -6px #ccc;
}
.banner {
  margin-top: 140px;
}
.introduction {
  background-color: #000;
  padding: 60px 0;
  margin-bottom: 150px;
}
.introduction p {
  font-size: 1.1em;
  color: #fff;
  text-align: justify;
  text-justify: inter-ideograph;
  margin-bottom: 40px;
}
.logo-orginal {
  display: block;
  margin: 0 auto;
}
.activity {
  margin-bottom: 150px;
}
.grid {
  margin-top: 50px;
}
.grid-item {
  background-color: #fff;
  padding: 10px;
  margin: 0;
}
.grid-item img {
  width: 100%;
  display: block;
}
.grid-item a {
  display: block;
  color: #000;
  padding: 2px;
}
.grid-item a:hover,
.grid-item a:focus {
  text-decoration: none;
}
.grid-item a:hover h3,
.grid-item a:focus h3 {
  color: #00EDFF;
}
.grid-item p {
  font-size: 1.1em;
  text-align: justify;
  text-justify: inter-ideograph;
}
.img-hover {
  position: relative;
}
.img-hover .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}
.img-hover:hover .overlay {
  opacity: 1;
  background-color: rgba(35, 24, 21, 0.7);
}
.text {
  color: white;
  font-size: 1.9em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.read-more {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 1.4em;
  color: #fff;
  background-color: #000;
  margin-top: 60px;
  border-radius: 5px;
}
.read-more:hover,
.read-more:focus {
  color: #000;
  background-color: #00EDFF;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
.course {
  margin-bottom: 150px;
}
.date {
  color: #009FE8;
}
.collection {
  margin-bottom: 150px;
}
.owl-carousel a {
  display: block;
}
.owl-carousel .owl-item img {
  width: 100%;
  height: auto;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #00EDFF;
}
.owl-theme .owl-dots .owl-dot span {
  background: #DBDCDC;
}
.owl-theme .owl-dots {
  margin-top: -40px;
  position: absolute;
  left: 47.5%;
}
.owl-theme .owl-nav [class*=owl-] {
  color: #9E9E9F;
  font-size: 2.25em;
  background: transparent;
}
.owl-theme .owl-nav [class*=owl-]:hover,
.owl-theme .owl-nav [class*=owl-]:focus,
.owl-theme .owl-nav [class*=owl-]:active {
  background: #9E9E9F;
  color: #fff;
}
.owl-theme .owl-nav {
  position: absolute;
  margin: 0;
  top: 50%;
  margin-top: -30px;
  left: 0;
  width: 100%;
}
.owl-theme .owl-prev {
  position: absolute;
  left: 50px;
}
.owl-theme .owl-next {
  position: absolute;
  right: 50px;
}
footer {
  background-color: #000;
  color: #fff;
  padding: 40px 0;
}
footer ul {
  list-style-type: none;
  padding-left: 0px;
}
footer ul li a {
  color: #fff;
}
footer ul li a:hover,
footer ul li a:focus {
  color: #00EDFF;
}
footer .nav_bottom li {
  float: left;
  padding: 0 5px;
}
footer .nav_bottom li a {
  color: #fff;
}
footer .nav_bottom li a:hover,
footer .nav_bottom li a:focus {
  color: #fff;
}
footer .nav_bottom li:first-child a {
  color: #00EDFF;
}
footer .nav_bottom li:first-child a:hover,
footer .nav_bottom li:first-child a:focus {
  color: #00EDFF;
}
.border-left {
  border-left: 2px solid #fff;
}
.clear {
  clear: both;
}
.page {
  margin-top: 125px;
  margin-bottom: 25px;
}
.page .pagination {
  background-color: transparent;
  margin: 0 auto;
  border-radius: 0;
}
.page .pagination li a {
  background-color: transparent;
  color: #888;
  border: 0;
}
.page .pagination li a:hover,
.page .pagination li a:active,
.page .pagination li a:focus {
  color: #171C61;
}
.page .pagination li:first-child a {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.page .pagination li:last-child a {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.page .pagination .active a {
  color: #171C61;
  border: 0;
}
.page .pagination .previous a,
.page .pagination .next a {
  background-color: #171C61;
  color: #fff;
  padding: 5px 30px;
}
.page .pagination .previous a:hover,
.page .pagination .next a:hover,
.page .pagination .previous a:active,
.page .pagination .next a:active,
.page .pagination .previous a:focus,
.page .pagination .next a:focus {
  background-color: #888;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
.update {
  margin-bottom: 50px;
}
.update .container {
  border-top: 1px dashed #000;
  border-bottom: 1px dashed #000;
}
.update p {
  padding-top: 10px;
  font-size: 1.1em;
  float: left;
}
.update ul {
  list-style-type: none;
  padding: 0;
  float: right;
  padding-top: 10px;
}
.update ul li {
  padding: 0 10px;
  font-size: 1.1em;
  float: left;
}
.update ul li a {
  color: #000;
}
.update ul li a:hover,
.update ul li a:focus {
  text-decoration: none;
  color: #888;
}
.font-size {
  text-align: right;
  font-size: 1.1em;
  margin-top: -35px;
}
.font-size a {
  color: white;
  background-color: #171C61;
  border-radius: 4px;
  padding: 0 3px;
}
.font-size a:hover,
.font-size a:focus {
  color: #fff;
  background-color: #888;
  text-decoration: none;
}
.form-control:focus {
  border-color: #F9BF11;
  background-color: #f3d478;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075), 0 0 0 rgba(249, 191, 17, 0.6);
}
.no_txt {
  font-weight: bold;
  color: #F00;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -59.5px;
  }
}
@media (max-width: 1300px) {
  .navbar-brand {
    margin-top: 30px;
  }
  .collapse .navbar-nav {
    margin-top: 100px;
    margin-bottom: 0;
  }
  .collapse .black {
    margin-bottom: 23px;
  }
  .banner {
    margin-top: 160px;
  }
}
@media (max-width: 812px) {
  .logo-computer {
    width: 80%;
  }
  .collapse .navbar-nav li:nth-child(4) {
    padding-left: 125px;
  }
  .owl-theme .owl-dots {
    margin-top: -20px;
    left: 45%;
  }
  .owl-theme .owl-prev {
    left: 10px;
  }
  .owl-theme .owl-next {
    right: 10px;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: none;
  }
}
@media (max-width: 767px) {
  .logo-orginal {
    width: 100%;
  }
  .menu_navigation,
  .search-web {
    display: none;
  }
  .navbar-brand {
    margin-left: 0px;
    left: 15px;
    top: 8px;
    margin-top: 0;
  }
  .navbar-brand h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .logo-computer {
    display: none;
  }
  .logo-phone {
    display: block;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 400px;
  }
  .navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
  }
  .navbar-default .navbar-nav > li > a {
    color: #000;
    font-size: 1.1em;
    font-weight: bold;
  }
  .navbar-default .navbar-nav > li > a.chiense {
    font-size: 0.9em;
    color: #fff;
    padding: 3px 6px;
    margin: 10px 15px;
  }
  .navbar-default .navbar-nav > li > a.chiense:hover,
  .navbar-default .navbar-nav > li > a.chiense:focus,
  .navbar-default .navbar-nav > li > a.chiense:active {
    background-color: #00EDFF;
    color: #000;
  }
  .navbar-default .navbar-nav > li > a.english {
    font-size: 1em;
    color: #fff;
    padding: 3px 8px;
    margin: 10px 15px;
  }
  .navbar-default .navbar-nav > li > a.english:hover,
  .navbar-default .navbar-nav > li > a.english:focus,
  .navbar-default .navbar-nav > li > a.english:active {
    background-color: #00EDFF;
    color: #000;
  }
  .navbar-default .navbar-nav > li.mobile > a {
    float: left;
  }
  .collapse {
    text-align: left;
  }
  .collapse .navbar-nav {
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .collapse .navbar-nav li:nth-child(4) {
    padding-left: 0;
  }
  .collapse .navbar-nav .mobile,
  .collapse .navbar-nav .mobile-contact,
  .collapse .navbar-nav .mobile-search {
    display: block;
  }
  .mobile-search {
    padding-left: 15px;
  }
  .mobile-search .form-control {
    display: inline;
    width: 50%;
  }
  .banner {
    margin-top: 50px;
  }
  .owl-theme .owl-nav {
    margin-top: -19px;
  }
  .owl-theme .owl-dots {
    left: 40%;
  }
  .introduction {
    padding: 30px 0;
    margin-bottom: 50px;
  }
  .activity {
    margin-bottom: 50px;
  }
  .grid {
    margin-top: 0;
  }
  .read-more {
    padding: 5px 0;
    font-size: 1.3em;
    margin-top: 50px;
  }
  .course {
    margin-bottom: 50px;
  }
  .collection {
    margin-bottom: 50px;
  }
  footer {
    padding: 20px 0;
  }
  footer img {
    display: block;
    margin: 0 auto;
  }
  footer ul {
    text-align: center;
    margin-top: 20px;
  }
  footer ul li {
    padding: 3px 0;
  }
  footer .nav_bottom {
    display: none;
  }
  .border-left {
    border-left: 0;
  }
  .page {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .page .pagination .previous a,
  .page .pagination .next a {
    padding: 5px 10px;
  }
  .update {
    margin-bottom: 50px;
  }
  .update .container {
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
  }
  .update p {
    float: none;
  }
  .update ul {
    padding-top: 0;
    float: none;
  }
  .update ul li {
    width: 33.33%;
    text-align: center;
  }
  .update ul li a i {
    width: 100%;
  }
  .font-size {
    display: none;
  }
}
@media (max-width: 480px) {
  .owl-theme .owl-nav [class*=owl-] {
    font-size: 1.3em;
  }
  .owl-theme .owl-dots {
    left: 35%;
  }
  .owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
  }
}
/*# sourceMappingURL=style.css.map */