﻿<input type="hidden" id="end_tag" value="front" />
<input type="hidden" id="unit_tag" value="intro" />
<input type="hidden" id="datamode_tag" value="list" />
<input type="hidden" id="pager_tag" value="0" />


@section top_style{

<link rel="stylesheet" href="../Content/Front/assets/css/fullcalendar.css">
<link rel="stylesheet" href="../Content/Front/assets/css/fullcalendar.print.min.css" media="print">
<link rel="stylesheet" href="../Content/Front/assets/css/about_base.css">
}

@using Model;
@{ 
    string keyword = "";
    string description = "";
    List<ABOUT> datas = new List<ABOUT>();
    using (var DB = new SOUTHMAKEREntities())
    {
        datas = DB.ABOUT.Where(x => x.is_deleted == 0).OrderBy(x => x.sort).ToList();
    }
    datas = helper.AboutTranslate(datas);       //語言翻譯
    foreach (var item in datas)
    {
        keyword += item.keyword + ';';
        description += item.description + ';';
    }


}

@section top_script{
    <meta name="description" content="@keyword">
    <meta name="keywords" content="@description">
}



 <section class="tab">
    <div class="container">
        <h2 class="text-center" trans-attr="text">common-controller-home-name</h2>
        <div class="font-size">
            <span trans-attr="text">common-font-size-area-name</span>：
            <a href="#" class="update-fz" data-size="12px" trans-attr="text">common-font-size-s</a>
            <a href="#" class="update-fz" data-size="16px" trans-attr="text">common-font-size-m</a>
            <a href="#" class="update-fz" data-size="24px" trans-attr="text">common-font-size-l</a>
        </div>
        <hr class="dot">

        <ul class="nav nav-pills">
            <li role="presentation">
                <a href="/Home/Intro" title="common-home-intro-name" trans-attr="title,text">common-home-intro-name</a>
            </li>
            <li role="presentation" class="active">
                <a href="/Home/About" title="common-home-about-name" trans-attr="title,text">common-home-about-name</a>
            </li>
            <li role="presentation">
                <a href="/Home/MakerCar" title="Maker Car" trans-attr="title,text">Maker Car</a>
            </li>
            <li role="presentation">
                <a href="/Home/Maker" title="common-home-maker-name" trans-attr="title,text">common-home-maker-name</a>
            </li>
        </ul>
    </div>
</section>
<section class="base-content">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#" accesskey="C" title="中央主要內容區" id="main-content" trans-attr="title">:::</a> <a href="/Home/Index" title="common-home-index-name" trans-attr="title,text">common-home-index-name</a></li>
            <li><a href="/Home/Intro" title="common-controller-home-name" trans-attr="title,text">common-controller-home-name</a></li>
            <li class="active"><a href="#" title="common-home-about-name" trans-attr="title,text">common-home-about-name</a></li>
        </ol>

        @Html.Raw(datas[0].content)

    </div>
</section>

@{ 
    int index = 1;
    foreach (var item in datas)
    {
        if (index != 1)
        {
            string downloadHtml = "<strong class='download'>檔案下載：";
            List<string> files_url = new List<string>();
            using (var DB = new SOUTHMAKEREntities())
            {
                files_url = DB.FILES
                .Where(x => x.is_deleted == 0 && x.is_enabled == 1 && x.obj_id == item.file_id && x.tag == "about")
                .Select(x => "/upload/" + x.@class + "/" + x.obj_id + "/" + x.name + "." + x.exten).ToList();
            }
            if (files_url.Count > 0)
            {
                foreach (string file in files_url)
                {
                    downloadHtml += "<a href='" + file + "' download>" + file.Split('/').Last().Split('@').Last() + "</a>｜";
                }
                downloadHtml = downloadHtml.TrimEnd('｜');
            }
            downloadHtml += "</strong>";

            item.content = item.content.Replace("{download}", downloadHtml);

            @Html.Raw(item.content);
        }
        index++;
    }
}


@section date_modify_area{
    @{
        if (datas.Count > 0)
        {
            DateTime modify_time = datas.OrderByDescending(x => x.date_modify).FirstOrDefault().date_modify;
            <p><span trans-attr="text">common-lastest-update-span-name</span>：@(modify_time.Year - 1911 + modify_time.ToString("-MM-dd"))</p>
        }
    }
}


@section bot_script{

<script src="../Content/Front/assets/js/jquery.validate.min.js"></script>
<script src="../Content/Front/assets/js/additional-methods.js"></script>
<script src="../Content/Front/assets/js/add-methods-validate.js"></script>
<script src="../Content/Front/assets/js/messages_zh_TW.js"></script>

<script src="../Content/Front/assets/js/fullcalendar.min.js"></script>
<script src="../Content/Front/assets/js/zh-tw.js"></script>
<script src="../Content/Front/assets/js/gcal.min.js"></script>
<script src="../Content/Front/assets/js/all.js"></script>
<script src="../Content/Front/assets/js/google-api.js"></script>



    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_home.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}