﻿<input type="hidden" id="end_tag" value="front" />
<input type="hidden" id="unit_tag" value="contact" />
<input type="hidden" id="datamode_tag" value="form" />
<input type="hidden" id="pager_tag" value="0" />

@*@using BotDetect.Web.Mvc;
@{
    MvcCaptcha ContactCaptchaObj = new MvcCaptcha("ContactCaptchaObj");
    ContactCaptchaObj.CodeLength = 4;
    ContactCaptchaObj.ImageStyle = BotDetect.ImageStyle.BlackOverlap;
    Session["ContactCaptchaObj"] = ContactCaptchaObj;
}*@

@section top_style{
    @*<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />*@
    <link rel="stylesheet" href="../Content/Front/assets/css/member.css">
}
<section class="google-map">
    <!-- <iframe title="地圖" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3664.1388900100314!2d120.32045771561468!3d23.310719011345288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e85e85b55e81d%3A0x68fbb5859f9c379f!2zNzMw5Y-w5Y2X5biC5paw54ef5Y2A5aSn5ZCM6LevMzItMeiZnw!5e0!3m2!1szh-TW!2stw!4v1521078808639" frameborder="0" style="border:0" allowfullscreen></iframe> -->
    <div id="map-southmaker"></div>
    <div class="map_address">
        <h3 trans-attr="text">common-website-name</h3>
        <p><span trans-attr="text">layout-footer-info-address-label-name</span>：<span trans-attr="text">layout-footer-info-address</span></p>
        <p><span trans-attr="text">layout-footer-info-tel-label-name</span>：(06)6356583 ; (06)6354697</p>
        <p><span trans-attr="text">layout-footer-info-fax-label-name</span>：(06)6354331</p>
        <p><span trans-attr="text">layout-footer-info-opening-label-name</span>：<span trans-attr="text">layout-footer-info-opening</span></p>
        <p class="text-indent"><span trans-attr="text">layout-footer-info-email-label-name</span>：stmakercenter@gmail.com<br />stmakercenter@wda.gov.tw</p>
    </div>
    <div class="container">
        <h2 class="text-center" trans-attr="text">common-home-contact-page-name</h2>
        <hr class="dot">
    </div>
</section>
<section class="member-account">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#" accesskey="C" title="中央主要內容區" id="main-content" trans-attr="title">:::</a> <a href="/Home/Index" title="common-home-index-name" trans-attr="title,text">common-home-index-name</a></li>
            <li class="active"><a href="#" title="common-home-contact-page-name" trans-attr="title,text">common-home-contact-page-name</a></li>
        </ol>
        <div class="row blue-border">
            <form class="contact-us" id="contact_form">@Html.AntiForgeryToken()
                <p trans-attr="text">home-contact-form-welcome-msg</p>
                <font color="#F29600" trans-attr="text">common-form-must-fill-msg</font>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="contact_name"><span trans-attr="text">home-contact-form-name-label-name</span><font color="#F29600"> * </font></label>
                            <input type="text" name="contact_name" class="form-control" id="contact_name">
                            <label class="error" data-alert="contact_name"></label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="contact_email">E-mail<span>(example@gmail.com)</span><font color="#F29600"> * </font></label>
                            <input type="email" name="contact_email" class="form-control email" id="contact_email">
                            <label class="error" data-alert="contact_email"></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="contact_telphone"><span trans-attr="text">home-contact-form-tel-label-name</span><span>(0912345678)</span><font color="#F29600"> * </font></label>
                            <input type="text" name="contact_telphone" class="form-control digits phoneStyle" id="contact_telphone">
                            <label class="error" data-alert="contact_telphone"></label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="contact_mail_header"><span trans-attr="text">home-contact-form-title-label-name</span><font color="#F29600"> * </font></label>
                            <input type="text" name="contact_mail_header" class="form-control" id="contact_mail_header">
                            <label class="error" data-alert="contact_mail_header"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="contact_message"><span trans-attr="text">home-contact-form-content-label-name</span><font color="#F29600"> * </font></label>
                    <textarea rows="4" name="contact_message" class="form-control" id="contact_message"></textarea>
                    <label class="error" data-alert="contact_message"></label>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        <div class="form-group">
                            <label for="contact_captcha">
                                <span trans-attr="text">common-form-captcha-label-name</span>
                                <font color="#F29600"> * </font>
                            </label>
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" name="contact_captcha" class="form-control" id="contact_captcha">
                                    <label class="error" data-alert="contact_captcha"></label>
                                </div>
                                <div class="col-sm-6">
                                    @*@Html.Captcha(ContactCaptchaObj)*@
                                    <img id="captcha_img" src="" alt="captcha" />
                                    <audio id="myaudio" type="audio/mp3" src=""></audio>
                                    <a href="javascript:;" onclick="user_contact_update_captcha()" title="note1" trans-attr="text,title">note1</a>
                                    <a href="javascript:;" onclick="captcha_voice('user_contact')" title="note2" trans-attr="text,title">note2</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search-btn text-center">
                    <button type="button" class="btn btn-access" onclick="contact_mail_submit()" trans-attr="text">home-contact-form-submit-button-name</button>
                    <button type="reset" class="btn btn-remail" id="btnReset" trans-attr="text">home-contact-form-reset-button-name</button>
                    <p class="returnmessage">
                        <span data-alert="success" style="color:#009FE8"></span>
                    </p>
                </div>
            </form>
        </div>
    </div>
</section>


@section bot_script{

<script src="../Content/Front/assets/js/jquery.validate.min.js"></script>
<script src="../Content/Front/assets/js/additional-methods.js"></script>
<script src="../Content/Front/assets/js/add-methods-validate.js"></script>
<script src="../Content/Front/assets/js/messages_zh_TW.js"></script>

    <script src="../Content/Front/assets/js/zh-tw.js"></script>
    <script src="../Content/Front/assets/js/gcal.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW9F7mZ90xCH8BgK08RrJKkA-zA0NGEXo&callback=initMap2"></script>
    <script src="../Content/Front/assets/js/all.js"></script>
    <script src="../Content/Front/assets/js/google-api.js"></script>

    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_home.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}