﻿<input type="hidden" id="end_tag" value="front" />
<input type="hidden" id="unit_tag" value="index" />
<input type="hidden" id="datamode_tag" value="view" />
<input type="hidden" id="pager_tag" value="0" />


@using Model;
@{

    List<AD> ADs = new List<AD>();
    List<FILES> ad_imgs = new List<FILES>();

    ABOUT AboutItem = new ABOUT();

    using (var DB = new SOUTHMAKEREntities())
    {
        ADs = DB.AD.Where(x => x.is_deleted == 0 && x.is_enabled == 1).OrderBy(x => x.sort).ToList();
        ad_imgs = DB.FILES.Where(x => x.is_deleted == 0 && x.is_enabled == 1 && x.tag == "ad_pc" && x.img_size == "").OrderBy(x => x.date_created).ToList();

        AboutItem = DB.ABOUT.Where(x => x.is_deleted == 0).OrderBy(x => x.sort).FirstOrDefault();
    }

    List<ABOUT> transObj = new List<ABOUT>(); transObj.Add(AboutItem);
    transObj = helper.AboutTranslate(transObj);
    AboutItem = transObj[0];

}

@section top_script{
    @*<meta name="description" content="@keyword">
    <meta name="keywords" content="@description">*@
}

<section>

    @if (ADs.Count > 0)
    {
    <div class="loop owl-carousel owl-theme banner">
        @foreach (var img in ad_imgs)
        {
            AD ADItem = ADs.Where(x => x.file_id == img.obj_id).FirstOrDefault();
            if (ADItem != null)
            {
                string url = "#";
                if (string.IsNullOrEmpty(ADItem.url) == false) { url = ADItem.url.Contains("http") ? ADItem.url : "http://" + ADItem.url; }
                string img_url = "/upload/" + img.@class + "/" + img.obj_id + "/" + img.name + "." + img.exten;
                <a href="@url" target="@ADItem.target" class="item" title="@ADItem.title" data-note="video-link-target-blank-msg"><img src="@img_url" style="width:1920px; height:715px" alt="@ADItem.title"></a>
            }
        }
    </div>
    <noscript>
        @foreach (var img in ad_imgs)
        {
            AD ADItem = ADs.Where(x => x.file_id == img.obj_id).FirstOrDefault();
            if (ADItem != null)
            {
                string img_url = "/upload/" + img.@class + "/" + img.obj_id + "/" + img.name + "." + img.exten;
                <img src="@img_url" alt="@ADItem.title"  style="width:1920px; height:715px" border="0" />
            }
        }
    </noscript>
    }
</section>
<section class="introduction">
    <div class="container">
        
        @if (AboutItem != null) { @Html.Raw(AboutItem.content); }
        @*<p>南方創客基地 STMC（Southern Taiwan Maker Center）</p>
        <p>台灣首間以農村型態為主題出發之創客空間。呼應社會設計之主題，號召臺南、嘉義與雲林在地設計工作者，共同發想、討論、製作出具有社會意義之作品。有別於一般坐落於都市之Fablab，將結合雲嘉南在地農村之生活、生產與生態等元素，打造首間農村創客工坊。整合自造工坊(MakerSpace)+共同工作空間(Co-working)為在地創新空間，以「軟硬整合」為出發點的絕佳組合。</p>*@
    </div>
</section>
<section class="activity">
    <div class="container">
        <a href="#" accesskey="C" title="中央主要內容區" id="main-content" trans-attr="title">:::</a>
        <h2 class="text-center" trans-attr="text">common-news-list-name</h2>
        <hr />

            <span id="news-content"></span>

        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <a href="/News/List" class="read-more" title="common-more-info-msg" trans-attr="title,text">common-more-info-msg</a>
            </div>
        </div>
    </div>
</section>
<section class="course">
    <div class="container">
        <h2 class="text-center" trans-attr="text">common-controller-course-name</h2>
        <hr />

            <span id="course-content"></span>

        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <a href="/Course/List" class="read-more" title="common-more-info-msg" trans-attr="title,text">common-more-info-msg</a>
            </div>
        </div>
    </div>
</section>
<section class="collection">
    <div class="container">
        <h2 class="text-center" trans-attr="text">common-works-newest-msg</h2>
        <hr />

            <span id="works-content"></span>

        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <a href="/Works/List" class="read-more" title="common-more-info-msg" trans-attr="title,text">common-more-info-msg</a>
            </div>
        </div>
    </div>
</section>


@section bot_script{

    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_home.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}