﻿<input type="hidden" id="end_tag" value="front" />
<input type="hidden" id="unit_tag" value="intro" />
<input type="hidden" id="datamode_tag" value="list" />
<input type="hidden" id="pager_tag" value="0" />


@section top_style{
<link rel="stylesheet" href="../Content/Front/assets/css/about_base.css">
}

@using Model;
@{ 
    string keyword = "";
    string description = "";
    List<string> photo_img_urls = new List<string>();
    List<INTRO> datas = new List<INTRO>();

    using (var DB = new SOUTHMAKEREntities())
    {
        datas = DB.INTRO.Where(x => x.is_deleted == 0).OrderByDescending(x => x.date_created).ToList();
        foreach (var data in datas)
        {
            var img = DB.FILES
                    .Where(x => x.is_deleted == 0 && x.is_enabled == 1 && x.obj_id == data.file_id && x.tag == "intro_img" && x.img_size == "")
                    .OrderByDescending(x => x.date_created).FirstOrDefault();
            if (img != null)
            {
                photo_img_urls.Add("/upload/" + img.@class + "/" + img.obj_id + "/" + img.name + "." + img.exten);
            }
        }
    }
    datas = helper.IntroTranslate(datas);       //語言翻譯
    foreach (var item in datas)
    {
        keyword += item.keyword + ';';
        description += item.description + ';';
        //content += "<h3>" + item.title + "</h3>" + item.content;
    }



}

@section top_script{
    <meta name="description" content="@keyword">
    <meta name="keywords" content="@description">
}



   <section class="tab">
    <div class="container">
        <h2 class="text-center" trans-attr="text">common-controller-home-name</h2>
        <div class="font-size">
            <span trans-attr="text">common-font-size-area-name</span>：
            <a href="#" class="update-fz" data-size="12px" trans-attr="text">common-font-size-s</a>
            <a href="#" class="update-fz" data-size="16px" trans-attr="text">common-font-size-m</a>
            <a href="#" class="update-fz" data-size="24px" trans-attr="text">common-font-size-l</a>
        </div>
        <hr class="dot">

        <ul class="nav nav-pills">
            <li role="presentation" class="active">
                <a href="/Home/Intro" title="common-home-intro-name" trans-attr="title,text">common-home-intro-name</a>
            </li>
            <li role="presentation">
                <a href="/Home/About" title="common-home-about-name" trans-attr="title,text">common-home-about-name</a>
            </li>
            <li role="presentation">
                <a href="/Home/MakerCar" title="Maker Car" trans-attr="title,text">Maker Car</a>
            </li>
            <li role="presentation">
                <a href="/Home/Maker" title="common-home-maker-name" trans-attr="title,text">common-home-maker-name</a>
            </li>
        </ul>
    </div>
</section>
<section class="base-content base-introduction">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#" accesskey="C" title="中央主要內容區" id="main-content" trans-attr="title">:::</a> <a href="/Home/Index" title="common-home-index-name" trans-attr="title,text">common-home-index-name</a></li>
            <li><a href="/Home/Intro" title="common-controller-home-name" trans-attr="title,text">common-controller-home-name</a></li>
            <li class="active"><a href="#" title="common-home-intro-name" trans-attr="title,text">common-home-intro-name</a></li>
        </ol>

        @*@Html.Raw(content)*@
        @{
            int index = 0;
            foreach (var item in datas)
            {
                string downloadHtml = "<strong class='download'>檔案下載：";
                List<string> files_url = new List<string>();
                using (var DB = new SOUTHMAKEREntities())
                {
                    files_url = DB.FILES
                    .Where(x => x.is_deleted == 0 && x.is_enabled == 1 && x.obj_id == item.file_id && x.tag == "intro")
                    .Select(x => "/upload/" + x.@class + "/" + x.obj_id + "/" + x.name + "." + x.exten).ToList();
                }
                if (files_url.Count > 0)
                {
                    foreach (string file in files_url)
                    {
                        downloadHtml += "<a href='" + file + "' download>" + file.Split('/').Last().Split('@').Last() + "</a>｜";
                    }
                    downloadHtml = downloadHtml.TrimEnd('｜');
                }
                downloadHtml += "</strong>";

                item.content = item.content.Replace("{download}", downloadHtml);

                @Html.Raw(item.content);

                if (photo_img_urls.Count > index)
                {
                    <img src="@photo_img_urls[index]" alt="進駐招募（招募截止時間：7月24日 23:59、進駐審查：7月27日 14:00）Co-working space recruitment(recruit deadline:7/24 23:59,examination time:7/27 14:00)" class="base-img">
                }
                index++;
            }
        }

        @*<img src="../Content/Front/assets/img/base/base-img.jpg" alt="" class="base-img">*@
    </div>
</section>


@section date_modify_area{
    @{
        if (datas.Count > 0)
        {
            DateTime modify_time = datas.OrderByDescending(x => x.date_modify).FirstOrDefault().date_modify;
            <p><span trans-attr="text">common-lastest-update-span-name</span>：@(modify_time.Year - 1911 + modify_time.ToString("-MM-dd"))</p>
        }
    }
}


@section bot_script{

<script src="../Content/Front/assets/js/jquery.validate.min.js"></script>
<script src="../Content/Front/assets/js/additional-methods.js"></script>
<script src="../Content/Front/assets/js/add-methods-validate.js"></script>
<script src="../Content/Front/assets/js/messages_zh_TW.js"></script>
@*<script src="../Content/Front/assets/js/form_validate.js"></script>*@


    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_home.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}