﻿<input type="hidden" id="end_tag" value="front" />
<input type="hidden" id="unit_tag" value="maker_car" />
<input type="hidden" id="datamode_tag" value="list" />
<input type="hidden" id="pager_tag" value="0" />


@section top_style{
<link rel="stylesheet" href="../Content/Front/assets/css/about_base.css">
}

@using Model;
@{ 
    string keyword = "";
    string description = "";
    List<MAKER_CAR> datas = new List<MAKER_CAR>();
    using (var DB = new SOUTHMAKEREntities())
    {
        datas = DB.MAKER_CAR.Where(x => x.is_deleted == 0).OrderBy(x => x.sort).ToList();
    }
    datas = helper.MakerCarTranslate(datas);
    foreach (var item in datas)
    {
        keyword += item.keyword + ';';
        description += item.description + ';';
    }


}

@section top_script{
    <meta name="description" content="@keyword">
    <meta name="keywords" content="@description">
}



<section class="tab">
    <div class="container">
        <h2 class="text-center" trans-attr="text">common-controller-home-name</h2>
        <div class="font-size">
            <span trans-attr="text">common-font-size-area-name</span>：
            <a href="#" class="update-fz" data-size="12px" trans-attr="text">common-font-size-s</a>
            <a href="#" class="update-fz" data-size="16px" trans-attr="text">common-font-size-m</a>
            <a href="#" class="update-fz" data-size="24px" trans-attr="text">common-font-size-l</a>
        </div>
        <hr class="dot">

        <ul class="nav nav-pills">
            <li role="presentation">
                <a href="/Home/Intro" title="common-home-intro-name" trans-attr="title,text">common-home-intro-name</a>
            </li>
            <li role="presentation">
                <a href="/Home/About" title="common-home-about-name" trans-attr="title,text">common-home-about-name</a>
            </li>
            <li role="presentation" class="active">
                <a href="/Home/MakerCar" title="Maker Car" trans-attr="title,text">Maker Car</a>
            </li>
            <li role="presentation">
                <a href="/Home/Maker" title="common-home-maker-name" trans-attr="title,text">common-home-maker-name</a>
            </li>
        </ul>
    </div>
</section>
<section class="base-content maker-car">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#" accesskey="C" title="中央主要內容區" id="main-content" trans-attr="title">:::</a> <a href="/Home/Index" title="common-home-index-name" trans-attr="title,text">common-home-index-name</a></li>
            <li><a href="/Home/Intro" title="common-controller-home-name" trans-attr="title,text">common-controller-home-name</a></li>
            <li class="active"><a href="#" title="Maker Car" trans-attr="title,text">Maker Car</a></li>
        </ol>

        @Html.Raw(datas[0].content)

    </div>
</section>

@{
    int index = 1;
    foreach (var item in datas)
    {
        if (index != 1)
        {
            @Html.Raw(item.content);
        }
        index++;
    }
}

<section class="tour">
    <div class="container">
        <h3 class="text-center" trans-attr="text">common-home-tour-point-name</h3>
        <hr class="dot">
        <form class="form-inline" id="tour_point_search">@Html.AntiForgeryToken()
            <!-- 2018/08/08無障礙退回修改-->
            <p>開始日期、結束日期：（2018/08/08）</p>
            <div class="row">
                <div class="col-lg-7">
                    <div class="form-group">
                        <label for="start-date" class="sr-only" trans-attr="text">tour-point-search-form-start-date-label-name</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class='fa fa-calendar'></i>
                            </span>
                            <input type="date" class="form-control" id="start-date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="end-date" class="sr-only" trans-attr="text">tour-point-search-form-end-date-label-name</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class='fa fa-calendar'></i>
                            </span>
                            <input type="date" class="form-control" id="end-date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="district" class="sr-only" trans-attr="text">tour-point-search-form-district-label-name</label>
                        <select class="form-control" id="district"></select>
                    </div>
                </div>
                <div class="col-lg-5 text-right">
                    <div class="form-group">
                        <label for="history" class="sr-only" trans-attr="text">tour-point-search-form-history-label-name</label>
                        <select class="form-control" id="history"></select>
                    </div>
                    <div class="form-group">
                        <label for="search" class="sr-only" trans-attr="text">common-search-label-name2</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class='fa fa-search'></i>
                            </span>
                            <input type="text" class="form-control" id="search" placeholder="common-search-input-placeholder-name" trans-attr="placeholder">
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="front_tour_point_search_redirect()" trans-attr="text">common-search-button-name</button>
                </div>
            </div>
        </form>
        <table class="table table-bordered sticky-header" summary="tour-point-search-form-summary" id="tour_point_table" trans-attr="summary">
            <thead>
                <tr>
                    <th scope="col" id="date" trans-attr="text">tour-point-search-table-date-column-name</th>
                    <th scope="col" id="time" trans-attr="text">tour-point-search-table-time-column-name</th>
                    <th scope="col" id="place" trans-attr="text">tour-point-search-table-location-column-name</th>
                    <th scope="col" id="location" trans-attr="text">tour-point-search-table-addrrss-column-name</th>
                    <th scope="col" id="course-name" trans-attr="text">tour-point-search-table-course-name-column-name</th>
                </tr>
            </thead>
            <tbody>
                <tr data-row="temp_row" style="display:none">
                    <td scope="row" headers="date">{tour_point_date}</td>
                    <td scope="row" headers="time">{tour_point_time}</td>
                    <td scope="row" headers="place">{tour_point_location}</td>
                    <td scope="row" headers="location">{tour_point_address}</td>
                    <td scope="row" headers="course-name">{tour_point_title}</td>
                </tr>
                
            </tbody>
        </table>
        <div class="search-place">
            <h5 class="text-center" trans-attr="text">tour-point-google-map-area-name</h5>
            <div id="map"></div>
        </div>
    </div>
</section>

@section date_modify_area{
    @{ 
        if (datas.Count > 0)
        {
            DateTime modify_time = datas.OrderByDescending(x => x.date_modify).FirstOrDefault().date_modify;
            <p><span trans-attr="text">common-lastest-update-span-name</span>：@(modify_time.Year - 1911 + modify_time.ToString("-MM-dd"))</p>
        }
     }
}


@section bot_script{

<script src="../Content/Front/assets/js/zh-tw.js"></script>
<script src="../Content/Front/assets/js/gcal.min.js"></script>
@*<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW9F7mZ90xCH8BgK08RrJKkA-zA0NGEXo&callback=initMap"></script>*@
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW9F7mZ90xCH8BgK08RrJKkA-zA0NGEXo"></script>
<script src="../Content/Front/assets/js/all.js"></script>
<script src="../Content/Front/assets/js/google-api.js"></script>




    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_home.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}