﻿<input type="hidden" id="end_tag" value="front" />
<input type="hidden" id="unit_tag" value="maker" />
<input type="hidden" id="datamode_tag" value="list" />
<input type="hidden" id="pager_tag" value="1" />


@section top_style{
<link rel="stylesheet" href="../Content/Front/assets/css/about_base.css">
}


 <section class="tab">
    <div class="container">
        <h2 class="text-center" trans-attr="text">common-controller-home-name</h2>
        <div class="font-size">
            <span trans-attr="text">common-font-size-area-name</span>：
            <a href="#" class="update-fz" data-size="12px" trans-attr="text">common-font-size-s</a>
            <a href="#" class="update-fz" data-size="16px" trans-attr="text">common-font-size-m</a>
            <a href="#" class="update-fz" data-size="24px" trans-attr="text">common-font-size-l</a>
        </div>
        <hr class="dot">

        <ul class="nav nav-pills">
            <li role="presentation">
                <a href="/Home/Intro" title="common-home-intro-name" trans-attr="title,text">common-home-intro-name</a>
            </li>
            <li role="presentation">
                <a href="/Home/About" title="common-home-about-name" trans-attr="title,text">common-home-about-name</a>
            </li>
            <li role="presentation">
                <a href="/Home/MakerCar" title="Maker Car" trans-attr="title,text">Maker Car</a>
            </li>
            <li role="presentation" class="active">
                <a href="/Home/Maker" title="common-home-maker-name" trans-attr="title,text">common-home-maker-name</a>
            </li>
        </ul>
    </div>
</section>
<section class="maker-introduction">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#" accesskey="C" title="中央主要內容區" id="main-content" trans-attr="title">:::</a> <a href="/Home/Index" title="common-home-index-name" trans-attr="title,text">common-home-index-name</a></li>
            <li><a href="/Home/Intro" title="common-controller-home-name" trans-attr="title,text">common-controller-home-name</a></li>
            <li class="active"><a href="#" title="common-home-maker-name" trans-attr="title,text">common-home-maker-name</a></li>
        </ol>
        <form class="form-inline">@Html.AntiForgeryToken()
            <div class="form-group" id="home_search">
                <label for="keyword" class="sr-only" trans-attr="text">common-search-label-name2</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class='fa fa-search'></i>
                    </span>
                    <input type="text" class="form-control" id="keyword" placeholder="common-search-input-placeholder-name" trans-attr="placeholder">
                </div>
            </div>
            <button type="button" class="btn btn-primary" onclick="home_search_redirect()" trans-attr="text">common-search-button-name</button>
        </form>

        <div class="row grid">
            <span id="data-content"></span>
        </div>

        <div class="page text-center" name="pager">

        </div>
    </div>
</section>






@section bot_script{

    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_home.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}