﻿<input type="hidden" id="end_tag" value="front" />
<input type="hidden" id="unit_tag" value="maker" />
<input type="hidden" id="datamode_tag" value="view" />
<input type="hidden" id="pager_tag" value="0" />


@section top_style{
<link rel="stylesheet" href="../Content/Front/assets/css/about_base.css">
}

@using Model;
@{ 
    int id = string.IsNullOrEmpty(Request["id"]) ? 0 : int.Parse(Request["id"]);

    if (id < 1) { Response.Redirect("/Home/Index"); }

    MAKER data = new MAKER();
    List<FILES> files = new List<FILES>();

    string maker_logo_img_url = helper.default_img_url;
    List<string> maker_work_img_urls = new List<string>();
    using (var DB = new SOUTHMAKEREntities())
    {
        var findObj = DB.MAKER.Where(x => x.is_deleted == 0 && x.id == id).FirstOrDefault();
        if (findObj != null)
        {
            data = findObj;
            maker_work_img_urls = DB.FILES
                        .Where(x => x.is_deleted == 0 && x.is_enabled == 1 && x.obj_id == data.file_id && x.tag == "maker_work" && x.img_size == "")
                        .Select(x => "/upload/" + x.@class + "/" + x.obj_id + "/" + x.name + "." + x.exten).ToList();

            var fileFindObj = DB.FILES
                        .Where(x => x.is_deleted == 0 && x.is_enabled == 1 && x.obj_id == data.file_id && x.tag == "maker_logo" && x.img_size == "")
                        .Select(x => "/upload/" + x.@class + "/" + x.obj_id + "/" + x.name + "." + x.exten).FirstOrDefault();
            if (fileFindObj != null) { maker_logo_img_url = fileFindObj; }
        }
    }
    QueryObj_MAKER.stringAttrInit(ref data);

    List<MAKER> transObj = new List<MAKER>(); transObj.Add(data);
    transObj = helper.MakerTranslate(transObj);
    data = transObj[0];


}


<section class="tab">
    <div class="container">
        <h2 class="text-center" trans-attr="text">common-controller-home-name</h2>
        <div class="font-size">
            <span trans-attr="text">common-font-size-area-name</span>：
            <a href="#" class="update-fz" data-size="12px" trans-attr="text">common-font-size-s</a>
            <a href="#" class="update-fz" data-size="16px" trans-attr="text">common-font-size-m</a>
            <a href="#" class="update-fz" data-size="24px" trans-attr="text">common-font-size-l</a>
        </div>
        <hr class="dot">

        <ul class="nav nav-pills">
            <li role="presentation">
                <a href="/Home/Intro" title="common-home-intro-name" trans-attr="title,text">common-home-intro-name</a>
            </li>
            <li role="presentation">
                <a href="/Home/About" title="common-home-about-name" trans-attr="title,text">common-home-about-name</a>
            </li>
            <li role="presentation" class="active">
                <a href="/Home/MakerCar" title="Maker Car" trans-attr="title,text">Maker Car</a>
            </li>
            <li role="presentation">
                <a href="/Home/Maker" title="common-home-maker-name" trans-attr="title,text">common-home-maker-name</a>
            </li>
        </ul>
    </div>
</section>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="#" accesskey="C" title="中央主要內容區" id="main-content" trans-attr="title">:::</a> <a href="/Home/Index" title="common-home-index-name" trans-attr="title,text">common-home-index-name</a></li>
        <li><a href="/Home/Intro" title="common-controller-home-name" trans-attr="title,text">common-controller-home-name</a></li>
        <li><a href="/Home/Maker" title="common-home-maker-name" trans-attr="title,text">common-home-maker-name</a></li>
        <li class="active"><a href="#" title="@data.title">@data.title</a></li>
    </ol>
</div>
<section class="maker-work">
    <div class="container">

        <div class="row flex">
            <div class="col-sm-6">
                <h3>@data.title</h3>
                @Html.Raw(data.intro)
            </div>
            <div class="col-sm-6">
                <img src="@maker_logo_img_url" alt="@data.title" class="img-responsive">
            </div>
        </div>
    </div>
</section>
<section class="maker-work maker-information">
    <div class="container">
        <p>
            <strong class="emphasize"><span trans-attr="text">maker-detail-view-member-label-name</span>：</strong>@data.member
        </p>
        <p>
            <strong class="emphasize"><span trans-attr="text">maker-detail-view-exp-label-name</span>：</strong>@data.exp
        </p>
        <p>
            <strong class="emphasize"><span trans-attr="text">maker-detail-view-tel-label-name</span>：</strong>@data.tel
        </p>
        <p>
            <strong class="emphasize">E-mail：</strong><a href="mailto:@data.email">@data.email<a>
        </p>
        <p>
            @{ 
                string website = data.website.Contains("http") ? data.website : "http://" + data.website;
                <strong class="emphasize">Facebook：</strong><a target="_blank" href="@website">@data.website</a>
             }
        </p>
    </div>
</section>
<section class="maker-work maker-information">
    <div class="container">
        <p>
            <strong class="emphasize"><span trans-attr="text">maker-detail-view-works-label-name</span>：</strong>
        </p>
        <div class="row">

            @{
                foreach (var img_url in maker_work_img_urls)
                {
                    <div class="col-sm-3">
                        <img src="@img_url" style="height:255px; max-width:255px" alt="maker-detail-view-works-label-name2" trans-attr="alt">
                    </div>
                }
            }
        </div>
    </div>
</section>


@section date_modify_area{
    <p><span trans-attr="text">common-lastest-update-span-name</span>：@(data.date_modify.Year - 1911 + data.date_modify.ToString("-MM-dd"))</p>
}




@section bot_script{

    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_home.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}