﻿<input type="hidden" id="end_tag" value="front" />
<input type="hidden" id="unit_tag" value="map" />
<input type="hidden" id="datamode_tag" value="" />
<input type="hidden" id="pager_tag" value="0" />


@section top_style{
    <link rel="stylesheet" href="../Content/Front/assets/css/about_base.css">
}

@using Model;
@{
    List<EQUIP_CATE> cates = new List<EQUIP_CATE>();
    using (var DB = new SOUTHMAKEREntities())
    {
        cates = DB.EQUIP_CATE.Where(x =>
        x.is_deleted == 0 &&
        (
            (x.is_enabled == 1 && x.is_force_post == 1) ||                      //不下架 無視發佈時間區間的情況
            (
                x.is_enabled == 1 && x.is_force_post == 0 &&                       //需依發佈時間區間篩選
                (x.date_start.Year == 1753 ? true : x.date_start <= DateTime.Now) &&
                (x.date_end.Year == 1753 ? true : DateTime.Now <= x.date_end)
            )
        )
        ).OrderByDescending(x => x.date_created).ToList();
    }

    cates = helper.EquipCateTranslate(cates);       //資料語言翻譯
}

<section class="tab">
    <div class="container">
        <h2 class="text-center" trans-attr="text">common-home-map-page-name</h2>
        <div class="font-size">
            <span trans-attr="text">common-font-size-area-name</span>：
            <a href="#" class="update-fz" data-size="12px" trans-attr="text">common-font-size-s</a>
            <a href="#" class="update-fz" data-size="16px" trans-attr="text">common-font-size-m</a>
            <a href="#" class="update-fz" data-size="24px" trans-attr="text">common-font-size-l</a>
        </div>
        <hr class="dot">
    </div>
</section>
<section class="map">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#" accesskey="C" title="中央主要內容區" id="main-content" trans-attr="title">:::</a> <a href="/Home/Index" title="common-home-index-name" trans-attr="title,text">common-home-index-name</a></li>
            <li class="active"><a href="#" title="common-home-map-page-name" trans-attr="title,text">common-home-map-page-name</a></li>
        </ol>
        <h3 trans-attr="text">home-map-accessibility-nav-title</h3>
        <ul>
            <li trans-attr="text">home-map-accessibility-nav-info1</li>
            <li trans-attr="text">home-map-accessibility-nav-info2</li>
            <li>
                <span trans-attr="text">home-map-accessibility-nav-info3</span>
                <ol>
                    <li trans-attr="text">home-map-accessibility-nav-info3-1</li>
                    <li trans-attr="text">home-map-accessibility-nav-info3-2</li>
                    <li trans-attr="text">home-map-accessibility-nav-info3-3</li>
                    <li trans-attr="text">home-map-accessibility-nav-info3-4</li>
                </ol>
            </li>
        </ul>
    </div>
</section>
<section class="map site-map">
    <div class="container">
        <h3 trans-attr="text">common-home-map-page-name</h3>
        <div class="mainitem"><a href="/Home/About" title="common-controller-home-name" trans-attr="title">1.<span trans-attr="text">common-controller-home-name</span></a></div>
        <div class="subitem">
            <ul>
                <li><a href="/Home/About" title="common-home-about-name" trans-attr="title">1-1.<span trans-attr="text">common-home-about-name</span></a></li>
                <li><a href="/Home/Intro" title="common-home-intro-name" trans-attr="title">1-2.<span trans-attr="text">common-home-intro-name</span></a></li>
                <li><a href="/Home/MakerCar" title="MAKER CAR" trans-attr="title">1-3.<span trans-attr="text">MAKER CAR</span></a></li>
                <li><a href="/Home/Maker" title="common-home-maker-name" trans-attr="title">1-4.<span trans-attr="text">common-home-maker-name</span></a></li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="mainitem"><a href="/Course/List" title="common-controller-course-name" trans-attr="title">2.<span trans-attr="text">common-controller-course-name</span></a></div>
        <div class="mainitem"><a href="/News/List" title="common-controller-news-name" trans-attr="title">3.<span trans-attr="text">common-controller-news-name</span></a></div>
        <div class="subitem">
            <ul>
                <li><a href="/News/List" title="common-news-list-name" trans-attr="title">3-1.<span trans-attr="text">common-news-list-name</span></a></li>
                <li><a href="/News/Album" title="common-news-album-name" trans-attr="title">3-2.<span trans-attr="text">common-news-album-name</span></a></li>
                <li><a href="/News/Video" title="common-news-video-name" trans-attr="title">3-3.<span trans-attr="text">common-news-video-name</span></a></li>

            </ul>
        </div>
        <div class="clear"></div>
        <div class="mainitem"><a href="/Equip/List" title="common-controller-equip-name" trans-attr="title">4.<span trans-attr="text">common-controller-equip-name</span></a></div>
        <div class="subitem">
            <ul>
                @{ 
                    int index = 1;
                    foreach (var cate in cates)
                    {
                        <li><a href="/Equip/List?equip_cate=@cate.id" title="@cate.title">4-@(index).@cate.title</a></li>
                        index++;
                    }
                }
                @*<li><a href="equipment_digital.html" title="數位工具">4-1.數位工具</a></li>
                <li><a href="equipment_electronic.html" title="電子電路">4-2.電子電路</a></li>
                <li><a href="equipment_others.html" title="其它通用工具">4-3.其它通用工具</a></li>*@
            </ul>
        </div>
        <div class="clear"></div>
        <div class="mainitem"><a href="/Works/List" title="common-controller-works-name" trans-attr="title">5.<span trans-attr="text">common-controller-works-name</span></a></div>
        <div class="mainitem"><a href="/Member/Course" title="common-controller-member-name" trans-attr="title">6.<span trans-attr="text">common-controller-member-name</span></a></div>
        <div class="subitem">
            <ul>
                <li><a href="/Member/Login" title="common-member-login-page-name2" trans-attr="title">6-1.<span trans-attr="text">common-member-login-page-name2</span></a></li>
                <li><a href="/Member/Course" title="common-member-course-name" trans-attr="title">6-2.<span trans-attr="text">common-member-course-name</span></a></li>
                <li><a href="/Member/Edit" title="common-member-edit-name" trans-attr="title">6-3.<span trans-attr="text">common-member-edit-name</span></a></li>
                <li><a href="/Member/SurveyList" title="common-member-survey-name" trans-attr="title">6-4.<span trans-attr="text">common-member-survey-name</span></a></li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="mainitem"><a href="/Home/Contact" title="common-home-contact-page-name" trans-attr="title">7.<span trans-attr="text">common-home-contact-page-name</span></a></div>
    </div>
</section>

