﻿<input type="hidden" id="end_tag" value="front" />
<input type="hidden" id="unit_tag" value="search" />
<input type="hidden" id="datamode_tag" value="list" />
<input type="hidden" id="pager_tag" value="1" />


@section top_style{
    <link rel="stylesheet" href="../Content/Front/assets/css/search.css">
}

<section class="search-result">
    <div class="container">
        <h2 class="text-center" trans-attr="text">common-home-search-name</h2>
        <div class="font-size">
            <span trans-attr="text">common-font-size-area-name</span>：
            <a href="#" class="update-fz" data-size="12px" trans-attr="text">common-font-size-s</a>
            <a href="#" class="update-fz" data-size="16px" trans-attr="text">common-font-size-m</a>
            <a href="#" class="update-fz" data-size="24px" trans-attr="text">common-font-size-l</a>
        </div>
        <hr class="dot">
        <ol class="breadcrumb">
            <li><a href="#" accesskey="C" title="中央主要內容區" id="main-content" trans-attr="title">:::</a> <a href="/Home/Index" title="common-home-index-name" trans-attr="title,text">common-home-index-name</a></li>
            <li class="active"><a href="#" title="common-home-search-name" trans-attr="title,text">common-home-search-name</a></li>
        </ol>

        <div class="content" id="search_table">
            <h3 trans-attr="text">common-home-search-result-table-name</h3>

            <div class="row" data-row="temp_row" style="display:none">
                <div class="col-md-4 col-sm-6">
                    <div class="img-hover">
                        <a title="{title}" href="{search_url}" target="{search_target}" >
                            <img class="image-responsive" src="{search_logo}" alt="{title}">
                        </a>
                    </div>
                </div>
                <div class="col-md-8 col-sm-6">
                    @*<div class="date">Jan. 01 . 2017 </div>*@
                    <div class="date">{search_date} </div>
                    {view}@*<div class="users"><i class="fa fa-users" aria-hidden="true"></i> | 0</div>*@
                    <div class="clear"></div>
                    <h4><a title="{title}" href="{search_url}" target="{search_target}">{title}</a></h4>
                    <p class="ellipsis50">
                        {search_brief}
                    </p>
                    <a class="more" title="READ MORE {title}" href="{search_url}" name="search_btn" target="{search_target}">READ MORE ...</a>
                </div>
                <hr>
            </div>

        </div>
        <h3 id="data_empty_tip" align="center" trans-attr="text">msg_100018</h3>

        <hr>
        <div class="page text-center" name="pager">

        </div>
    </div>
</section>



@section bot_script{

    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_home.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}