﻿<input type="hidden" id="end_tag" value="front" />
<input type="hidden" id="unit_tag" value="equip" />
<input type="hidden" id="datamode_tag" value="list" />
<input type="hidden" id="pager_tag" value="1" />


@section top_style{
<link rel="stylesheet" href="../Content/Front/assets/css/equipment.css">
}

@using Model;
@{
    int intTest = 0;
    int id = string.IsNullOrEmpty(Request["equip_cate"]) ? 0 : (int.TryParse(Request["equip_cate"], out intTest) ? intTest : 0);

    List<EQUIP_CATE> cates = new List<EQUIP_CATE>();
    using (var DB = new SOUTHMAKEREntities())
    {
        cates = DB.EQUIP_CATE.Where(a =>
        a.is_deleted == 0 &&
        (
            (a.is_enabled == 1 && a.is_force_post == 1) ||                      //不下架 無視發佈時間區間的情況
            (
                a.is_enabled == 1 && a.is_force_post == 0 &&                       //需依發佈時間區間篩選
                (a.date_start.Year == 1753 ? true : a.date_start <= DateTime.Now) &&
                (a.date_end.Year == 1753 ? true : DateTime.Now <= a.date_end)
            )
        )
        ).OrderByDescending(x => x.date_created).ToList();

    }
    cates = helper.EquipCateTranslate(cates);       //語言翻譯

    if (id == 0) { id = cates[0].id; }

    EQUIP_CATE now_cate = new EQUIP_CATE();
    if(cates.Any(x => x.id == id))
    {
        now_cate = cates.Where(x => x.id == id).FirstOrDefault();
    }
    QueryObj_EQUIP_CATE.stringAttrInit(ref now_cate);
}


<section class="tab">
    <div class="container">
        <h2 class="text-center" trans-attr="text">common-controller-equip-name</h2>
        <div class="font-size">
            <span trans-attr="text">common-font-size-area-name</span>：
            <a href="#" class="update-fz" data-size="12px" trans-attr="text">common-font-size-s</a>
            <a href="#" class="update-fz" data-size="16px" trans-attr="text">common-font-size-m</a>
            <a href="#" class="update-fz" data-size="24px" trans-attr="text">common-font-size-l</a>
        </div>
        <hr class="dot">

        <ul class="nav nav-pills">

            @{
                if (cates.Count > 0)
                {
                    foreach (var cate in cates)
                    {
                        <li role="presentation" class="@(id == cate.id ? "active" : "")">
                            <a href="/Equip/List?equip_cate=@cate.id" title="@cate.title">@cate.title</a>
                        </li>
                    }
                }
             }

        </ul>
    </div>
</section>

<input type="hidden" id="cate_id" value="@id" />

<section class="maker-introduction">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#" accesskey="C" title="中央主要內容區" id="main-content" trans-attr="title">:::</a> <a href="/Home/Index" title="common-home-index-name" trans-attr="title,text">common-home-index-name</a></li>
            <li><a href="/Equip/List" title="common-controller-equip-name" trans-attr="title,text">common-controller-equip-name</a></li>
            <li class="active"><a href="#" title="@now_cate.title">@now_cate.title</a></li>
        </ol>
        <form class="form-inline">@Html.AntiForgeryToken()
            <div class="form-group" id="equip_search">
                <label for="keyword" class="sr-only" trans-attr="text">common-search-label-name2</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class='fa fa-search'></i>
                    </span>
                    <input type="text" class="form-control" id="keyword" placeholder="common-search-input-placeholder-name" trans-attr="placeholder">
                </div>
            </div>
            <button type="button" class="btn btn-primary" onclick="equip_search_redirect()" trans-attr="text">common-search-button-name</button>
        </form>

        <div class="row grid">
            <span id="data-content"></span>
        </div>

        <div class="page text-center" name="pager">
            
        </div>
    </div>
</section>








@section bot_script{

    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_equip.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}