﻿<input type="hidden" id="end_tag" value="front" />
<input type="hidden" id="unit_tag" value="course" />
<input type="hidden" id="datamode_tag" value="calendar" />
<input type="hidden" id="pager_tag" value="1" />

@{
    
}

@section top_style{
    <link rel="stylesheet" href="../Content/Front/assets/css/course.css">
}

<section class="course">
    <div class="container">
        <h2 class="text-center" trans-attr="text">common-controller-course-name</h2>
        <div class="font-size">
            <span trans-attr="text">common-font-size-area-name</span>：
            <a href="#" class="update-fz" data-size="12px" trans-attr="text">common-font-size-s</a>
            <a href="#" class="update-fz" data-size="16px" trans-attr="text">common-font-size-m</a>
            <a href="#" class="update-fz" data-size="24px" trans-attr="text">common-font-size-l</a>
        </div>
        <hr class="dot">
        <ol class="breadcrumb">
            <li><a href="#" accesskey="C" title="中央主要內容區" id="main-content" trans-attr="title">:::</a> <a href="/Home/Index" title="common-home-index-name" trans-attr="title,text">common-home-index-name</a></li>
            <li class="active"><a href="/Course/Calendar" title="common-controller-course-name" trans-attr="title,text">common-controller-course-name</a></li>
        </ol>
        <div class="row">
            <div class="col-md-6">
                <ul class="nav nav-pills">
                    <li role="presentation" class="active">
                        <a href="/Course/Calendar" title="course-calendar-note-name" trans-attr="title,text">course-calendar-label-name</a>
                    </li>
                    <li role="presentation">
                        <a href="/Course/List" title="course-list-note-name" trans-attr="title,text">course-list-label-name</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 text-right">
                <ul class="course-time">
                    <li class="all-day" trans-attr="text">course-day-type-note-all-day</li>
                    <li class="am" trans-attr="text">course-day-type-note-am</li>
                    <li class="pm" trans-attr="text">course-day-type-note-pm</li>
                    <li class="night" trans-attr="text">course-day-type-note-night</li>
                </ul>
            </div>
        </div>
        <form class="form-horizontal search" id="course_search">@Html.AntiForgeryToken()
            <fieldset>
                <legend class="text-center">
                    <h3 trans-attr="text">course-search-area-name</h3>
                </legend>
                <div class="form-group">
                    <label for="keyword" class="col-sm-2 col-sm-offset-1" trans-attr="text">course-search-form-keyword-label-name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="keyword" placeholder="common-search-input-placeholder-name" trans-attr="placeholder">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-sm-offset-1" trans-attr="text">course-search-form-recurit-status-label-name</label>
                    <div class="col-sm-8">
                        <label class="checkbox-inline" for="recurit1">
                            <input type="checkbox" name="recurit" id="recurit1" value="recruiting"> <span trans-attr="text">course-recurit-status-recruiting</span>
                        </label>
                        <label class="checkbox-inline" for="recurit2">
                            <input type="checkbox" name="recurit" id="recurit2" value="unopened"> <span trans-attr="text">course-recurit-status-unopened</span>
                        </label>
                        <label class="checkbox-inline" for="recurit3">
                            <input type="checkbox" name="recurit" id="recurit3" value="closed"> <span trans-attr="text">course-recurit-status-closed</span>
                        </label>
                    </div>
                </div>
                <div class="search-btn text-center">
                    <input type="button" class="btn btn-success" onclick="course_search_redirect()" value="course-search-submit-button-text" trans-attr="value" />
                    <button type="reset" class="btn btn-success" trans-attr="text">course-search-reset-button-text</button>
                </div>
            </fieldset>
        </form>




        <div class="week-area">
            <div class="week-header">
                <div class="week-pager">
                    <a href="javascript:void(0)" class="week-prev" title="course-calendar-prev-month-button-note    " trans-attr="title"><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></a>
                    <a href="javascript:void(0)" class="week-next" title="course-calendar-next-month-button-note" trans-attr="title"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="week-title">
                <p><strong id="calendar_title"></strong></p>
            </div>
            <div class="datalist-month">
                <table class="table table-bordered sticky-header" summary="course-calendar-table-summary" trans-attr="summary">
                    <thead>
                        <tr>
                            <th scope="col" id="sun" trans-attr="text">course-calendar-column-sun</th>
                            <th scope="col" id="mon" trans-attr="text">course-calendar-column-mon</th>
                            <th scope="col" id="thu" trans-attr="text">course-calendar-column-tue</th>
                            <th scope="col" id="wed" trans-attr="text">course-calendar-column-wed</th>
                            <th scope="col" id="thr" trans-attr="text">course-calendar-column-thu</th>
                            <th scope="col" id="fri" trans-attr="text">course-calendar-column-fri</th>
                            <th scope="col" id="sat" trans-attr="text">course-calendar-column-sat</th>
                        </tr>
                    </thead>
                    <tbody id="calendar_table">
                        <tr>
                            <td scope="row" headers="sun"><span name="day"></span></td>
                            <td scope="row" headers="mon"><span name="day"></span></td>
                            <td scope="row" headers="thu"><span name="day"></span>
                                @*<div class="course-type">
                                    <a class="type3" href="course_deadline.html" title="女力創客工作坊-編織手球器"><p>【女力創客工...</p></a>
                                </div>*@
                            </td>
                            <td scope="row" headers="wed"><span name="day"></span></td>
                            <td scope="row" headers="thr"><span name="day"></span></td>
                            <td scope="row" headers="fri"><span name="day"></span>
                                @*<div class="course-type">
                                    <a class="type4" href="#" title="主題式專案課程-環保杯提袋"><p>【主題式專案...</p></a>
                                </div>*@
                            </td>
                            <td scope="row" headers="sat"><span name="day"></span></td>
                        </tr>
                        <tr>
                            <td scope="row" headers="sun"><span name="day"></span></td>
                            <td scope="row" headers="mon"><span name="day"></span></td>
                            <td scope="row" headers="thu"><span name="day"></span>
                                @*<div class="course-type">
                                    <a class="type4" href="#" title="綠色創客工作坊-海洋動物吊飾"><p>【綠色創客工...</p></a>
                                </div>*@
                            </td>
                            <td scope="row" headers="wed"><span name="day"></span></td>
                            <td scope="row" headers="thr"><span name="day"></span>
                                @*<div class="course-type">
                                    <a class="type1" href="#" title="主題式專案課程-保麗龍切割器"><p>【主題式專案...</p></a>
                                </div>*@
                            </td>
                            <td scope="row" headers="fri"><span name="day"></span>
                                @*<div class="course-type">
                                    <a class="type4" href="course_information.html" title="農創客工作坊-自動水閘門"><p>【農創客工作...</p></a>
                                </div>*@
                            </td>
                            <td scope="row" headers="sat"><span name="day"></span></td>
                        </tr>
                        <tr>
                            <td scope="row" headers="sun"><span name="day"></span></td>
                            <td scope="row" headers="mon"><span name="day"></span></td>
                            <td scope="row" headers="thu"><span name="day"></span>
                                @*<div class="course-type">
                                    <a class="type4" href="#" title="綠色創客工作坊-雷雕機械紙手臂"><p>【綠色創客工...</p></a>
                                </div>*@
                            </td>
                            <td scope="row" headers="wed"><span name="day"></span></td>
                            <td scope="row" headers="thr"><span name="day"></span></td>
                            <td scope="row" headers="fri"><span name="day"></span></td>
                            <td scope="row" headers="sat"><span name="day"></span></td>
                        </tr>
                        <tr>
                            <td scope="row" headers="sun"><span name="day"></span></td>
                            <td scope="row" headers="mon"><span name="day"></span></td>
                            <td scope="row" headers="thu"><span name="day"></span></td>
                            <td scope="row" headers="wed"><span name="day"></span></td>
                            <td scope="row" headers="thr"><span name="day"></span></td>
                            <td scope="row" headers="fri"><span name="day"></span></td>
                            <td scope="row" headers="sat"><span name="day"></span></td>
                        </tr>
                        <tr>
                            <td scope="row" headers="sun"><span name="day"></span></td>
                            <td scope="row" headers="mon"><span name="day"></span></td>
                            <td scope="row" headers="thu"><span name="day"></span>
                                @*<div class="course-type">
                                    <a class="type4" href="course_sign_up_success.html" title="女力創客工作坊-手袋編織器"><p>【女力創客工...</p></a>
                                </div>*@
                            </td>
                            <td scope="row" headers="wed"><span name="day"></span></td>
                            <td scope="row" headers="thr"><span name="day"></span></td>
                            <td scope="row" headers="fri"><span name="day"></span></td>
                            <td scope="row" headers="sat"><span name="day"></span></td>
                        </tr>
                        <tr>
                            <td scope="row" headers="sun"><span name="day"></span></td>
                            <td scope="row" headers="mon"><span name="day"></span></td>
                            <td scope="row" headers="thu"><span name="day"></span></td>
                            <td scope="row" headers="wed"><span name="day"></span></td>
                            <td scope="row" headers="thr"><span name="day"></span></td>
                            <td scope="row" headers="fri"><span name="day"></span></td>
                            <td scope="row" headers="sat"><span name="day"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>





        <div class="sign-up-course">
            <p trans-attr="text">course-sign-up-rule</p>
            <p trans-attr="text">course-sign-up-rule1-1</p>
            <p trans-attr="text">course-sign-up-rule1-2</p>
        </div>
    </div>
</section>




@section bot_script{

<script src="../Content/Front/assets/js/jquery.validate.min.js"></script>
<script src="../Content/Front/assets/js/additional-methods.js"></script>
<script src="../Content/Front/assets/js/add-methods-validate.js"></script>
<script src="../Content/Front/assets/js/messages_zh_TW.js"></script>
<script src="../Content/Front/assets/js/form_validate.js"></script>


    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_course.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}