﻿<input type="hidden" id="end_tag" value="front" />
<input type="hidden" id="unit_tag" value="course" />
<input type="hidden" id="datamode_tag" value="view" />
<input type="hidden" id="pager_tag" value="1" />

@{
    
}

@section top_style{
    <link rel="stylesheet" href="../Content/Front/assets/css/course.css">
}

<section class="course">
    <div class="container">
        <h2 class="text-center" trans-attr="text">common-controller-course-name</h2>
        <div class="font-size">
            <span trans-attr="text">common-font-size-area-name</span>：
            <a href="#" class="update-fz" data-size="12px" trans-attr="text">common-font-size-s</a>
            <a href="#" class="update-fz" data-size="16px" trans-attr="text">common-font-size-m</a>
            <a href="#" class="update-fz" data-size="24px" trans-attr="text">common-font-size-l</a>
        </div>
        <hr class="dot">

        @*<table id="course_table"><tbody><tr data-row="temp_row" style="display:none"><td>*@

        <div class="course-information" id="course_form">
            <ol class="breadcrumb">
                <li><a href="#" accesskey="C" title="中央主要內容區" id="main-content">:::</a> <a href="/Home/Index" title="common-home-index-name" trans-attr="title,text">common-home-index-name</a></li>
                <li><a href="/Course/List" title="common-controller-course-name" trans-attr="title,text">common-controller-course-name</a></li>
                <li class="active"><a href="#" title="{title}">{title}</a></li>
            </ol>
            {cover_img}
            @*<img src="{cover_url}" alt="{title}">*@
            <p class="sign-up-people text-center"><span trans-attr="text">course-detail-applicants-number-label-name</span>：<span>{applicants_number}</span>&nbsp;<span trans-attr="text">course-detail-seat-unit-label-name</span></p>

            <h3>{title}</h3><br />
            <p><font color="#009FE8">{time}</font></p>
            <p><span trans-attr="text">course-detail-countdown-label-name</span>：<span id="deadline_leave_time">{recurit_status}</span></p><br />
            {content}

            <p><span trans-attr="text">course-detail-start-date-label-name</span>：{date_start}</p>
            <p><span trans-attr="text">course-detail-end-date-label-name</span>：{date_end}</p>
            <p><span trans-attr="text">course-detail-location-label-name</span>：{location}</p>
            <p><span trans-attr="text">course-detail-seat-label-name</span>：{seat} &nbsp;<span trans-attr="text">course-detail-seat-unit-label-name</span></p>
            <p><span trans-attr="text">course-detail-website-label-name</span>：<a href="{website}" target="_blank">{website}</a></p>
            {sign_up_button}
        </div>
    </div>
</section>


@section bot_script{

<script src="../Content/Front/assets/js/jquery.validate.min.js"></script>
<script src="../Content/Front/assets/js/additional-methods.js"></script>
<script src="../Content/Front/assets/js/add-methods-validate.js"></script>
<script src="../Content/Front/assets/js/messages_zh_TW.js"></script>
<script src="../Content/Front/assets/js/form_validate.js"></script>


    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_course.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}