﻿<input type="hidden" id="end_tag" value="front" />
<input type="hidden" id="unit_tag" value="course" />
<input type="hidden" id="datamode_tag" value="list" />
<input type="hidden" id="pager_tag" value="1" />

@{
    
}

@section top_style{
    <link rel="stylesheet" href="../Content/Front/assets/css/course.css">
}

<section class="course">
    <div class="container">
        <h2 class="text-center" trans-attr="text">common-controller-course-name</h2>
        <div class="font-size">
            <span trans-attr="text">common-font-size-area-name</span>：
            <a href="#" class="update-fz" data-size="12px" trans-attr="text">common-font-size-s</a>
            <a href="#" class="update-fz" data-size="16px" trans-attr="text">common-font-size-m</a>
            <a href="#" class="update-fz" data-size="24px" trans-attr="text">common-font-size-l</a>
        </div>
        <hr class="dot">
        <ol class="breadcrumb">
            <li><a href="#" accesskey="C" title="中央主要內容區" id="main-content" trans-attr="title">:::</a> <a href="/Home/Index" title="common-home-index-name" trans-attr="title,text">common-home-index-name</a></li>
            <li class="active"><a href="/Course/Calendar" title="common-controller-course-name" trans-attr="title,text">common-controller-course-name</a></li>
        </ol>
        <div class="row">
            <div class="col-md-6">
                <ul class="nav nav-pills">
                    <li role="presentation">
                        <a href="/Course/Calendar" title="course-calendar-note-name" trans-attr="title,text">course-calendar-label-name</a>
                    </li>
                    <li role="presentation" class="active">
                        <a href="/Course/List" title="course-list-note-name" trans-attr="title,text">course-list-label-name</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 text-right">
                <ul class="course-time">
                    <li class="all-day" trans-attr="text">course-day-type-note-all-day</li>
                    <li class="am" trans-attr="text">course-day-type-note-am</li>
                    <li class="pm" trans-attr="text">course-day-type-note-pm</li>
                    <li class="night" trans-attr="text">course-day-type-note-night</li>
                </ul>
            </div>
        </div>
        <form class="form-horizontal search" id="course_search">@Html.AntiForgeryToken()
            <fieldset>
                <legend class="text-center">
                    <h3 trans-attr="text">course-search-area-name</h3>
                </legend>
                <div class="form-group">
                    <label for="keyword" class="col-sm-2 col-sm-offset-1" trans-attr="text">course-search-form-keyword-label-name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="keyword" placeholder="common-search-input-placeholder-name" trans-attr="placeholder">
                    </div>
                </div>
                <div class="form-group training">
                    <label for="start-year" class="col-sm-2 col-sm-offset-1" trans-attr="text">course-search-form-date-range-label-name</label>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-lg-6">
                                <select name="start-year" class="form-control" id="start-year">
                                    <option value="請選擇" trans-attr="text">common-years-default-option-name</option>
                                </select>
                                <select name="start-month" class="form-control" id="start-month">
                                    <option value="請選擇" trans-attr="text">common-months-default-option-name</option>
                                </select>
                                <select name="start-date" class="form-control" id="start-date">
                                    <option value="請選擇" trans-attr="text">common-days-default-option-name</option>
                                </select>
                                <p class="training-time" trans-attr="text">course-search-form-date-to-label-name</p>
                            </div>
                            <div class="col-lg-6">
                                <select name="end-year" class="form-control" id="end-year">
                                    <option value="請選擇" trans-attr="text">common-years-default-option-name</option>
                                </select>
                                <select name="end-month" class="form-control" id="end-month">
                                    <option value="請選擇" trans-attr="text">common-months-default-option-name</option>
                                </select>
                                <select name="end-date" class="form-control" id="end-date">
                                    <option value="請選擇" trans-attr="text">common-days-default-option-name</option>
                                </select>
                                <p class="training-time" trans-attr="text">course-search-form-date-still-range-label-name</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-offset-1" trans-attr="text">course-search-form-recurit-status-label-name</label>
                    <div class="col-sm-8">
                        <label class="checkbox-inline" for="recurit1">
                            <input type="checkbox" name="recurit" id="recurit1" value="recruiting"> <span trans-attr="text">course-recurit-status-recruiting</span>
                        </label>
                        <label class="checkbox-inline" for="recurit2">
                            <input type="checkbox" name="recurit" id="recurit2" value="unopened"> <span trans-attr="text">course-recurit-status-unopened</span>
                        </label>
                        <label class="checkbox-inline" for="recurit3">
                            <input type="checkbox" name="recurit" id="recurit3" value="closed"> <span trans-attr="text">course-recurit-status-closed</span>
                        </label>
                    </div>
                </div>
                <div class="search-btn text-center">
                    <input type="button" class="btn btn-success" onclick="course_search_redirect()" value="course-search-submit-button-text" trans-attr="value" />
                    <button type="reset" class="btn btn-success" trans-attr="text">course-search-reset-button-text</button>
                </div>
            </fieldset>
        </form>

        <div class="week-area">
            <div class="datalist-row">
                <table class="table table-striped sticky-header" summary="course-list-table-summary" id="course_table" trans-attr="summary">
                    <thead>
                        <tr>
                            <th scope="col" id="c" trans-attr="text">course-list-table-column-name-title</th>
                            <th scope="col" id="t" trans-attr="text">course-list-table-column-name-date</th>
                            <th scope="col" id="p" trans-attr="text">course-list-table-column-name-location</th>
                            <th scope="col" id="a">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-row="temp_row" style="display:none">
                            <td scope="row" headers="c"><a class="type{day_type}" href="/Course/Detail?id={id}" title="{title}">{title}</a></td>
                            <td scope="row" headers="t">{course_time}</td>
                            <td scope="row" headers="p">{course_location}</td>
                            <td scope="row" headers="a"><a href="/Course/Detail?id={id}" class="course-view" title="{title}"><i class="fa fa-angle-right" aria-hidden="true"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="page text-center" name="pager">

        </div>
        <div class="sign-up-course">
            <p trans-attr="text">course-sign-up-rule</p>
            <p trans-attr="text">course-sign-up-rule1-1</p>
            <p trans-attr="text">course-sign-up-rule1-2</p> 
        </div>
    </div>
</section>



@section bot_script{

<script src="../Content/Front/assets/js/jquery.validate.min.js"></script>
<script src="../Content/Front/assets/js/additional-methods.js"></script>
<script src="../Content/Front/assets/js/add-methods-validate.js"></script>
<script src="../Content/Front/assets/js/messages_zh_TW.js"></script>
<script src="../Content/Front/assets/js/form_validate.js"></script>


    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_course.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}