﻿<input type="hidden" id="end_tag" value="front" />
<input type="hidden" id="unit_tag" value="signup" />
<input type="hidden" id="datamode_tag" value="edit" />
<input type="hidden" id="pager_tag" value="0" />

@{
    
}

@section top_style{
    <link rel="stylesheet" href="../Content/Front/assets/css/course.css">
}

<section class="course">
    <div class="container">
        <h2 class="text-center" trans-attr="text">common-controller-course-name</h2>
        <div class="font-size">
            <span trans-attr="text">common-font-size-area-name</span>：
            <a href="#" class="update-fz" data-size="12px" trans-attr="text">common-font-size-s</a>
            <a href="#" class="update-fz" data-size="16px" trans-attr="text">common-font-size-m</a>
            <a href="#" class="update-fz" data-size="24px" trans-attr="text">common-font-size-l</a>
        </div>
        <hr class="dot">
        <div class="course-information" id="course_form">
            <ol class="breadcrumb">
                <li><a href="#" accesskey="C" title="中央主要內容區" id="main-content" trans-attr="title">:::</a> <a href="/Home/Index" title="common-home-index-name" trans-attr="title,text">common-home-index-name</a></li>
                <li><a href="/Course/List" title="common-controller-course-name" trans-attr="title,text">common-controller-course-name</a></li>
                <li class="active"><a href="#" title="{title}">{title}</a></li>
            </ol>
            {cover_img}

            <h3>{title}</h3><br />
            <div class="row">
                <div class="col-sm-6">
                    <p><font color="#009FE8">{time}</font></p>
                    <p><span trans-attr="text">course-detail-countdown-label-name</span>：<span id="deadline_leave_time"></span></p>
                </div>
                <div class="col-sm-6">
                    <p class="course-sign-up text-center"><span trans-attr="text">course-detail-applicants-number-label-name</span>：<span>{applicants_number}</span>&nbsp;<span trans-attr="text">course-detail-seat-unit-label-name</p>
                </div>
            </div>
            <form>@Html.AntiForgeryToken()
                <table class="table table-bordered" summary="course-sign-up-form-name" id="member_form" trans-attr="summary">
                    <tr>
                        <th scope="col" colspan="2" trans-attr="text">course-sign-up-area-name</th>
                    </tr>
                    <tr>
                        <td scope="row" headers="s1">
                            <label for="name" trans-attr="text">course-sign-up-form-name-label-name</label>
                        </td>
                        <td scope="row" headers="s s1">
                            <input type="text" class="form-control" id="name">
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" headers="s2">
                            <label for="tel" trans-attr="text">course-sign-up-form-tel-label-name</label>
                        </td>
                        <td scope="row" headers="s s2">
                            <input type="text" class="form-control" id="tel">
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" headers="s3">
                            <label for="email" trans-attr="text">E-mail</label>
                        </td>
                        <td scope="row" headers="s s3">
                            <input type="email" class="form-control" id="email">
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" headers="s4">
                            <label for="company-school" trans-attr="text">course-sign-up-form-company-school-label-name</label>
                        </td>
                        <td scope="row" headers="s s4">
                            <input type="text" class="form-control" id="company-school">
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" headers="s5">
                            <label for="title-department" trans-attr="text">course-sign-up-form-title-department-label-name</label>
                        </td>
                        <td scope="row" headers="s s5">
                            <input type="text" class="form-control" id="title-department">
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" headers="s6">
                            <label for="member_location" trans-attr="text">course-sign-up-form-district-name</label>
                        </td>
                        <td scope="row" headers="s s6">
                            <input type="text" class="form-control" id="member_location">
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" headers="s7">
                            <label for="source" trans-attr="text">course-sign-up-form-source-name</label>
                        </td>
                        <td scope="row" headers="s s7">
                            @*<input type="text" class="form-control" id="class-information">*@
                            <select id="source"></select>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" headers="s8">
                            <label for="employ_status" trans-attr="text">course-sign-up-form-employ-status-name</label>
                        </td>
                        <td scope="row" headers="s s8">
                            @*<input type="text" class="form-control" id="work-situation">*@
                            <select id="employ_status"></select>
                        </td>
                    </tr>
                </table>
                <div class="text-center">
                    @*<button type="submit" class="btn btn-submit">送出報名</button>*@
                    <input type="button" class="btn btn-submit" onclick="user_course_sign_up_submit()" value="course-sign-up-form-submit-button-name" nolock  trans-attr="value" />
                    @*<button type="reset" class="btn btn-reset">重新填寫</button>*@
                </div>
            </form>
        </div>


        <!--底下放隱藏的會員資料表單 用於檢測會員資料是否有填完整 不完整須導回會員編輯頁填寫完整資料-->
        <div class="col-sm-5" id="hide_member_form" style="display:none">
            <form id="member-edit">@Html.AntiForgeryToken()
                <fieldset>
                    <legend><h4 trans-attr="text">member-form-area-name</h4></legend>
                    <div class="form-group">
                        <label for="name" trans-attr="text">member-form-name-column-name</label><font color="#F29600"> * </font>
                        <input type="text" name="name" class="form-control" id="name">
                        <label class="error" data-alert="name"></label>
                    </div>
                    <div class="form-group">
                        <label for="birth"><span trans-attr="text">member-form-birth-column-name</span><span>(2018/03/07)</span></label>
                        <input type="date" name="birth-date" class="form-control" id="birth">
                        <label class="error" data-alert="birth"></label>
                    </div>
                    <div class="form-group">
                        <label trans-attr="text">member-form-gender-column-name</label>
                        <label class="radio-inline" for="male">
                            <input type="radio" name="gender" id="male" value="male" checked> <span trans-attr="text">gender-male-option-name</span>
                        </label>
                        <label class="radio-inline" for="female">
                            <input type="radio" name="gender" id="female" value="female"> <span trans-attr="text">gender-female-option-name</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="occupation" trans-attr="text">member-form-occupation-column-name</label>
                        <select id="occupation" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label for="eduction" trans-attr="text">member-form-eduction-column-name</label>
                        <select id="degree" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label for="tel"><span trans-attr="text">member-form-tel-column-name</span><span>(0912345678)</span><font color="#F29600"> * </font></label>
                        <input type="text" name="telphone" class="form-control digits phoneStyle" id="tel">
                        <label class="error" data-alert="tel"></label>
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail<span>(example@gmail.com)</span><font color="#F29600"> * </font></label>
                        <input type="email" name="email" class="form-control email" id="email" disabled>
                        <label class="error" data-alert="email"></label>
                    </div>
                    <div class="form-group">
                        <label for="member_location" trans-attr="text">member-form-country-column-name</label>
                        <input type="text" name="country" class="form-control" id="member_location">
                    </div>
                    <div class="form-group">
                        <label for="motive" trans-attr="text">member-form-motive-column-name</label><font color="#F29600"> * </font>
                        <textarea rows="4" name="learning-motivation" class="form-control" id="motive"></textarea>
                        <label class="error" data-alert="motive"></label>
                    </div>
                    <div class="form-group">
                        <label for="employ_status" trans-attr="text">member-form-employ-status-column-name</label>
                        <select id="employ_status" class="form-control"></select>
                    </div>
                </fieldset>
            </form>
        </div>



    </div>
</section>






@section bot_script{

<script src="../Content/Front/assets/js/jquery.validate.min.js"></script>
<script src="../Content/Front/assets/js/additional-methods.js"></script>
<script src="../Content/Front/assets/js/add-methods-validate.js"></script>
<script src="../Content/Front/assets/js/messages_zh_TW.js"></script>
<script src="../Content/Front/assets/js/form_validate.js"></script>


    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_course.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}