﻿<input type="hidden" id="end_tag" value="back" />
<input type="hidden" id="unit_tag" value="about" />
<input type="hidden" id="datamode_tag" value="list" />
<input type="hidden" id="pager_tag" value="1" />

@{
    
}

<div id="function">
    <h3 id="page_title">?</h3>

    <div>
        @*<div id="about_search">
            <input type="text" id="keyword" />
            <button type="button" onclick="about_role.search_redirect()">搜尋</button>
        </div>*@
        
        <button type="button" onclick="location='/Admin/AboutEdit'">新增</button>
        <button type="button" onclick="admin_about_remove()">刪除所選項目</button>
        @*<button type="button" onclick="about_role.admin_data_remove()">刪除所選項目</button>*@
        
    </div>
</div>


<div align="center" class="page" name="pager"></div>



<h3 id="data_empty_tip" align="center" >目前沒有資料</h3>

<table class="list" cellspacing="0" cellpadding="0" align="Center" id="about_table" style="width:95%; display:none" >
    <tbody>
        <tr>
            <th scope="col">
                <input id="body_gv1_ckb" type="checkbox" onclick="all_row_check(this)">
            </th>
            <th scope="col">標題</th>
            @*<th scope="col">排序</th>*@
            <th scope="col">英文版</th>
            <th scope="col">編輯</th>
            
        </tr>
        <tr data-row="temp_row" style="display:none">
            <td style="width:5%;">
                <input name="ckb_delete" type="checkbox" data-id="{id}" >
            </td>
            <td style="width:10%;">
                {title}
            </td>
            <td style="width:10%;">{has_en_us}</td>
            <td style="width:10%;">
                <div>
                    @*<input type="submit" value="更新" onclick="admin_about_save(this)">*@
                    <input type="submit" value="編輯" onclick="location='/Admin/AboutEdit?id={id}'" >
                    <input type="submit" value="刪除" onclick="admin_about_remove({id})">
                </div>
            </td>
        </tr>
        
    </tbody>
</table>

<div align="center" class="page" name="pager"></div>

@section bot_script{

<script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_home.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

    @*<script>about_role.admin_list_search();</script>*@
}

