﻿<input type="hidden" id="end_tag" value="back" />
<input type="hidden" id="unit_tag" value="about" />
<input type="hidden" id="datamode_tag" value="edit" />
<input type="hidden" id="pager_tag" value="0" />

@{
    
}

<div id="function">
    <h3 id="page_title">?</h3>

    <span id="language_ctrl"></span>

</div>


<table width="100%" border="0" align="center" cellpadding="5" cellspacing="1" class="edit" id="about_form">
    <tbody>

        <tr>
            <th width="9%">*標題</th>
            <td width="91%">
                <input type="text" value="" id="title" style="width:400px;" onblur="admin_about_form_realtime_validate(this, '')">
                <p class="warning" data-alert="title"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">關鍵字</th>
            <td width="91%">
                <input type="text" id="keyword" style="width:400px;">
                <br>顯示在網頁的 meta name="Keywords"

            </td>
        </tr>
        <tr>
            <th width="9%">描述</th>
            <td width="91%">
                <textarea rows="5" cols="20" id="description" style="width:400px;"></textarea>
                <br>顯示在網頁的 meta name="Description"
            </td>
        </tr>
        <tr class="content">
            <th>*內容</th>
            <td>
                <textarea rows="2" cols="20" id="content" onblur="admin_about_form_realtime_validate(this, '')"></textarea>
                <p class="warning" data-alert="content"></p>
            </td>
        </tr>
        <tr class="sort">
            <th width="9%">排序</th>
            <td width="91%">
                <input type="number" value="0" id="sort"  style="width:40px;">
                <span>預設為0，置於最上方</span>
                <p class="warning" data-alert="sort"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">附件</th>
            <td width="91%" data-file_area="">
                <input type="submit" value="檔案上傳" onclick="$(this).closest('[data-file_area]').find('[name=uploader]').click()" />
                <input name="uploader" type="file" class="upload-btn" value="" onchange="fileUpload2($(this).closest('[data-file_area]'), this)" style="display:none"
                       data-filetype="file" data-limitcount="100" data-tag="about" data-file_id="" data-classname="about" multiple />
                <input type="hidden" name="file_command" data-tag="about" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img name="uploader_loading" style="max-width:150px; max-height:150px; display:none" src="../Content/Front_Page_Content/image/loading.gif" />
                <br />
                <span name="about_file_view"></span>
            </td>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <td>
                <input type="submit" value="確認" onclick="admin_about_save(this)">
                @*<input type="submit" value="確認" onclick="about_role.admin_form_submit()">*@
                <input type="submit" value="取消" onclick="common_edit_cancel('About')">
                @*<input type="submit" value="清空" onclick="about_role.form_clear_helper()">*@
                @*<input type="submit" value="取消" onclick="about_role.form_edit_cancel()">*@
                <p class="warning" data-alert="summary"></p>
            </td>
        </tr>
    </tbody>
</table>


@section bot_script{

    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_home.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

@*<script>about_role.admin_form_push();</script>*@
}