﻿<input type="hidden" id="end_tag" value="back" />
<input type="hidden" id="unit_tag" value="ad" />
<input type="hidden" id="datamode_tag" value="list" />
<input type="hidden" id="pager_tag" value="1" />

@{
    
}

<div id="function">
    <h3 id="page_title">?</h3>

    <table width="100%" border="0" align="center" cellpadding="5" cellspacing="1" id="ad_form">
        <tbody>
            <tr>
                <th width="15%">*圖檔上傳</th>
                <td width="84%" data-file_area="">
                    <input type="submit" value="檔案上傳" onclick="$(this).closest('[data-file_area]').find('[name=uploader]').click()" />
                    <input name="uploader" type="file" class="upload-btn" value="" onchange="fileUpload2($(this).closest('[data-file_area]'), this)" style="display:none"
                           data-filetype="img" data-limitcount="1" data-tag="ad_pc" data-file_id="" data-classname="ad_pc" />
                    <input type="hidden" name="file_command" data-tag="ad_pc" />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img name="uploader_loading" style="max-width:150px; max-height:150px; display:none" src="../Content/Front_Page_Content/image/loading.gif" />
                    <span name="ad_pc_img_view"></span>
                    <span class="warning">*最佳尺寸為1920px * 715px，如不符尺寸，圖片可能會變形。</span>
                </td>
            </tr>
            @*<tr>
                <th width="15%">平板(600 * 200)</th>
                <td width="84%" data-file_area="">
                    <input type="submit" value="檔案上傳" onclick="$(this).closest('[data-file_area]').find('[name=uploader]').click()" />
                    <input name="uploader" type="file" class="upload-btn" value="" onchange="fileUpload2($(this).closest('[data-file_area]'), this)" style="display:none"
                           data-filetype="img" data-limitcount="1" data-tag="ad_mobile" data-file_id="" data-classname="ad_mobile" />
                    <input type="hidden" name="file_command" data-tag="ad_mobile" />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img name="uploader_loading" style="max-width:150px; max-height:150px; display:none" src="../Content/Front_Page_Content/image/loading.gif" />
                    <span name="ad_mobile_img_view"></span>
                </td>
            </tr>*@
            <tr>
                <th width="9%">*廣告標題</th>
                <td width="91%">
                    <input type="text" value="" id="title" style="width:200px;" onblur="admin_ad_form_realtime_validate(this, '')">
                    <span class="warning" data-alert="title"></span>
                </td>
            </tr>
            <tr>
                <th width="9%">*網址</th>
                <td width="91%">
                    <input type="text" value="" id="ad_url" style="width:200px;" onblur="admin_ad_form_realtime_validate(this, '')">
                    <span class="warning" data-alert="ad_url"></span>
                </td>
            </tr>
            @*<tr class="content">
                <th>廣告內容</th>
                <td>
                    <textarea rows="7" cols="50" id="ad_content"></textarea>
                    <p class="warning" data-alert="content"></p>
                </td>
            </tr>*@
            <tr>
                <th width="9%">目標</th>
                <td width="91%">
                    <input type="radio" name="form_target" value="_blank" checked="checked" />新視窗
                    <input type="radio" name="form_target" value="_self" />原地開啟
                </td>
            </tr>
            <tr>
                <th width="9%">顯示</th>
                <td width="91%">
                    <input type="radio" name="form_is_enabled" value="1" checked="checked" />開啟
                    <input type="radio" name="form_is_enabled" value="0" />關閉
                </td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td>
                    @*<span class="warning">※上傳尺寸長*寬為3840*904px</span>*@
                    <input type="submit" value="新增" onclick="admin_ad_save(this)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="warning" data-alert="summary"></span>
                    <button type="button" onclick="admin_ad_remove()">刪除所選項目</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        @*<span runat="server" id="SPAN_SCOPE_SELECTOR">
            瀏覽： <asp:DropDownList ID="ddlScope" runat="server"></asp:DropDownList><br /><br />
        </span>*@
        @*關鍵字：　<asp:TextBox runat="server" ID="txtKeyword"></asp:TextBox> <asp:Button ID="btnSearch" runat="server" Text="查詢" OnClick="btnSearch_Click" /><br /><br />*@
        
        @*<button type="button" onclick="admin_ad_save(this)">新增</button>*@
        @*<button type="button" onclick="admin_ad_remove()">刪除所選項目</button>*@
        
    </div>
</div>


<div align="center" class="page" name="pager"></div>



<h3 id="data_empty_tip" align="center" >目前沒有資料</h3>

<table class="list" cellspacing="0" cellpadding="0" align="Center" id="ad_table" style="width:95%; display:none" >
    <tbody>
        <tr>
            <th scope="col">
                <input id="body_gv1_ckb" type="checkbox" onclick="all_row_check(this)">
            </th>

            <th scope="col">圖檔上傳</th>
            @*<th scope="col">平板</th>*@
            <th scope="col"></th>
            <th scope="col">目標</th>
            <th scope="col">顯示</th>
            <th scope="col">排序</th>
            <th scope="col">編輯</th>
        </tr>
        <tr data-row="temp_row" style="display:none">
            <td style="width:5%;">
                <input name="ckb_delete" type="checkbox" data-id="{id}" >
            </td>
            <td style="width:20%;" data-file_area="{file_id}">
                
                <input name="uploader" type="file" class="upload-btn" value="" onchange="fileUpload2($(this).closest('[data-file_area]'), this)" style="display:none"
                       data-filetype="img" data-limitcount="1" data-tag="ad_pc" data-file_id="{file_id}" data-classname="ad_pc" data-file_set_no="{index}" />
                <input type="hidden" name="file_command" data-tag="ad_pc" data-file_set_no="{index}" data-file_id="{file_id}"   />
                <span name="ad_pc_img_view" data-file_set_no="{index}" data-file_id="{file_id}"></span>
                @*<br />*@
                <input type="submit" value="檔案上傳" onclick="$(this).closest('[data-file_area]').find('[name=uploader]').click()" />
                <img name="uploader_loading" style="max-width:150px; max-height:150px; display:none" src="../Content/Front_Page_Content/image/loading.gif" />
            </td>
            @*<td style="width:10%;" data-file_area="{file_id}">
                
                <input name="uploader" type="file" class="upload-btn" value="" onchange="fileUpload2($(this).closest('[data-file_area]'), this)" style="display:none"
                       data-filetype="img" data-limitcount="1" data-tag="ad_mobile" data-file_id="{file_id}" data-classname="ad_mobile" data-file_set_no="{index}" />
                <input type="hidden" name="file_command" data-tag="ad_mobile" data-file_set_no="{index}" data-file_id="{file_id}" />
                <span name="ad_mobile_img_view" data-file_set_no="{index}" data-file_id="{file_id}"></span>
                <br />
                <input type="submit" value="檔案上傳" onclick="$(this).closest('[data-file_area]').find('[name=uploader]').click()" />
                <img name="uploader_loading" style="max-width:150px; max-height:150px; display:none" src="../Content/Front_Page_Content/image/loading.gif" />
            </td>*@
            <td style="width:10%;">
                <span style="float:left">
                    標題：<input name="" type="text" style="width:200px" id="title" value="{title}" >
                </span>
                <span class="warning" data-alert="title"></span>
                <br /><br />
                <span style="float:left">
                    網址：<input name="" type="text" style="width:200px" id="ad_url" value="{ad_url}">
                </span>
                <span class="warning" data-alert="ad_url"></span>
                @*<br /><br />
                <span style="float:left">內容：</span>
                <textarea rows="7" cols="50" id="ad_content" style="float:left">{ad_content}</textarea>*@
                    
            </td>
            <td style="width:10%;">
                <input type="radio" name="row_target{index}" value="_blank" checked="checked" />新視窗
                <input type="radio" name="row_target{index}" value="_self" />原地開啟
            </td>
            <td style="width:10%;">
                <input type="radio" name="row_is_enabled{index}" value="1" checked="checked" />開啟
                <input type="radio" name="row_is_enabled{index}" value="0" />關閉
            </td>
            <td style="width:10%;">
                <input type="number" style="width:50px" id="sort" value="{sort}">
            </td>
            <td style="width:10%;">
                <div>
                    <input type="submit" value="更新" onclick="admin_row_ad_save(this)">
                    <input type="submit" value="刪除" onclick="admin_ad_remove({id})">
                </div>
            </td>
        </tr>
        
    </tbody>
</table>

<div align="center" class="page" name="pager"></div>

@section bot_script{

<script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_home.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}

