﻿<input type="hidden" id="end_tag" value="back" />
<input type="hidden" id="unit_tag" value="album" />
<input type="hidden" id="datamode_tag" value="edit" />
<input type="hidden" id="pager_tag" value="0" />

@{
    
}

<div id="function">
    <h3 id="page_title">?</h3>
    <span id="language_ctrl"></span>
</div>


<table width="100%" border="0" align="center" cellpadding="5" cellspacing="1" class="edit" id="album_form">
    <tbody data-file_area="">
        <tr>
            <th width="9%">*相簿名稱</th>
            <td width="91%">
                <input type="text" value="" id="title" style="width:400px;" onblur="admin_album_form_realtime_validate(this, '')">
                <p class="warning" data-alert="title"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">圖片上傳</th>
            <td width="91%">
                <input type="submit" value="檔案上傳" onclick="$(this).closest('[data-file_area]').find('[name=album_uploader]').click()" />
                <input name="album_uploader" type="file" class="upload-btn" value="" onchange="fileUpload2($(this).closest('[data-file_area]'), this)" style="display:none"
                       data-filetype="img" data-limitcount="100" data-tag="album" data-file_id="" data-classname="album" multiple />
                <input type="hidden" name="file_command" data-tag="album" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img name="uploader_loading" style="max-width:30px; max-height:30px; display:none" src="../Content/Admin/images/loading_icon.gif" />
                <span class="warning">*最佳尺寸為370px * 230px，如不符尺寸，圖片可能會變形。</span><br />
                <span name="album_view"></span>
                
            </td>
        </tr>
        <tr>
            <th width="9%">發佈時間</th>
            <td width="91%">
                <input type="text" class="datepicker" id="date_start" style="width:200px;" onblur="admin_album_form_realtime_validate(this, '')">
                <p class="warning" data-alert="date_start"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">結束時間</th>
            <td width="91%">
                <input type="text" class="datepicker" id="date_end" style="width:200px;" onblur="admin_album_form_realtime_validate(this, '')">
                <input type="checkbox" id="is_force_post" />不下架
                <p class="warning" data-alert="date_end"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">是否張貼</th>
            <td width="91%">
                <input type="radio" name="is_enabled" value="1" />是
                <input type="radio" name="is_enabled" value="0" />否
            </td>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <td>
                <input type="submit" value="確認" onclick="admin_album_save(this)">
                <input type="submit" value="取消" onclick="common_edit_cancel('Album')">
                <p class="warning" data-alert="summary"></p>
            </td>
        </tr>
    </tbody>
</table>


@section bot_script{

<script>
        //$('.datepicker').datepicker({ dateFormat: "yy/mm/dd" });
    $('.datepicker').datetimepicker({ dateFormat: "yy/mm/dd" });
</script>

    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_news.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}