﻿<input type="hidden" id="end_tag" value="back" />
<input type="hidden" id="unit_tag" value="course_member" />
<input type="hidden" id="datamode_tag" value="list" />
<input type="hidden" id="pager_tag" value="1" />

@{
    
}

<div id="function">
    <h3 id="page_title">?</h3>

    <div>
        @*<span runat="server" id="SPAN_SCOPE_SELECTOR">
            瀏覽： <asp:DropDownList ID="ddlScope" runat="server"></asp:DropDownList><br /><br />
        </span>*@
        @*關鍵字：　<asp:TextBox runat="server" ID="txtKeyword"></asp:TextBox> <asp:Button ID="btnSearch" runat="server" Text="查詢" OnClick="btnSearch_Click" /><br /><br />*@
        
        @*<button type="button" onclick="location='/Admin/CourseEdit'">新增</button>*@
        <button type="button" onclick="admin_course_member_remove()">刪除所選項目</button>
        <button type="button" onclick="admin_course_member_enable()">審核所選項目</button>
        <button type="button" onclick="admin_course_member_export()">匯出所有項目</button>
        
    </div>
</div>


<div align="center" class="page" name="pager"></div>



<h3 id="data_empty_tip" align="center" >目前沒有資料</h3>

<table class="list" cellspacing="0" cellpadding="0" align="Center" id="course_member_table" style="width:95%; display:none" >
    <tbody>
        <tr>
            <th scope="col">
                <input id="body_gv1_ckb" type="checkbox" onclick="all_row_check(this)">
            </th>
            <th scope="col">會員名稱</th>
            <th scope="col">公司</th>
            <th scope="col">E-Mail</th>
            <th scope="col">電話</th>
            <th scope="col">是否審核通過</th>
            <th scope="col">編輯</th>
        </tr>
        <tr data-row="temp_row" style="display:none">
            <td style="width:5%;">
                <input name="ckb_delete" type="checkbox" data-id="{course_member_id}" >
            </td>
            <td style="width:10%;">
                {course_member_name}
            </td>

            <td style="width:10%;">
                {course_member_company}
                @*<input name="" type="number" id="sort" value="{sort}" >*@
            </td>
            <td style="width:10%;">
                {course_member_account}
            </td>
            <td style="width:10%;">
                {course_member_tel}
            </td>
            <td style="width:10%;">
                {course_member_is_enabled}
            </td>
            <td style="width:10%;">
                <div>
                    @*<input type="submit" value="更新" onclick="admin_course_save(this)">*@
                    <input type="submit" value="編輯" onclick="location='/Admin/CourseMemberEdit?id={course_member_id}&course_id={course_id}'" >
                    <input type="submit" value="刪除" onclick="admin_course_member_remove({course_member_id})">
                </div>
            </td>
        </tr>
        
    </tbody>
</table>

<div align="center" class="page" name="pager"></div>

@section bot_script{

<script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_course.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}

