﻿<input type="hidden" id="end_tag" value="back" />
<input type="hidden" id="unit_tag" value="course" />
<input type="hidden" id="datamode_tag" value="edit" />
<input type="hidden" id="pager_tag" value="0" />

@{
    
}

<div id="function">
    <h3 id="page_title">?</h3>
    <span id="language_ctrl"></span>
</div>


<table width="100%" border="0" align="center" cellpadding="5" cellspacing="1" class="edit" id="course_form">
    <tbody data-file_area="">
        <tr>
            <th width="9%">*課程名稱</th>
            <td width="91%">
                <input type="text" value="" id="title" style="width:400px;" >
                <p class="warning" data-alert="title"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">地點</th>
            <td width="91%">
                <input type="text" value="" id="location" style="width:400px;" >
                <p class="warning" data-alert="location"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">*地址</th>
            <td width="91%">
                <select id="district" ></select>
                <input type="text" id="address" style="width:400px;" >
                <p class="warning" data-alert="address"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">課程LOGO</th>
            <td width="91%">
                <input type="submit" value="檔案上傳" onclick="$(this).closest('[data-file_area]').find('[name=logo_uploader]').click()" />
                <input name="logo_uploader" type="file" class="upload-btn" value="" onchange="fileUpload2($(this).closest('[data-file_area]'), this)" style="display:none"
                       data-filetype="img" data-limitcount="1" data-tag="course_logo" data-file_id="" data-classname="course_logo" />
                <input type="hidden" name="file_command" data-tag="course_logo" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img name="uploader_loading" style="max-width:150px; max-height:150px; display:none" src="../Content/Front_Page_Content/image/loading.gif" />
                <span name="course_logo_view"></span>
                <span class="warning">*最佳尺寸為800px * 500px，如不符尺寸，圖片可能會變形。</span>
            </td>
        </tr>
        <tr>
            <th width="9%">*上課時間</th>
            <td width="91%">
                <input type="text" class="datepicker" id="time" style="width:200px;" >
                <p class="warning" data-alert="time"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">課程時間類型</th>
            <td width="91%">
                <select id="day_type"></select>
            </td>
        </tr>
        <tr>
            <th width="9%">網址</th>
            <td width="91%">
                <input type="text" value="" id="website" style="width:400px;" >
                <p class="warning" data-alert="website"></p>
            </td>
        </tr>
        <tr>
            <th>*內容</th>
            <td>
                <textarea rows="2" cols="20" id="content"></textarea>
                <p class="warning" data-alert="content"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">發佈時間</th>
            <td width="91%">
                <input type="text" class="datepicker" id="date_start" style="width:200px;" >
                <p class="warning" data-alert="date_start"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">結束時間</th>
            <td width="91%">
                <input type="text" class="datepicker" id="date_end" style="width:200px;" >
                @*<input type="checkbox" id="is_force_post" />不下架*@
                <p class="warning" data-alert="date_end"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">*報名人數</th>
            <td width="91%">
                <input type="number" id="seat" >
                <p class="warning" data-alert="seat"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">是否張貼</th>
            <td width="91%">
                <input type="radio" name="is_enabled" value="1" />是
                <input type="radio" name="is_enabled" value="0" />否
            </td>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <td>
                <input type="submit" value="確認" onclick="admin_course_save(this)">
                <input type="submit" value="取消" onclick="common_edit_cancel('Course')">
                <p class="warning" data-alert="summary"></p>
            </td>
        </tr>
    </tbody>
</table>


@section bot_script{

<script>
        //$('.datepicker').datepicker({ dateFormat: "yy/mm/dd" });
    $('.datepicker').datetimepicker({ dateFormat: "yy/mm/dd" });
</script>

    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_course.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}