﻿<input type="hidden" id="end_tag" value="back" />
<input type="hidden" id="unit_tag" value="course_survey" />
<input type="hidden" id="datamode_tag" value="list" />
<input type="hidden" id="pager_tag" value="1" />

@{
    
}

<div id="function">
    <h3 id="page_title">?</h3>

    <div>
        @*<span runat="server" id="SPAN_SCOPE_SELECTOR">
            瀏覽： <asp:DropDownList ID="ddlScope" runat="server"></asp:DropDownList><br /><br />
        </span>*@
        @*關鍵字：　<asp:TextBox runat="server" ID="txtKeyword"></asp:TextBox> <asp:Button ID="btnSearch" runat="server" Text="查詢" OnClick="btnSearch_Click" /><br /><br />*@
        
        @*<button type="button" onclick="location='/Admin/CourseEdit'">新增</button>*@
        @*<button type="button" onclick="admin_course_remove()">刪除所選項目</button>*@
        
    </div>
</div>


<div align="center" class="page" name="pager"></div>



<h3 id="data_empty_tip" align="center" >目前沒有資料</h3>

<table class="list" cellspacing="0" cellpadding="0" align="Center" id="course_table" style="width:95%; display:none" >
    <tbody>
        <tr>

            <th scope="col">課程名稱</th>
            <th scope="col">問卷人數</th>
            <th scope="col">是否開放</th>
            <th scope="col">編輯</th>
        </tr>
        <tr data-row="temp_row" style="display:none">

            <td style="width:10%;">
                {title}
                @*<input name="" type="text" id="location" value="{location}" >
                <span class="warning" data-alert="location"></span>*@
            </td>

            <td style="width:10%;">
                {survey_count}
            </td>
            <td style="width:10%;">
                是
            </td>
            <td style="width:10%;">
                <div>
                    <input type="submit" value="查看會員" onclick="location='/Admin/SurveyMember?course_id={id}'">
                    <input type="submit" value="問卷統計" onclick="location='/Admin/SurveySummary?course_id={id}'">
                    @*<input type="submit" value="更新" onclick="admin_course_save(this)">*@
                    @*<input type="submit" value="查看會員" onclick="location='/Admin/CourseMember?course_id={id}'">
                    <input type="submit" value="編輯" onclick="location='/Admin/CourseEdit?id={id}'" >
                    <input type="submit" value="刪除" onclick="admin_course_remove({id})">*@
                </div>
            </td>
        </tr>
        
    </tbody>
</table>



<div align="center" class="page" name="pager"></div>

@section bot_script{

<script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_course.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}

