﻿<input type="hidden" id="end_tag" value="back" />
<input type="hidden" id="unit_tag" value="course_member" />
<input type="hidden" id="datamode_tag" value="edit" />
<input type="hidden" id="pager_tag" value="0" />

@{

}

<div id="function">
    <h3 id="page_title">?</h3>

</div>


<table width="100%" border="0" align="center" cellpadding="5" cellspacing="1" class="edit" id="course_member_form">
    <tbody data-file_area="">
        <tr>
            <th width="9%">*帳號</th>
            <td width="91%">
                <input type="text" value="" id="account" style="width:400px;" onblur="admin_member_form_realtime_validate(this, '')">
                <p class="warning" data-alert="account"></p>
            </td>
        </tr>

        <tr>
            <th width="9%">*姓名</th>
            <td width="91%">
                <input type="text" value="" id="name" style="width:400px;" onblur="admin_member_form_realtime_validate(this, '')">
                <p class="warning" data-alert="name"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">性別</th>
            <td width="91%">
                <input type="radio" value="male" />男
                <input type="radio" value="female" />女
                <p class="warning" data-alert="gender"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">生日</th>
            <td width="91%">
                <input type="text" value="" id="birth" style="width:400px;" onblur="admin_member_form_realtime_validate(this, '')">
                <p class="warning" data-alert="birth"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">職業</th>
            <td width="91%">
                <input type="text" value="" id="occupation" style="width:400px;" onblur="admin_member_form_realtime_validate(this, '')">
                <p class="warning" data-alert="occupation"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">學校</th>
            <td width="91%">
                <input type="text" value="" id="school" style="width:400px;" onblur="admin_member_form_realtime_validate(this, '')">
                <p class="warning" data-alert="school"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">公司</th>
            <td width="91%">
                <input type="text" value="" id="company" style="width:400px;" onblur="admin_member_form_realtime_validate(this, '')">
                <p class="warning" data-alert="company"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">學歷</th>
            <td width="91%">
                <select id="degree"></select>
                <p class="warning" data-alert="degree"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">職稱</th>
            <td width="91%">
                <input type="text" value="" id="member_title" style="width:400px;" onblur="admin_member_form_realtime_validate(this, '')">
                <p class="warning" data-alert="member_title"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">科系</th>
            <td width="91%">
                <input type="text" value="" id="department" style="width:400px;" onblur="admin_member_form_realtime_validate(this, '')">
                <p class="warning" data-alert="department"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">*電話</th>
            <td width="91%">
                <input type="text" value="" id="tel" style="width:400px;" onblur="admin_member_form_realtime_validate(this, '')">
                <p class="warning" data-alert="tel"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">E-Mail</th>
            <td width="91%">
                <input type="text" value="" id="email" style="width:400px;" onblur="admin_member_form_realtime_validate(this, '')">
                <p class="warning" data-alert="email"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">居住縣市</th>
            <td width="91%">
                <input type="text" value="" id="member_location" style="width:400px;" onblur="admin_member_form_realtime_validate(this, '')">
                <p class="warning" data-alert="member_location"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">*學習動機</th>
            <td width="91%">
                <input type="text" value="" id="motive" style="width:400px;" onblur="admin_member_form_realtime_validate(this, '')">
                <p class="warning" data-alert="motive"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">課程報名資訊</th>
            <td width="91%">
                <select id="source"></select>
                <p class="warning" data-alert="source"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">就業狀況</th>
            <td width="91%">
                <select id="employ_status"></select>
                <p class="warning" data-alert="employ_status"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">是否審核</th>
            <td width="91%">
                <select id="course_member_is_enabled" nolock>
                    <option value="0">尚未審核</option>
                    <option value="1">審核成功</option>
                </select>
            </td>
        </tr>

        <tr>
            <th>&nbsp;</th>
            <td>
                <input type="submit" value="確認" onclick="admin_course_member_save(this)" nolock>
                <input type="submit" value="取消" onclick="location = '/Admin/CourseMember?course_id=' + getReq('course_id');" nolock>
                <p class="warning" data-alert="summary"></p>
            </td>
        </tr>
    </tbody>
</table>


@section bot_script{

    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_course.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}