﻿@using System.Web.Configuration;

@*@using BotDetect.Web.Mvc;
@{
    MvcCaptcha AdminLoginCaptchaObj = new MvcCaptcha("AdminLoginCaptchaObj");
    AdminLoginCaptchaObj.CodeLength = 4;
    AdminLoginCaptchaObj.ImageStyle = BotDetect.ImageStyle.BlackOverlap;
    Session["AdminLoginCaptchaObj"] = AdminLoginCaptchaObj;
}*@


<!DOCTYPE html >
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=big5" />
    <title>南方創客基地後台管理</title>
    <link href="../Content/Admin/css/stylesheet.css" rel="stylesheet" type="text/css" />

    @*<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />*@
</head>

<body>
    <div style="background:#4d060a" align="center"><img src="~/Content/Front/assets/img/base/logo_orginal.png" height="100" /></div>

        <table border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td height="155" align="center">
                    <div class="login" id="login_form">
                        <p>
                            南方創客基地後台
                        </p>
                        <table width="400" border="0" align="center" cellpadding="10" cellspacing="0">
                            <tr>
                                <td width="89" align="right">帳號：</td>
                                <td width="189">
                                    <input type="text" id="account" class="login_input" />
                                </td>
                            </tr>
                            <tr>
                                <td align="right">密碼：</td>
                                <td>
                                    <input type="password" id="password" class="login_input" />
                                </td>
                            </tr>
                            <tr>
                                <td align="right">驗證碼：</td>
                                <td>
                                    @*@Html.Captcha(AdminLoginCaptchaObj)*@
                                    <img id="captcha_img" src="" alt="captcha" />
                                    <audio id="myaudio" type="audio/mp3" src=""></audio>
                                    <a href="javascript:;" onclick="user_contact_update_captcha()" title="更新驗證碼">更新驗證碼</a>
                                    <a href="javascript:;" onclick="captcha_voice('user_contact')" title="語音播放">語音播放</a>
                                    <input type="text" id="captcha" class="login_input" />

                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    <input type="button" class="login_button" onclick="admin_login()" />
                                    <p data-alert="summary" class="warning"></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    <div class="login_footer">2018 &copy; 版權所有 鴻星數位科技有限公司 HStar All Rights Reversed</div>



    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/polyfill/polyfill.js"></script>
    <script src="../@(WebConfigurationManager.AppSettings["jsmode"])/lang/zh_hant.js?v=@(WebConfigurationManager.AppSettings["ver"])"></script>
    <script src="../@(WebConfigurationManager.AppSettings["jsmode"])/main.js?v=@(WebConfigurationManager.AppSettings["ver"])"></script>
    <script src="../@(WebConfigurationManager.AppSettings["jsmode"])/ajax_post_function.js?v=@(WebConfigurationManager.AppSettings["ver"])"></script>
    <script src="../@(WebConfigurationManager.AppSettings["jsmode"])/helper_nav.js?v=@(WebConfigurationManager.AppSettings["ver"])"></script>
    <script src="../@(WebConfigurationManager.AppSettings["jsmode"])/func_admin.js?v=@(WebConfigurationManager.AppSettings["ver"])"></script>

</body>
</html>
