﻿<input type="hidden" id="end_tag" value="back" />
<input type="hidden" id="unit_tag" value="maker" />
<input type="hidden" id="datamode_tag" value="edit" />
<input type="hidden" id="pager_tag" value="0" />

@{
    
}

<div id="function">
    <h3 id="page_title">?</h3>
    <span id="language_ctrl"></span>
</div>


<table width="100%" border="0" align="center" cellpadding="5" cellspacing="1" class="edit" id="maker_form">
    <tbody data-file_area="">
        <tr>
            <th width="9%">*標題</th>
            <td width="91%">
                <input type="text" value="" id="title" style="width:400px;" onblur="admin_maker_form_realtime_validate(this, '')">
                <p class="warning" data-alert="title"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">*聯絡電話</th>
            <td width="91%">
                <input type="text" value="" id="tel" style="width:400px;" onblur="admin_maker_form_realtime_validate(this, '')">
                <p class="warning" data-alert="tel"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">E-mail</th>
            <td width="91%">
                <input type="text" value="" id="email" style="width:400px;" onblur="admin_maker_form_realtime_validate(this, '')">
                <p class="warning" data-alert="email"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">FACEBOOK網址</th>
            <td width="91%">
                <input type="text" value="" id="website" style="width:400px;" onblur="admin_maker_form_realtime_validate(this, '')">
                <p class="warning" data-alert="website"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">團隊成員</th>
            <td width="91%">
                <input type="text" value="" id="member" style="width:400px;" onblur="admin_maker_form_realtime_validate(this, '')">
                <p class="warning" data-alert="member"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">團隊經歷</th>
            <td width="91%">
                <input type="text" value="" id="exp" style="width:400px;" onblur="admin_maker_form_realtime_validate(this, '')">
                <p class="warning" data-alert="exp"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">團隊LOGO</th>
            <td width="91%">
                <input type="submit" value="檔案上傳" onclick="$(this).closest('[data-file_area]').find('[name=logo_uploader]').click()" />
                <br />(最佳瀏覽尺寸為370px*230px)<br />
                <input name="logo_uploader" type="file" class="upload-btn" value="" onchange="fileUpload2($(this).closest('[data-file_area]'), this)" style="display:none"
                       data-filetype="img" data-limitcount="1" data-tag="maker_logo" data-file_id="" data-classname="maker_logo" />
                <input type="hidden" name="file_command" data-tag="maker_logo" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img name="uploader_loading" style="max-width:150px; max-height:150px; display:none" src="../Content/Front_Page_Content/image/loading.gif" />
                <span name="maker_logo_view"></span>
            </td>
        </tr>
        <tr>
            <th width="9%">作品介紹</th>
            <td width="91%">
                <input type="submit" value="檔案上傳" onclick="$(this).closest('[data-file_area]').find('[name=work_uploader]').click()" />
                <input name="work_uploader" type="file" class="upload-btn" value="" onchange="fileUpload2($(this).closest('[data-file_area]'), this)" style="display:none" multiple
                       data-filetype="img" data-limitcount="100" data-tag="maker_work" data-file_id="" data-classname="maker_work" />
                <input type="hidden" name="file_command" data-tag="maker_work" />
                <br /><br />
                <img name="uploader_loading" style="max-width:150px; max-height:150px; display:none" src="../Content/Front_Page_Content/image/loading.gif" />
                <span name="maker_work_view"></span>
            </td>
        </tr>
        <tr>
            <th>*團隊介紹</th>
            <td>
                <textarea rows="2" cols="20" id="intro" onblur="admin_maker_form_realtime_validate(this, '')"></textarea>
                <p class="warning" data-alert="intro"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">是否張貼</th>
            <td width="91%">
                <input type="radio" name="is_enabled" value="1" />是
                <input type="radio" name="is_enabled" value="0" />否
            </td>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <td>
                <input type="submit" value="確認" onclick="admin_maker_save(this)">
                <input type="submit" value="取消" onclick="common_edit_cancel('Maker')">
                <p class="warning" data-alert="summary"></p>
            </td>
        </tr>
    </tbody>
</table>


@section bot_script{

<script>
        //$('.datepicker').datepicker({ dateFormat: "yy/mm/dd" });
    //$('.datepicker').datetimepicker({ dateFormat: "yy/mm/dd" });
</script>

    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_home.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}