﻿<input type="hidden" id="end_tag" value="back" />
<input type="hidden" id="unit_tag" value="member" />
<input type="hidden" id="datamode_tag" value="list" />
<input type="hidden" id="pager_tag" value="1" />

@{
    
}

<div id="function">
    <h3 id="page_title">?</h3>

    <div>
        @*<span runat="server" id="SPAN_SCOPE_SELECTOR">
            瀏覽： <asp:DropDownList ID="ddlScope" runat="server"></asp:DropDownList><br /><br />
        </span>*@
        @*關鍵字：　<asp:TextBox runat="server" ID="txtKeyword"></asp:TextBox> <asp:Button ID="btnSearch" runat="server" Text="查詢" OnClick="btnSearch_Click" /><br /><br />*@
        
        <button type="button" onclick="location='/Admin/MemberEdit'">新增</button>
        <button type="button" onclick="admin_member_remove()">刪除所選項目</button>
        <button type="button" onclick="admin_member_export()">匯出所有項目</button>
        <button type="button" onclick="member_export_example()">下載匯入範例檔</button>

        <span>
            <input type="submit" value="檔案匯入" onclick="$(this).closest('span').find('[name=uploader]').click()" />
            <input name="uploader" type="file" class="upload-btn" value="" onchange="importExcel($(this).closest('span'), this)" style="display:none" data-tag="member" />
            <img name="uploader_loading" style="max-width:150px; max-height:150px; display:none" src="../Content/Front_Page_Content/image/loading.gif" />
        </span>
        
    </div>
</div>


<div align="center" class="page" name="pager"></div>



<h3 id="data_empty_tip" align="center" >目前沒有資料</h3>

<table class="list" cellspacing="0" cellpadding="0" align="Center" id="member_table" style="width:95%; display:none" >
    <tbody>
        <tr>
            <th scope="col">
                <input id="body_gv1_ckb" type="checkbox" onclick="all_row_check(this)">
            </th>
            <th scope="col">序號</th>
            <th scope="col">公司名稱</th>
            <th scope="col">姓名</th>
            <th scope="col">帳號</th>
            <th scope="col">電話</th>
            <th scope="col">審核情況</th>
            <th scope="col">編輯</th>
        </tr>
        <tr data-row="temp_row" style="display:none">
            <td style="width:5%;">
                <input name="ckb_delete" type="checkbox" data-id="{id}" >
            </td>
            <td style="width:10%;">
                {id}
            </td>
            <td style="width:10%;">
                {company}
            </td>

            <td style="width:10%;">
                {name}
            </td>
            <td style="width:10%;">
                {account}
            </td>
            <td style="width:10%;">
                {tel}
            </td>
            <td style="width:10%;">
                {member_is_enabled}
            </td>
            <td style="width:10%;">
                <div>
                    @*<input type="submit" value="更新" onclick="admin_course_save(this)">*@
                    <input type="submit" value="認證信" onclick="member_activate_mail('{id}', '{account}', '{checkcode}')">
                    <input type="submit" value="編輯" onclick="location='/Admin/MemberEdit?id={id}'" >
                    <input type="submit" value="刪除" onclick="admin_member_remove({id})">
                </div>
            </td>
        </tr>
        
    </tbody>
</table>

<div align="center" class="page" name="pager"></div>

@section bot_script{

<script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_member.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}

