﻿<input type="hidden" id="end_tag" value="back" />
<input type="hidden" id="unit_tag" value="survey_summary" />
<input type="hidden" id="datamode_tag" value="list" />
<input type="hidden" id="pager_tag" value="0" />

@{
    
}

<div id="function">
    <h3 id="page_title">?</h3>

    <div>
        @*<span runat="server" id="SPAN_SCOPE_SELECTOR">
            瀏覽： <asp:DropDownList ID="ddlScope" runat="server"></asp:DropDownList><br /><br />
        </span>*@
        @*關鍵字：　<asp:TextBox runat="server" ID="txtKeyword"></asp:TextBox> <asp:Button ID="btnSearch" runat="server" Text="查詢" OnClick="btnSearch_Click" /><br /><br />*@
        
        @*<button type="button" onclick="location='/Admin/CourseEdit'">新增</button>*@
        @*<button type="button" onclick="admin_course_remove()">刪除所選項目</button>*@
        
    </div>
</div>



<h3 id="data_empty_tip" align="center" >目前沒有資料</h3>


<table class="list" cellspacing="0" cellpadding="0" align="Center" id="survey_summary_table" style="width:95%">
    <tbody>
        <tr>

            <th scope="col">題項</th>
            <th scope="col">平均值</th>
            <th scope="col">圖表</th>
        </tr>
        <tr>

            <td style="width:20%;">學習目標清楚</td>
            <td style="width:10%;" name="avg1">0.00</td>
            <td style="width:50%;" rowspan="5">
                <noscript>本圖表需要使用Javascript，若無作用以前方表格數值為主</noscript>
                <canvas id="canvas1"></canvas>
                <noscript>本圖表需要使用Javascript，若無作用以前方表格數值為主</noscript>
            </td>
        </tr>
        <tr>
            <td style="width:10%;">學習內容有幫助</td>
            <td style="width:10%;" name="avg2">0.00</td>
        </tr>
        <tr>
            <td style="width:10%;">學習內容條理分明</td>
            <td style="width:10%;" name="avg3">0.00</td>
        </tr>
        <tr>
            <td style="width:10%;">學習內容生動有趣</td>
            <td style="width:10%;" name="avg4">0.00</td>
        </tr>
        <tr>
            <td style="width:10%;">課程時間安排恰當</td>
            <td style="width:10%;" name="avg5">0.00</td>
        </tr>

    </tbody>
</table>


@section bot_script{

<script src="~/Content/Admin/js/Chart.js"></script>
<script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_course.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}

