﻿<input type="hidden" id="end_tag" value="back" />
<input type="hidden" id="unit_tag" value="survey_member" />
<input type="hidden" id="datamode_tag" value="list" />
<input type="hidden" id="pager_tag" value="1" />

@{
    
}

<div id="function">
    <h3 id="page_title">?</h3>

    <div>
        @*<span runat="server" id="SPAN_SCOPE_SELECTOR">
            瀏覽： <asp:DropDownList ID="ddlScope" runat="server"></asp:DropDownList><br /><br />
        </span>*@
        @*關鍵字：　<asp:TextBox runat="server" ID="txtKeyword"></asp:TextBox> <asp:Button ID="btnSearch" runat="server" Text="查詢" OnClick="btnSearch_Click" /><br /><br />*@
        
        @*<button type="button" onclick="location='/Admin/CourseEdit'">新增</button>*@
        @*<button type="button" onclick="admin_course_remove()">刪除所選項目</button>*@
        
    </div>
</div>


<div align="center" class="page" name="pager"></div>



<h3 id="data_empty_tip" align="center" >目前沒有資料</h3>

<table class="list" cellspacing="0" cellpadding="0" align="Center" id="survey_member_table" style="width:95%; display:none" >
    <tbody>
        <tr>

            <th scope="col">序號</th>
            <th scope="col">會員名稱</th>
            <th scope="col">填寫時間</th>
            <th scope="col"></th>
        </tr>
        <tr data-row="temp_row" style="display:none">

            <td style="width:10%;">
                {survey_id}
                @*<input name="" type="text" id="location" value="{location}" >
                <span class="warning" data-alert="location"></span>*@
            </td>

            <td style="width:10%;">
                {course_member_name}
            </td>
            <td style="width:10%;">
                {survey_date_created}
            </td>
            <td style="width:10%;">
                <div>
                    <input type="submit" value="查看內容" onclick="location='/Admin/SurveyDetail?id={survey_id}'">
                </div>
            </td>
        </tr>
        
    </tbody>
</table>



<div align="center" class="page" name="pager"></div>

@section bot_script{

<script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_course.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}

