﻿<input type="hidden" id="end_tag" value="back" />
<input type="hidden" id="unit_tag" value="survey_detail" />
<input type="hidden" id="datamode_tag" value="list" />
<input type="hidden" id="pager_tag" value="0" />

@{
    
}

<div id="function">
    <h3 id="page_title">?</h3>

    <div>
        @*<span runat="server" id="SPAN_SCOPE_SELECTOR">
            瀏覽： <asp:DropDownList ID="ddlScope" runat="server"></asp:DropDownList><br /><br />
        </span>*@
        @*關鍵字：　<asp:TextBox runat="server" ID="txtKeyword"></asp:TextBox> <asp:Button ID="btnSearch" runat="server" Text="查詢" OnClick="btnSearch_Click" /><br /><br />*@
        
        @*<button type="button" onclick="location='/Admin/CourseEdit'">新增</button>*@
        @*<button type="button" onclick="admin_course_remove()">刪除所選項目</button>*@
        
    </div>
</div>



<h3 id="data_empty_tip" align="center" >目前沒有資料</h3>

<div id="survey_detail_form">

<h3>課程：<span name="survey_course_title"></span></h3>
<h3>姓名：<span name="survey_member_name"></span></h3>
<h3 align="center">專業知能</h3>
<table class="list" cellspacing="0" cellpadding="0" align="Center" style="width:95%">
    <tbody>
        <tr>
            <th scope="col">題目</th>
            <th scope="col">非常同意</th>
            <th scope="col">同意</th>
            <th scope="col">普通</th>
            <th scope="col">不同意</th>
            <th scope="col">非常不同意</th>
        </tr>
        <tr name="a1">
            <td style="width:20%;">學習目標清楚</td>
            <td style="width:10%;" data-val="5"></td>
            <td style="width:10%;" data-val="4"></td>
            <td style="width:10%;" data-val="3"></td>
            <td style="width:10%;" data-val="2"></td>
            <td style="width:10%;" data-val="1"></td>
        </tr>
        <tr name="a2">
            <td style="width:10%;">學習內容有幫助</td>
            <td style="width:10%;" data-val="5"></td>
            <td style="width:10%;" data-val="4"></td>
            <td style="width:10%;" data-val="3"></td>
            <td style="width:10%;" data-val="2"></td>
            <td style="width:10%;" data-val="1"></td>
        </tr>
        <tr name="a3">
            <td style="width:10%;">學習內容條理分明</td>
            <td style="width:10%;" data-val="5"></td>
            <td style="width:10%;" data-val="4"></td>
            <td style="width:10%;" data-val="3"></td>
            <td style="width:10%;" data-val="2"></td>
            <td style="width:10%;" data-val="1"></td>
        </tr>
        <tr name="a4">
            <td style="width:10%;">學習內容生動有趣</td>
            <td style="width:10%;" data-val="5"></td>
            <td style="width:10%;" data-val="4"></td>
            <td style="width:10%;" data-val="3"></td>
            <td style="width:10%;" data-val="2"></td>
            <td style="width:10%;" data-val="1"></td>
        </tr>
        <tr name="a5">
            <td style="width:10%;">課程時間安排恰當</td>
            <td style="width:10%;" data-val="5"></td>
            <td style="width:10%;" data-val="4"></td>
            <td style="width:10%;" data-val="3"></td>
            <td style="width:10%;" data-val="2"></td>
            <td style="width:10%;" data-val="1"></td>
        </tr>

    </tbody>
</table>

    <h3 align="center">活動回饋</h3>
    <table class="list" cellspacing="0" cellpadding="0" align="Center" style="width:95%">
        <tbody>
            @*<tr>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>*@
            <tr>
                <td style="width:20%;">在哪邊得知消息?</td>
                <td style="width:50%;" name="f1"></td>
            </tr>
            <tr>
                <td style="width:10%;">什麼原因讓你想參加活動?</td>
                <td style="width:50%;" name="f2"></td>
            </tr>
            <tr>
                <td style="width:10%;">希望南方創客基地舉辦甚麼活動呢?</td>
                <td style="width:50%;"><textarea name="f3" rows="4" cols="50"></textarea></td>
            </tr>
            <tr>
                <td style="width:10%;">活動有沒有需要改進的地方?</td>
                <td style="width:50%;"><textarea name="f4" rows="4" cols="50"></textarea></td>
            </tr>
            <tr>
                <td style="width:10%;">印象最深刻的活動內容是?</td>
                <td style="width:50%;"><textarea name="f5" rows="4" cols="50"></textarea></td>
            </tr>

        </tbody>
    </table>


</div>



@section bot_script{

<script src="~/Content/Admin/js/Chart.js"></script>
<script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_course.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}

