﻿<input type="hidden" id="end_tag" value="back" />
<input type="hidden" id="unit_tag" value="tour_point" />
<input type="hidden" id="datamode_tag" value="edit" />
<input type="hidden" id="pager_tag" value="0" />

@{
    
}

<div id="function">
    <h3 id="page_title">?</h3>
    <span id="language_ctrl"></span>
</div>


<table width="100%" border="0" align="center" cellpadding="5" cellspacing="1" class="edit" id="tour_point_form">
    <tbody>
        <tr>
            <th width="9%">*課程名稱</th>
            <td width="91%">
                <input type="text" value="" id="title" style="width:400px;" onblur="admin_tour_point_form_realtime_validate(this, '')">
                <p class="warning" data-alert="title"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">*地點</th>
            <td width="91%">
                <input type="text" value="" id="location" style="width:400px;" onblur="admin_tour_point_form_realtime_validate(this, '')">
                <p class="warning" data-alert="location"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">*地址</th>
            <td width="91%">
                <select id="district" onblur="admin_tour_point_form_realtime_validate(this, '')"></select>
                <input type="text" id="address" style="width:400px;" onblur="admin_tour_point_form_realtime_validate(this, '')">
                <p class="warning" data-alert="address"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">*經緯度座標</th>
            <td width="91%">
                經度：<input type="text" id="latitude" style="width:200px;" onblur="admin_tour_point_form_realtime_validate(this, '')">
                <span class="warning" data-alert="latitude"></span><br />
                緯度：<input type="text" id="longitude" style="width:200px;" onblur="admin_tour_point_form_realtime_validate(this, '')">
                <span class="warning" data-alert="longitude"></span>
            </td>
        </tr>
        <tr>
            <th width="9%">*巡迴開始時間</th>
            <td width="91%">
                <input type="text" class="datepicker" id="time" style="width:200px;" onblur="admin_tour_point_form_realtime_validate(this, '')">
                <p class="warning" data-alert="time"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">*巡迴結束時間</th>
            <td width="91%">
                <input type="text" class="datepicker" id="leave_time" style="width:200px;" onblur="admin_tour_point_form_realtime_validate(this, '')">
                <p class="warning" data-alert="leave_time"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">網址</th>
            <td width="91%">
                <input type="text" value="" id="website" style="width:400px;" onblur="admin_tour_point_form_realtime_validate(this, '')">
                <p class="warning" data-alert="website"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">發佈時間</th>
            <td width="91%">
                <input type="text" class="datepicker" id="date_start" style="width:200px;" onblur="admin_tour_point_form_realtime_validate(this, '')">
                <p class="warning" data-alert="date_start"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">結束時間</th>
            <td width="91%">
                <input type="text" class="datepicker" id="date_end" style="width:200px;" onblur="admin_tour_point_form_realtime_validate(this, '')">
                <input type="checkbox" id="is_force_post" />不下架
                <p class="warning" data-alert="date_end"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">是否張貼</th>
            <td width="91%">
                <input type="radio" name="is_enabled" value="1" />是
                <input type="radio" name="is_enabled" value="0" />否
            </td>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <td>
                <input type="submit" value="確認" onclick="admin_tour_point_save(this)">
                <input type="submit" value="取消" onclick="common_edit_cancel('TourPoint')">
                <p class="warning" data-alert="summary"></p>
            </td>
        </tr>
    </tbody>
</table>


@section bot_script{

<script>
        //$('.datepicker').datepicker({ dateFormat: "yy/mm/dd" });
    $('.datepicker').datetimepicker({ dateFormat: "yy/mm/dd" });
    //$('.datepicker').timepicker({ dateFormat: "yy/mm/dd" });
</script>

    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_home.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}