﻿<input type="hidden" id="end_tag" value="back" />
<input type="hidden" id="unit_tag" value="video" />
<input type="hidden" id="datamode_tag" value="edit" />
<input type="hidden" id="pager_tag" value="0" />

@{
    
}

<div id="function">
    <h3 id="page_title">?</h3>
    <span id="language_ctrl"></span>
</div>


<table width="100%" border="0" align="center" cellpadding="5" cellspacing="1" class="edit" id="video_form">
    <tbody data-file_area="">
        <tr>
            <th width="9%">*標題</th>
            <td width="91%">
                <input type="text" value="" id="title" style="width:400px;" onblur="admin_video_form_realtime_validate(this, '')">
                <p class="warning" data-alert="title"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">*影片網址</th>
            <td width="91%">
                <p>請輸入Youtube影片網址, ex: https://www.youtube.com/watch?v=xxxxxxxxxxx</p>
                <input type="text" value="" id="url" style="width:400px;" onblur="admin_video_form_realtime_validate(this, '')">
                <p class="warning" data-alert="url"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">發佈時間</th>
            <td width="91%">
                <input type="text" class="datepicker" id="date_start" style="width:200px;" onblur="admin_video_form_realtime_validate(this, '')">
                <p class="warning" data-alert="date_start"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">結束時間</th>
            <td width="91%">
                <input type="text" class="datepicker" id="date_end" style="width:200px;" onblur="admin_video_form_realtime_validate(this, '')">
                <input type="checkbox" id="is_force_post" />不下架
                <p class="warning" data-alert="date_end"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">是否張貼</th>
            <td width="91%">
                <input type="radio" name="is_enabled" value="1" />是
                <input type="radio" name="is_enabled" value="0" />否
            </td>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <td>
                <input type="submit" value="確認" onclick="admin_video_save(this)">
                <input type="submit" value="取消" onclick="common_edit_cancel('Video')">
                <p class="warning" data-alert="summary"></p>
            </td>
        </tr>
    </tbody>
</table>


@section bot_script{

<script>
        //$('.datepicker').datepicker({ dateFormat: "yy/mm/dd" });
    $('.datepicker').datetimepicker({ dateFormat: "yy/mm/dd" });
</script>

    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_news.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}