﻿<input type="hidden" id="end_tag" value="back" />
<input type="hidden" id="unit_tag" value="works" />
<input type="hidden" id="datamode_tag" value="edit" />
<input type="hidden" id="pager_tag" value="0" />

@{
    
}

<div id="function">
    <h3 id="page_title">?</h3>
    <span id="language_ctrl"></span>
</div>


<table width="100%" border="0" align="center" cellpadding="5" cellspacing="1" class="edit" id="works_form">
    <tbody data-file_area="">
        <tr>
            <th width="9%">*作品名稱</th>
            <td width="91%">
                <input type="text" value="" id="title" style="width:400px;" onblur="admin_works_form_realtime_validate(this, '')">
                <p class="warning" data-alert="title"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">*團隊名稱</th>
            <td width="91%">
                <input type="text" value="" id="group" style="width:400px;" onblur="admin_works_form_realtime_validate(this, '')">
                <p class="warning" data-alert="group"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">封面上傳</th>
            <td width="91%">
                <input type="submit" value="檔案上傳" onclick="$(this).closest('[data-file_area]').find('[name=cover_uploader]').click()" />
                <br />(最佳瀏覽尺寸為370px*230px)<br />
                <input name="cover_uploader" type="file" class="upload-btn" value="" onchange="fileUpload2($(this).closest('[data-file_area]'), this)" style="display:none"
                       data-filetype="img" data-limitcount="1" data-tag="works_cover" data-file_id="" data-classname="works_cover" />
                <input type="hidden" name="file_command" data-tag="works_cover" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img name="uploader_loading" style="max-width:150px; max-height:150px; display:none" src="../Content/Admin/images/loading_icon.gif" />
                <span name="works_cover_view"></span>
                
            </td>
        </tr>
        <tr>
            <th width="9%">使用工具</th>
            <td width="91%">
                <input type="text" value="" id="tool" style="width:400px;">
                <p class="warning" data-alert="tool"></p>
            </td>
        </tr>
        <tr>
            <th>*內容</th>
            <td>
                <textarea rows="2" cols="20" id="content" onblur="admin_works_form_realtime_validate(this, '')"></textarea>
                <p class="warning" data-alert="content"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">發佈時間</th>
            <td width="91%">
                <input type="text" class="datepicker" id="date_start" style="width:200px;" onblur="admin_works_form_realtime_validate(this, '')">
                <p class="warning" data-alert="date_start"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">結束時間</th>
            <td width="91%">
                <input type="text" class="datepicker" id="date_end" style="width:200px;" onblur="admin_works_form_realtime_validate(this, '')">
                <input type="checkbox" id="is_force_post" />不下架
                <p class="warning" data-alert="date_end"></p>
            </td>
        </tr>
        <tr>
            <th width="9%">是否張貼</th>
            <td width="91%">
                <input type="radio" name="is_enabled" value="1" />是
                <input type="radio" name="is_enabled" value="0" />否
            </td>
        </tr>
        <tr>
            <th width="9%">圖片上傳</th>
            <td width="91%">
                <input type="submit" value="檔案上傳" onclick="$(this).closest('[data-file_area]').find('[name=work_uploader]').click()" />
                <br />(最佳瀏覽尺寸為600px*400px)<br />
                <input name="work_uploader" type="file" class="upload-btn" value="" onchange="fileUpload2($(this).closest('[data-file_area]'), this)" style="display:none"
                       data-filetype="img" data-limitcount="100" data-tag="works_photo" data-file_id="" data-classname="works_photo" multiple />
                <input type="hidden" name="file_command" data-tag="works_photo" />
                <br /><br />
                <img name="uploader_loading" style="max-width:150px; max-height:150px; display:none" src="../Content/Admin/images/loading_icon.gif" />
                <span name="works_photo_view"></span>
            </td>
        </tr>
        <tr>
            <th width="9%">圖檔上傳</th>
            <td width="91%">
                <input type="submit" value="檔案上傳" onclick="$(this).closest('[data-file_area]').find('[name=raw_uploader]').click()" />
                <input name="raw_uploader" type="file" class="upload-btn" value="" onchange="fileUpload2($(this).closest('[data-file_area]'), this)" style="display:none"
                       data-filetype="file" data-limitcount="100" data-tag="works_raw" data-file_id="" data-classname="works_raw" multiple />
                <input type="hidden" name="file_command" data-tag="works_raw" />
                <br /><br />
                @*<img name="uploader_loading" style="max-width:150px; max-height:150px; display:none" src="../Content/Front_Page_Content/image/loading.gif" />*@
                <img name="uploader_loading" style="max-width:150px; max-height:150px; display:none" src="../Content/Admin/images/loading_icon.gif" />
                <span name="works_raw_view"></span>

            </td>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <td>
                <input type="submit" value="確認" onclick="admin_works_save(this)">
                <input type="submit" value="取消" onclick="common_edit_cancel('Works')">
                <p class="warning" data-alert="summary"></p>
            </td>
        </tr>
    </tbody>
</table>


@section bot_script{

<script>
        //$('.datepicker').datepicker({ dateFormat: "yy/mm/dd" });
    $('.datepicker').datetimepicker({ dateFormat: "yy/mm/dd" });
</script>

    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_works.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}