﻿@charset "utf-8";
/* CSS Document */
body {
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: "微軟正黑體";
    background: #FFF;
}

h2, h3 {
    margin: 0
}

h4 {
    color: #FF0000;
}

fieldset {
    width: 92%;
    margin: 0 auto;
}

.login {
    width: 500px;
    margin: 10px auto
}

    .login table {
        border: 0px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 0 15px #ccc;
    }

.login_input {
    width: 189px;
    height: 34px;
    background: url(../images/input.jpg) no-repeat;
    border: 0;
    font-size: 16px
}

.login_button {
    width: 111px;
    height: 40px;
    background: url(../images/b_login.png) no-repeat;
    border: 0;
}

.top {
    background: #4d060a;
    color: #FFF;
    text-align: right;
    padding: 5px 10px;
    font-size: 13px;
    height: 40px
}

    .top a {
        color: #FFF;
        text-decoration: none
    }

.logo {
    float: left;
    margin-left: 10px;
}

#nav {
    float: right;
    text-align: right;
    color: #000;
    margin-right: 10px;
}

    #nav li {
        float: left;
        list-style: none;
        border: #999 1px solid;
    }

        #nav li a {
            background: #CCC;
            display: block;
            color: #333;
            padding: 10px;
            text-decoration: none
        }

    #nav a:hover {
        background: #FFF;
        color: #000;
    }

#lang {
    text-align: left;
    margin: 0 0 0 -40px
}

    #lang li {
        float: left;
        list-style: none;
        margin-right: 5px;
        margin-bottom: 10px
    }

        #lang li a {
            border: 1px solid #999;
            padding: 3px 8px;
            color: #666;
            text-decoration: none;
            margin: 0 2px;
            background: #FFF;
            font-size: 13px;
        }

    #lang a:hover {
        background: #999;
        color: #FFF
    }

.submenu {
    margin: 20px 0 0 20px
}

    .submenu li { /*次選單*/
        float: left;
        list-style: none;
    }

        .submenu li a {
            display: block;
            color: #333;
            padding: 10px;
            text-decoration: none
        }

    .submenu a:hover {
        background: #E1E3B0;
        color: #333;
    }

    .submenu a:active, .submenu_active {
        background: #6CF;
        color: #fff;
    }

.baseline {
    background: #E1E3B0;
    height: 5px
}

#function { /*固定在內頁上方的功用欄*/
    width: 95%;
    margin: 10px auto;
}

    #function a {
        color: #FF6600;
        font-weight: bold
    }

#footer { /*頁尾資訊*/
    text-align: right;
    color: #666666;
    margin: 10px 0 0 0;
    font-size: 12px;
    width: 97%;
    clear: left
}

.login_footer { /*登入的頁尾資訊*/
    font-size: 12px;
    line-height: 32px;
    text-align: center;
    color: #6699CC
}

.list, .confirm, .confirm2 { /*通用列出式表格*/
    border: 2px solid #ccc;
    width: 95%;
    padding: 1px;
    font-size: 13px;
}

    .list th {
        background: #E1E3B0;
        color: #333;
        padding: 2px;
    }

    .list td {
        text-align: center;
        border-top: 1px solid #E8F3FF;
        padding: 2px;
        background: #FFF;
    }

fieldset table.edit {
    width: 100%
}

.edit { /*通用新增與編輯表格*/
    border: 2px solid #ccc;
    width: 95%;
    font-size: 13px;
}

    .edit th {
        text-align: right;
        background: #E1E3B0;
        color: #333
    }

    .edit td {
        border-top: 1px solid #E8F3FF;
        background: #FFF;
    }

.list td.line { /*通用表格變換顏色列*/
    background: #CCCCCC
}

.confirm { /*通用浮動視窗*/
    width: 20%;
    margin-left: 3%;
    padding: 2px;
    background: #FFF;
    text-align: center;
    float: left
}

.confirm2 {
    width: 20%;
    height: 120px;
    margin-left: 3%;
    padding: 2px;
    background: url(../images/mobile_clean_cities_qr_code.png) center no-repeat;
}

.form { /*通用表單*/
    width: 95%;
    border: 3px double #6699FF;
}

    fieldset th, .form th {
        text-align: right;
        height: 30px;
    }
/*訂單明細*/
#detail.detail {
    border: 0px;
    background-color: black;
    width: 98%;
}

    #detail.detail td {
        border: 0px;
        background-color: white;
        text-align: center;
    }
/*列印收據*/
.print th {
    text-align: right;
    background: #F7F7F7;
    color: #555;
    font-weight: normal;
    border-bottom: 2px #999 solid
}

.print td {
    line-height: 1.3;
    padding: 5px;
    border-bottom: 2px #999 solid
}
/*消費、紅利兌換紀錄*/
.record, .print {
    border: 1px #CCCCCC solid
}

    .record th {
        background: #F7F7F7;
        color: #555;
        text-align: center;
        font-weight: normal;
        border-bottom: 2px #999 solid
    }

    .record td {
        text-align: center;
        line-height: 1.3;
        padding: 5px;
        border-bottom: 2px #999 solid
    }

.warning {
    color: #F00;
    font-weight: bold;
}

.page {
    text-align: center;
    margin: 20px 10px;
    font-size: 13px
}

    .page a {
        border: 1px solid #999;
        padding: 3px 5px;
        color: #666;
        text-decoration: none;
        margin: 0 2px;
        background: #FFF
    }

        .page a:hover {
            background: #999;
            color: #FFF
        }
