﻿@using System.Web.Configuration;

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>南方創客基地後台管理</title>
    <link href="../Content/Admin/css/stylesheet.css" rel="stylesheet" type="text/css" />

    <style>
        .required-border {
            border: 1px solid #ff0000 !important;
        }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.js"></script>

    @{
        //Session["lang"] = "zh_hant";
        //string a = Session["lang"].ToString();
        string a = "zh_hant";
    }

    <script src="../../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/lang/@(a).js?v=@(WebConfigurationManager.AppSettings["ver"])"></script>

    @RenderSection("top_script", required: false)

    @RenderSection("top_style", required: false)
</head>


<body>
    <!--最上方狀態列-->
    <div class="top">
        <div class="logo">
            <h2>@*<img src="images/logo-ntnu.png" alt="" width="204" height="43" align="absmiddle" />*@ 南方創客基地後台管理</h2>
        </div>
        登入身分：管理者 <br />
        <a href="/Home/Index" target="_blank">前端頁面</a>&nbsp; |&nbsp; <a href="javascript:;" onclick="admin_logout()">登出</a>
    </div>
    <!--最上方狀態列-->

    <!--主選單列-->
    <div id="nav" name="main_menu"></div>
    <div style="clear:both"></div>
    <!--主選單列-->


    <!--子選單列-->
    <div class="submenu" name="sub_menu"></div>
    <div style="clear:both"></div>
    <!--子選單列-->

    <div class="baseline"></div>

    <!--動態頁面內容-->
    @RenderBody()
    <!--動態頁面內容-->

    <!--FOOTER-->
    <div id="footer">
        版權所有 &copy; 2018
        鴻星數位科技有限公司 HStar All Rights Reversed
    </div>
    <!--FOOTER-->




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @*<script src="~/Scripts/polyfill/polyfill.js"></script>*@

    <link rel="stylesheet" href="~/Scripts/datetimepicker/jquery-ui.css" />
    <script src="~/Scripts/datetimepicker/jquery-ui.js"></script>
    <script src="~/Scripts/datetimepicker/jquery-ui-timepicker-addon.js"></script>
    

    <script src="../Scripts/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="../Scripts/moment.js"></script>

    <script src="../@(WebConfigurationManager.AppSettings["jsmode"])/main.js?v=@(WebConfigurationManager.AppSettings["ver"])"></script>
    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/option.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>
    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/ajax_post_function.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>
    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/checkClass.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/helper_file.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>
    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/helper_data_push.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>
    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/helper_form_init.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>
    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/helper_data_pull.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>
    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/helper_data_validate.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>
    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/helper_nav.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>
    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/helper_language.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_admin.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

    @*<script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/TEST.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>*@

    @RenderSection("bot_script", required: false)

    <script>

    </script>
</body>

</html>
