﻿@using System.Web.Configuration;
@using Model

@{
    //Session["lang"] = "en_us";
    string a = lang_type.zh_hant.ToString();
    if (Session["lang"] != null) { a = Session["lang"].ToString(); }

    string login_account = "";
    string login_member_id = "";
    if (Session["user"] != null)
    {
        MEMBER loginObj = (MEMBER)Session["user"];
        login_account = loginObj.account;
        login_member_id = loginObj.id.ToString();
    }

    string ctrl = ViewContext.RouteData.Values["controller"].ToString();
    string action = ViewContext.RouteData.Values["action"].ToString();



    List<EQUIP_CATE> cates = new List<EQUIP_CATE>();
    using (var DB = new SOUTHMAKEREntities())
    {
        cates = DB.EQUIP_CATE.Where(x =>
        x.is_deleted == 0 &&
        (
            (x.is_enabled == 1 && x.is_force_post == 1) ||                      //不下架 無視發佈時間區間的情況
            (
                x.is_enabled == 1 && x.is_force_post == 0 &&                       //需依發佈時間區間篩選
                (x.date_start.Year == 1753 ? true : x.date_start <= DateTime.Now) &&
                (x.date_end.Year == 1753 ? true : DateTime.Now <= x.date_end)
            )
        )
        ).OrderByDescending(x => x.date_created).ToList();
    }
    cates = helper.EquipCateTranslate(cates);



    string html_lang_tag = "zh-TW";
    if (a == lang_type.zh_hant.ToString()) { html_lang_tag = "zh-TW"; }
    if (a == lang_type.en_us.ToString()) { html_lang_tag = "en"; }
}


<!DOCTYPE html>
@*<html lang="zh-TW">*@
<html lang="@(html_lang_tag)">
<!-- 2018/08/08無障礙退回修改<html lang="en"> 英文版需使用這個-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @*<meta name="description" content="">
        <meta name="keywords" content="">*@

    <link rel="icon" href="../Content/Front/assets/img/shortcut-16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="../Content/Front/assets/img/shortcut-32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="../Content/Front/assets/img/shortcut-48.png" sizes="48x48" type="image/png">
    <link rel="icon" href="../Content/Front/assets/img/shortcut-62.png" sizes="62x62" type="image/png">
    <title transAttr="text:common-website-name">南方創客基地</title>

    <link rel="stylesheet" href="../Content/Front/assets/css/bootstrap.css">
    <link rel="stylesheet" href="../Content/Front/assets/css/font-awesome.css">

    <!--banner特效用-->
    <link rel="stylesheet" href="../Content/Front/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../Content/Front/assets/css/owl.theme.default.min.css">
    <!--banner特效用-->

    <link rel="stylesheet" href="../Content/Front/assets/css/style.css?v=@(WebConfigurationManager.AppSettings["ver"])">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119948344-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-119948344-1');
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.js"></script>

    <script src="../../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/lang/@(a).js?v=@(WebConfigurationManager.AppSettings["ver"])"></script>

    @RenderSection("top_script", required: false)

    @RenderSection("top_style", required: false)


</head>

<body class="inside-page">

    <input type="hidden" id="now_lang" value="@a" />
    <input type="hidden" id="login_account" value="@login_account" />
    <input type="hidden" id="login_member_id" value="@login_member_id" />


    <header>
        <a title="layout-header-focusable" class="sr-only sr-only-focusable" tabindex="1" href="#main-content" transAttr="title:layout-header-focusable,text:layout-header-focusable">跳到主要內容區塊</a>
        @*<noscript style="display:block; text-align:center; padding:10px 0">*@
            <!-- 2018/08/08無障礙退回修改:
            可能是在noscript標籤裡，javascript無法使用語言切換
            -->
            @if (a == lang_type.zh_hant.ToString())
            {
                <noscript style="display:block; text-align:center; padding:10px 0">
                    您的瀏覽器不支援JavaScript功能，若網頁功能無法正常使用時，請開啟瀏覽器JavaScript狀態 
                </noscript>
            }
            else if (a == lang_type.en_us.ToString())
            {
                <noscript style = "display:block; text-align:center; padding:10px 0" >
                    Your browser could support JavaScript, If Web page function couldn't normal usage, Please open browser JavaScript.
                </noscript>
            }
        @*</noscript>*@

        @if (ctrl.ToLower() == "home" && action.ToLower() == "index")
        {
            @Html.Raw("<nav class='navbar navbar-default navbar-fixed-top'>")
        }
        else
        {
            @Html.Raw("<nav class='navbar navbar-black navbar-fixed-top navbar-inverse'>")
        }
        @*<nav class='navbar navbar-black navbar-fixed-top navbar-inverse'>*@


        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index" title="layout-header-logo-title" transAttr="title:layout-header-logo-title">
                    <h1 class="logo">

                        @if (ctrl.ToLower() == "home" && action.ToLower() == "index")
                        {
                            <img src="../Content/Front/assets/img/logo.png" alt="layout-header-logo-name" class="img-responsive logo-computer" transAttr="alt:layout-header-logo-name" />
                                <img src="../Content/Front/assets/img/logo_phone.png" alt="layout-header-logo-name" class="logo-phone" transAttr="alt:layout-header-logo-name" />
                        }
                        else
                        {
                            <img src="../Content/Front/assets/img/logo-white02.png" alt="layout-header-logo-name" class="img-responsive logo-computer" transAttr="alt:layout-header-logo-name" />
                                <img src="../Content/Front/assets/img/logo_phone_white.png" alt="layout-header-logo-name" class="logo-phone" transAttr="alt:layout-header-logo-name" />
                        }
                        @*<img src="../Content/Front/assets/img/logo-white02.png" alt="南方創客基地logo" class="img-responsive logo-computer" />
                            <img src="../Content/Front/assets/img/logo_phone_white.png" alt="南方創客基地logo" class="logo-phone" />*@

                    </h1>
                </a>
            </div>

            @if (ctrl.ToLower() == "home" && action.ToLower() == "index")
            {
                @Html.Raw("<div class='menu_navigation'>")
            }
            else
            {
                @Html.Raw("<div class='menu_navigation white'>")
            }
            @*<div class='menu_navigation white'>*@


            <div class="menu_nav">
                <a href="javascript:;" accesskey="U" title="layout-nav-area-name" transAttr="title:layout-nav-area-name">:::</a>
                <a title="layout-fb-link-name" target="_blank" href="https://www.facebook.com/southmaker/">
                    <i class='fa fa-facebook'></i>
                </a>
                <a title="layout-ig-link-name" target="_blank" href="https://www.instagram.com/fablab_stmc/">
                    <i class="fa fa-instagram"></i>
                </a>
                <a title="layout-line-link-name" target="_blank" href="https://line.me/R/ti/p/%40ybb1951s">
                    <i class="socicon-line"></i>
                </a>
                |
                <a title="layout-menu-go-back-home-name" href="/Home/Index" transAttr="title:layout-menu-go-back-home-name,text:layout-menu-go-back-home-name">回首頁</a>
                |
                <a title="common-home-map-page-name" href="/Home/Map" transAttr="title:common-home-map-page-name,text:common-home-map-page-name">網站地圖</a>
                |
                <a title="common-home-contact-page-name" href="/Home/Contact" transAttr="title:common-home-contact-page-name,text:common-home-contact-page-name">聯絡我們</a>
                |
                @if (string.IsNullOrEmpty(login_account) == false)
                {
                    <a title="common-member-logout-page-name" href="javascript:;" onclick="logout()" transAttr="title:common-member-logout-page-name,text:common-member-logout-page-name">會員登出</a>
                }
                else
                {
                    <a title="common-member-login-page-name" href="/Member/Login" transAttr="title:common-member-login-page-name,text:common-member-login-page-name">會員登入</a>
                }
                |
                @*<a title="common-language-chinese-select-title" href="javascript:;" onclick="languageSwitch('zh_hant')" class="chiense" transAttr="title:common-language-chinese-select-name,text:common-language-chinese-select-name">中</a>*@
                @*<a title="common-language-english-select-title" href="javascript:;" onclick="languageSwitch('en_us')" class="english" transAttr="title:common-language-english-select-name,text:common-language-english-select-name">E</a>*@
                <a title="common-language-chinese-select-title" href="/Shared/LanguageSwitch?lang=zh_hant&url=@(Request.Url.AbsoluteUri)" class="chiense" transAttr="title:common-language-chinese-select-name,text:common-language-chinese-select-name">中</a>
                <a title="common-language-english-select-title" href="/Shared/LanguageSwitch?lang=en_us&url=@(Request.Url.AbsoluteUri)" class="english" transAttr="title:common-language-english-select-name,text:common-language-english-select-name">E</a>
            </div>
            <div class="search-web">
                <form class="form-inline" action="/Home/Search">
                    @Html.AntiForgeryToken()
                <label for="global_search" class="sr-only" transAttr="text:common-search-label-name">關鍵字搜尋</label>
                <input type="text" name="search_keyword" class="form-control" id="global_search" placeholder="請輸入關鍵字" accesskey="S" transAttr="placeholder:common-search-input-placeholder-name">
                <!-- 2018/08/08無障礙退回修改
                原本：<button type="button" class="btn btn-search-web" onclick="global_search_redirect()"><i class='fa fa-search'></i></button>
                英文版：須將下方的input alt跟title改成 Search
                -->
                <input type="image" class="btn btn-search-web" src="/Content/Front/assets/img/nav_search_icon.png" onclick="global_search_redirect()" alt="搜尋" title="搜尋">
            </form>
        </div>
    </div>

    @if (ctrl.ToLower() == "home" && action.ToLower() == "index")
            {
        @Html.Raw("<div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>")
        @Html.Raw("<ul class='nav navbar-nav'>")
    }
    else
    {
        @Html.Raw("<div class='collapse navbar-collapse navbar-black' id='bs-example-navbar-collapse-1'>")
        @Html.Raw("<ul class='nav navbar-nav black'>")
    }
    @*<div class="collapse navbar-collapse navbar-black" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav black">*@



    @*<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">*@
    <li>
        <a href="/Home/Intro" title="common-controller-home-name" transAttr="title:common-controller-home-name,text:common-controller-home-name">關於基地</a>
    </li>
    <li>
        <a href="/Course/List" title="common-controller-course-name" transAttr="title:common-controller-course-name,text:common-controller-course-name">課程資訊</a>
    </li>
    <li>
        <a href="/News/List" title="common-controller-news-name" transAttr="title:common-controller-news-name,text:common-controller-news-name">最新消息</a>
    </li>
    <li>
        <a href="/Equip/List" title="common-controller-equip-name" transAttr="title:common-controller-equip-name,text:common-controller-equip-name">設備介紹</a>
    </li>
    <li>
        <a href="/Works/List" title="common-controller-works-name" transAttr="title:common-controller-works-name,text:common-controller-works-name">作品介紹</a>
    </li>
    <li>
        <a href="/Member/Edit" title="common-controller-member-name" transAttr="title:common-controller-member-name,text:common-controller-member-name">會員資訊</a>
    </li>
    <li class="mobile-contact">
        <a href="/Home/Contact" title="common-home-contact-page-name" transAttr="title:common-home-contact-page-name,text:common-home-contact-page-name">聯絡我們</a>
    </li>
    <li class="mobile-search">
        <form class="form-inline">
            @Html.AntiForgeryToken()
        <label for="global_search2" class="sr-only" transAttr="text:common-search-label-name">關鍵字搜尋</label>
        <input type="text" name="global_search2" class="form-control" id="global_search2" placeholder="請輸入關鍵字" accesskey="S" transAttr="placeholder:common-search-input-placeholder-name">
        <!-- 2018/08/08無障礙退回修改
        原本：<button type="button" class="btn btn-search-web" onclick="global_search_redirect2()"><i class='fa fa-search'></i></button>
        英文版：須將下方的input alt跟title改成 Search
        -->
        <input type="image" class="btn btn-search-web" src="/Content/Front/assets/img/nav_search_icon.png" onclick="global_search_redirect2()" alt="搜尋" title="搜尋">
    </form>
</li>
<li class="mobile">
    <a title="layout-fb-link-name" target="_blank" href="https://www.facebook.com/southmaker/"><i class='fa fa-facebook'></i></a>
    <a title="layout-ig-link-name" target="_blank" href="https://www.instagram.com/fablab_stmc/"><i class="fa fa-instagram"></i></a>
    <a title="layout-line-link-name" target="_blank" href="https://line.me/R/ti/p/%40ybb1951s"><i class="socicon-line"></i></a>
    <a title="common-language-chinese-select-title" href="javascript:languageSwitch('zh_hant');" class="chiense" transAttr="title:common-language-chinese-select-name,text:common-language-chinese-select-name">中</a>
    <a title="common-language-english-select-title" href="javascript:languageSwitch('en_us');" class="english" transAttr="title:common-language-english-select-name,text:common-language-english-select-name">E</a>
</li>
                </ul>
            </div>
            </div>
        </nav>
</header>




<!--動態頁面內容-->
<main>

    @RenderBody()

    <section class="update">
        <div class="container">
            <p id="article_update_time" style="display:none"><span transAttr="text:common-lastest-update-span-name">文章最後更新日期</span>：<span id="date_modify"></span></p>
            @RenderSection("date_modify_area", required: false)
            <ul>
                <li>
                    <a href="javascript:history.back();" title="返回" transAttr="title:common-function-go-back-name">
                        <i class="fa fa-reply"></i>
                        <span transAttr="text:common-function-go-back-name">返回</span>
                    </a>
                </li>
                @if (a == lang_type.zh_hant.ToString())
                {
                    <noscript class="no_txt" >您的瀏覽器，不支援script語法，若您的瀏覽器無法支援，請按鍵盤上的alt鍵+左鍵 回上一頁</noscript>
                }
                else if (a == lang_type.en_us.ToString())
                {
                    <noscript class="no_txt" >Your browser could support JavaScript, Please press the alt key + left key on your keyboard to back to previous page</noscript>
                }
                
                <li>
                    <a href="javascript:" title="列印" id="print" transAttr="title:common-function-print-name">
                        <i class="fa fa-print"></i>
                        <span transAttr="text:common-function-print-name">列印</span>
                    </a>
                </li>
                @if (a == lang_type.zh_hant.ToString())
                {
                    <noscript class="no_txt">[CTRL]+[P] 置頂</noscript>
                }
                else if (a == lang_type.en_us.ToString())
                {
                    <noscript class="no_txt">[CTRL]+[P] Top</noscript>
                }
                @*<noscript class="no_txt">[CTRL]+[P]<span transAttr="text:common-function-go-top-name">置頂</span></noscript>*@
                <li class="top">
                    <a href="javascript:;" title="置頂" transAttr="title:common-function-go-top-name">
                        <i class="fa fa-arrow-up"></i>
                        <span transAttr="text:common-function-go-top-name">置頂</span>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <div style="display:none" id="html_peel_area"></div>
</main>
<!--動態頁面內容-->
<!--FOOTER-->
<footer>
    <div class="container">
        <a href="javascript:;" accesskey="B" title="下方導覽連結區域" transAttr="title:layout-footer-nav-area-name">:::</a>
        <div class="row">
            <div class="col-sm-2">
                <img src="../Content/Front/assets/img/logo-white.png" alt="南方創客基地logo" class="img-responsive" transAttr="alt:layout-header-logo-name">
            </div>
            <div class="col-sm-5">
                <ul>
                    <li><span transAttr="text:layout-footer-info-address-label-name">地址</span>：<span transAttr="text:layout-footer-info-address">臺南市新營區大同路32號</span></li>
                    <li>
                        <span transAttr="text:layout-footer-info-tel-label-name">電話</span>：
                        <a class="phone" href="tel:(06)635-6583" title="撥打客服專線1" transAttr="title:layout-footer-info-tel-link-name">06-6356583</a> ;
                        <a class="phone" href="tel:(06)635-4697" title="撥打客服專線2" transAttr="title:layout-footer-info-tel-link-name2">06-6354697</a>
                        <span transAttr="text:layout-footer-info-fax-label-name">傳真</span>：06-6354331
                    </li>
                    <li><span transAttr="text:layout-footer-info-email-label-name">電子郵件</span>：stmakercenter@wda.gov.tw</li>
                    <li><span transAttr="text:layout-footer-info-offcial-name">勞動部勞動力發展署 雲嘉南分署</span></li>
                    <li>&copy;<span transAttr="text:layout-footer-info-offcial-name2">雲嘉南分署網站</span> Inc. All Rights Reserved</li>
                </ul>
            </div>
            <div class="col-sm-5 border-left">
                <ul class="nav_bottom">
                    <li>
                        <a href="/Home/Intro" title="common-controller-home-name" transAttr="title:common-controller-home-name,text:common-controller-home-name">關於基地</a>
                    </li>
                    <li>
                        <a href="/Home/Intro" title="common-home-intro-name" transAttr="title:common-home-intro-name,text:common-home-intro-name">創客簡介</a>
                    </li>
                    <li>
                        <a href="/Home/About" title="common-home-about-name" transAttr="title:common-home-about-name,text:common-home-about-name">基地介紹</a>
                    </li>
                    <li>
                        <a href="/Home/MakerCar" title="MAKER CAR" >MAKER CAR</a>
                    </li>
                    <li>
                        <a href="/Home/Maker" title="common-home-maker-name" transAttr="title:common-home-maker-name,text:common-home-maker-name">進駐創客介紹</a>
                    </li>
                </ul>
                <div class="clear"></div>
                <ul class="nav_bottom">
                    <li>
                        <a href="/Course/List" title="common-controller-course-name" transAttr="title:common-controller-course-name,text:common-controller-course-name">課程資訊</a>
                    </li>
                </ul>
                <div class="clear"></div>
                <ul class="nav_bottom">
                    <li>
                        <a href="/News/List" title="common-controller-news-name" transAttr="title:common-controller-news-name,text:common-controller-news-name">最新消息</a>
                    </li>
                    <li>
                        <a href="/News/List" title="common-news-list-name" transAttr="title:common-news-list-name,text:common-news-list-name">活動資訊</a>
                    </li>
                    <li>
                        <a href="/News/Album" title="common-news-album-name" transAttr="title:common-news-album-name,text:common-news-album-name">活動相簿</a>
                    </li>
                    <li>
                        <a href="/News/Video" title="common-news-video-name" transAttr="title:common-news-video-name,text:common-news-video-name">影片集錦</a>
                    </li>
                </ul>
                <div class="clear"></div>
                <ul class="nav_bottom">
                    <li>
                        <a href="/Equip/List" title="common-controller-equip-name" transAttr="title:common-controller-equip-name,text:common-controller-equip-name">設備介紹</a>
                    </li>
                    @foreach (var cate in cates)
                    {
                        <li><a href="/Equip/List?equip_cate=@cate.id" title="@cate.title">@cate.title</a></li>
                    }
                </ul>
                <div class="clear"></div>
                <ul class="nav_bottom">
                    <li>
                        <a href="/Works/List" title="common-controller-works-name" transAttr="title:common-controller-works-name,text:common-controller-works-name">作品介紹</a>
                    </li>
                </ul>
                <div class="clear"></div>
                <ul class="nav_bottom">
                    <li>
                        <a href="/Member/Course" title="common-controller-member-name" transAttr="title:common-controller-member-name,text:common-controller-member-name">會員資訊</a>
                    </li>
                    <li>
                        <a href="/Member/Course" title="common-member-course-name" transAttr="title:common-member-course-name,text:common-member-course-name">會員課程紀錄</a>
                    </li>
                    <li>
                        <a href="/Member/Edit" title="common-member-edit-name" transAttr="title:common-member-edit-name,text:common-member-edit-name">編輯會員資料</a>
                    </li>
                    <li>
                        <a href="/Member/SurveyList" title="common-member-survey-name" transAttr="title:common-member-survey-name,text:common-member-survey-name">會員課程問卷</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!--FOOTER-->




@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

@*<script src="~/Scripts/polyfill/polyfill.js"></script>*@

<script src="../Content/Front/assets/js/owl.carousel.min.js"></script>
<script src="../Content/Front/assets/js/jquery.floatThead.js"></script>
<script src="../Content/Front/assets/js/jquery.twbsPagination.min.js"></script>
<script src="../Content/Front/assets/js/all.js"></script>


<script src="../Scripts/moment.js"></script>

<script src="../@(WebConfigurationManager.AppSettings["jsmode"])/main.js?v=@(WebConfigurationManager.AppSettings["ver"])"></script>
<script src="../@(WebConfigurationManager.AppSettings["jsmode"])/option.js?v=@(WebConfigurationManager.AppSettings["ver"])"></script>
<script src="../@(WebConfigurationManager.AppSettings["jsmode"])/ajax_post_function.js?v=@(WebConfigurationManager.AppSettings["ver"])"></script>
<script src="../@(WebConfigurationManager.AppSettings["jsmode"])/checkClass.js?v=@(WebConfigurationManager.AppSettings["ver"])"></script>

<script src="../@(WebConfigurationManager.AppSettings["jsmode"])/helper_file.js?v=@(WebConfigurationManager.AppSettings["ver"])"></script>
<script src="../@(WebConfigurationManager.AppSettings["jsmode"])/helper_data_push.js?v=@(WebConfigurationManager.AppSettings["ver"])"></script>
<script src="../@(WebConfigurationManager.AppSettings["jsmode"])/helper_form_init.js?v=@(WebConfigurationManager.AppSettings["ver"])"></script>
<script src="../@(WebConfigurationManager.AppSettings["jsmode"])/helper_data_pull.js?v=@(WebConfigurationManager.AppSettings["ver"])"></script>
<script src="../@(WebConfigurationManager.AppSettings["jsmode"])/helper_data_validate.js?v=@(WebConfigurationManager.AppSettings["ver"])"></script>
<script src="../@(WebConfigurationManager.AppSettings["jsmode"])/helper_nav.js?v=@(WebConfigurationManager.AppSettings["ver"])"></script>
<script src="../@(WebConfigurationManager.AppSettings["jsmode"])/helper_language.js?v=@(WebConfigurationManager.AppSettings["ver"])"></script>

<script src="../@(WebConfigurationManager.AppSettings["jsmode"])/func_admin.js?v=@(WebConfigurationManager.AppSettings["ver"])"></script>

@RenderSection("bot_script", required: false)

</body>



</html>



