﻿<input type="hidden" id="end_tag" value="front" />
<input type="hidden" id="unit_tag" value="member_course" />
<input type="hidden" id="datamode_tag" value="list" />
<input type="hidden" id="pager_tag" value="1" />

@using Model;
@{
    MEMBER user = new MEMBER();
    if(Session["user"] != null)
    {
        user = (MEMBER)Session["user"];
    }
}
@section top_style{
    <link rel="stylesheet" href="../Content/Front/assets/css/member.css">
}

<section class="tab">
    <div class="container">
        <h2 class="text-center" trans-attr="text">common-controller-member-name</h2>
        <div class="font-size">
            <span trans-attr="text">common-font-size-area-name</span>：
            <a href="#" class="update-fz" data-size="12px" trans-attr="text">common-font-size-s</a>
            <a href="#" class="update-fz" data-size="16px" trans-attr="text">common-font-size-m</a>
            <a href="#" class="update-fz" data-size="24px" trans-attr="text">common-font-size-l</a>
        </div>
        <hr class="dot">
    </div>
</section>
<section class="member">
    <div class="container">

        <div class="row">
            <div class="col-sm-3 user">
                <div class="row user-account">
                    <div class="col-md-4 col-sm-12 col-xs-4">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-8">
                        <p><strong>@user.name</strong></p>
                        <p>@user.date_created.ToString("yyyy.MM.dd")<span trans-attr="text">common-member-register-label-name</span></p>
                    </div>
                </div>
                <a href="#" accesskey="L" title="左方快速連結區">:::</a>
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active">
                        <a href="/Member/Course" title="common-member-course-name" trans-attr="title,text">common-member-course-name</a>
                    </li>
                    <li role="presentation">
                        <a href="/Member/Edit" title="common-member-edit-name" trans-attr="title,text">common-member-edit-name</a>
                    </li>
                    <li role="presentation">
                        <a href="/Member/SurveyList" title="common-member-survey-name" trans-attr="title,text">common-member-survey-name</a>
                    </li>
                    <li role="presentation">
                        <a href="#" onclick="logout()" title="common-member-logout-page-name2" trans-attr="title,text">common-member-logout-page-name2</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 user-content">
                <ol class="breadcrumb">
                    <li><a href="#" accesskey="C" title="中央主要內容區" id="main-content">:::</a> <a href="/Home/Index" title="common-home-index-name" trans-attr="title,text">common-home-index-name</a></li>
                    <li><a href="/Member/Course" title="common-controller-member-name" trans-attr="title,text">common-controller-member-name</a></li>
                    <li class="active"><a href="#" title="common-member-course-name" trans-attr="title,text">common-member-course-name</a></li>
                </ol>
                <div class="row bottom-line">
                    <h3 trans-attr="text">common-member-course-name</h3>
                </div>
                <div class="row situation">
                    <form class="form-inline" id="member_course_search">@Html.AntiForgeryToken()
                        <div class="form-group" data-show="course">
                            <label for="enabled" class="sr-only" trans-attr="text">member-course-search-status</label>
                            <select class="form-control" id="enabled">
                                <option value="" selected  trans-attr="text">member-course-search-status-default-option-name</option>
                                <option value="1" trans-attr="text">member-course-search-status-checked-option-name</option>
                                <option value="0" trans-attr="text">member-course-search-status-unchecked-option-name</option>
                            </select>
                        </div>
                        @*<div class="form-group">
                            <label for="course-date" class="sr-only" trans-attr="text">member-course-search-date-label-name</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class='fa fa-calendar'></i>
                                </span>
                                <input type="date" class="form-control" id="course-date">
                            </div>
                        </div>*@
                        <div class="form-group">
                            @*<label for="course-date" class="sr-only" trans-attr="text">member-course-search-date-label-name</label>*@
                            <div class="input-group">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <select name="start-year" class="form-control" id="start-year">
                                            <option value="請選擇" trans-attr="text">common-years-default-option-name</option>
                                        </select>
                                        <select name="start-month" class="form-control" id="start-month">
                                            <option value="請選擇" trans-attr="text">common-months-default-option-name</option>
                                        </select>
                                        <select name="start-date" class="form-control" id="start-date">
                                            <option value="請選擇" trans-attr="text">common-days-default-option-name</option>
                                        </select>
                                        @*<input type="date" class="form-control" id="course-date">*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="keyword" class="sr-only" trans-attr="text">common-search-label-name2</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class='fa fa-search'></i>
                                </span>
                                <input type="text" class="form-control" id="keyword" placeholder="common-search-input-placeholder-name" trans-attr="placeholder">
                            </div>
                        </div>
                        @*<button type="submit" class="btn btn-primary">查詢</button>*@
                        <input type="button" class="btn btn-primary" value="common-search-button-name" onclick="member_course_search_redirect()" trans-attr="value" />
                    </form>

                    <h3 id="data_empty_tip" align="center" trans-attr="text">msg_100018</h3>
                    <table class="table sticky-header" summary="member-course-result-table-summary" id="course_table" trans-attr="summary">
                        <thead>
                            <tr>
                                <th scope="col" id="d" trans-attr="text">member-course-result-table-date-column-name</th>
                                <th scope="col" id="c" trans-attr="text">member-course-result-table-day-type-column-name</th>
                                <th scope="col" id="n" trans-attr="text">member-course-result-table-title-column-name</th>
                                <th scope="col" id="p" trans-attr="text">member-course-result-table-location-column-name</th>
                                <th scope="col" trans-attr="text">member-course-result-table-status-column-name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-row="temp_row" style="display:none">
                                <td scope="row" headers="d">{course_time}</td>
                                <td scope="row" headers="c">{day_type_text}</td>
                                <td scope="row" headers="n">{title}</td>
                                <td scope="row" headers="p">{course_location}</td>
                                <td scope="row" headers="s">{course_member_is_enabled_html}</td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <div class="page text-center" name="pager"></div>
                </div>
                
            </div>
        </div>
    </div>
</section>




@section bot_script{

<script src="../Content/Front/assets/js/jquery.validate.min.js"></script>
<script src="../Content/Front/assets/js/additional-methods.js"></script>
<script src="../Content/Front/assets/js/add-methods-validate.js"></script>
<script src="../Content/Front/assets/js/messages_zh_TW.js"></script>
<script src="../Content/Front/assets/js/form_validate.js"></script>


    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_member.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}