﻿<input type="hidden" id="end_tag" value="front" />
<input type="hidden" id="unit_tag" value="member" />
<input type="hidden" id="datamode_tag" value="edit" />
<input type="hidden" id="pager_tag" value="0" />

@using Model;
@{
    MEMBER user = new MEMBER();
    if (Session["user"] != null)
    {
        user = (MEMBER)Session["user"];
    }
}
@section top_style{
    <link rel="stylesheet" href="../Content/Front/assets/css/member.css">
}

    <section class="tab">
    <div class="container">
        <h2 class="text-center" trans-attr="text">common-controller-member-name</h2>
        <div class="font-size">
            <span trans-attr="text">common-font-size-area-name</span>：
            <a href="javascript:;" class="update-fz" data-size="12px" trans-attr="text">common-font-size-s</a>
            <a href="javascript:;" class="update-fz" data-size="16px" trans-attr="text">common-font-size-m</a>
            <a href="javascript:;" class="update-fz" data-size="24px" trans-attr="text">common-font-size-l</a>
        </div>
        <hr class="dot">
    </div>
</section>
<section class="member">
    <div class="container">

        <div class="row">
            <div class="col-sm-3 user">
                <div class="row user-account">
                    <div class="col-md-4 col-sm-12 col-xs-4">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-8">
                        <p><strong>@user.name</strong></p>
                        <p>@user.date_created.ToString("yyyy.MM.dd")<span trans-attr="text">common-member-register-label-name</span></p>
                    </div>
                </div>
                <a href="javascript:;" accesskey="L" title="左方快速連結區">:::</a>
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation">
                        <a href="/Member/Course" title="common-member-course-name" trans-attr="title,text">common-member-course-name</a>
                    </li>
                    <li role="presentation" class="active">
                        <a href="/Member/Edit" title="common-member-edit-name" trans-attr="title,text">common-member-edit-name</a>
                    </li>
                    <li role="presentation">
                        <a href="/Member/SurveyList" title="common-member-survey-name" trans-attr="title,text">common-member-survey-name</a>
                    </li>
                    <li role="presentation">
                        <a href="javascript:;" onclick="logout()" title="common-member-logout-page-name2" trans-attr="title,text">common-member-logout-page-name2</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 user-content">
                <ol class="breadcrumb">
                    <li><a href="javascript:;" accesskey="C" title="中央主要內容區" id="main-content">:::</a> <a href="/Home/Index" title="common-home-index-name" trans-attr="title,text">common-home-index-name</a></li>
                    <li><a href="/Member/Course" title="common-controller-member-name" trans-attr="title,text">common-controller-member-name</a></li>
                    <li class="active"><a href="/Member/Edit" title="common-member-edit-name" trans-attr="title,text">common-member-edit-name</a></li>
                </ol>
                <div class="row bottom-line">
                    <div class="col-sm-6">
                        <h3 trans-attr="text">common-member-edit-name</h3><font color="#F29600" trans-attr="text">common-form-must-fill-msg</font>
                    </div>
                </div>
                <div class="row situation">
                    <div class="col-sm-5" id="member_form">
                        <form id="member-edit">@Html.AntiForgeryToken()
                            <fieldset>
                                <legend><h4 trans-attr="text">member-form-area-name</h4></legend>
                                <div class="form-group">
                                    <label for="name" trans-attr="text">member-form-name-column-name</label><font color="#F29600"> * </font>
                                    <input type="text" name="name" class="form-control" id="name">
                                    <label class="error" data-alert="name"></label>
                                </div>
                                <div class="form-group">
                                    <label for="birth"><span trans-attr="text">member-form-birth-column-name</span><span>(2018/03/07)</span></label>
                                    <input type="date" name="birth-date" class="form-control" id="birth">
                                    <label class="error" data-alert="birth"></label>
                                </div>
                                <div class="form-group">
                                    <label trans-attr="text">member-form-gender-column-name</label>
                                    <label class="radio-inline" for="male">
                                        <input type="radio" name="gender" id="male" value="male" checked> <span trans-attr="text">gender-male-option-name</span>
                                    </label>
                                    <label class="radio-inline" for="female">
                                        <input type="radio" name="gender" id="female" value="female"> <span trans-attr="text">gender-female-option-name</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="occupation" trans-attr="text">member-form-occupation-column-name</label>
                                    <select id="occupation" class="form-control"></select>
                                </div>
                                <div class="form-group">
                                    <label for="degree" trans-attr="text">member-form-eduction-column-name</label>
                                    <select id="degree" class="form-control"></select>
                                </div>
                                <div class="form-group">
                                    <label for="tel"><span trans-attr="text">member-form-tel-column-name</span><span>(0912345678)</span><font color="#F29600"> * </font></label>
                                    <input type="text" name="telphone" class="form-control digits phoneStyle" id="tel">
                                    <label class="error" data-alert="tel"></label>
                                </div>
                                <div class="form-group">
                                    <label for="email">E-mail<span>(example@gmail.com)</span><font color="#F29600"> * </font></label>
                                    <input type="email" name="email" class="form-control email" id="email" disabled>
                                    <label class="error" data-alert="email"></label>
                                </div>
                                <div class="form-group">
                                    <label for="member_location" trans-attr="text">member-form-country-column-name</label>
                                    <input type="text" name="country" class="form-control" id="member_location">
                                </div>
                                <div class="form-group">
                                    <label for="motive" trans-attr="text">member-form-motive-column-name</label><font color="#F29600"> * </font>
                                    <textarea rows="4" name="learning-motivation" class="form-control" id="motive"></textarea>
                                    <label class="error" data-alert="motive"></label>
                                </div>
                                <div class="form-group">
                                    <label for="employ_status" trans-attr="text">member-form-employ-status-column-name</label>
                                    <select id="employ_status" class="form-control"></select>
                                </div>
                                <input type="button" onclick="user_member_save()" class="btn btn-info" value="member-form-edit-button-name" trans-attr="value" />
                                <p class="returnmessage">
                                    <span data-alert="success" style="color:#009FE8"></span>
                                    <span data-alert="fail" class="error"></span>
                                </p>
                            </fieldset>
                        </form>
                    </div>
                    <div class="col-sm-5 col-sm-offset-1 change-password" id="password_form">
                        <form>@Html.AntiForgeryToken()
                            <fieldset>
                                <legend><h4 trans-attr="text">member-password-form-area-name</h4></legend>
                                <div class="form-group">
                                    <label for="password"><span trans-attr="text">member-password-form-old-column-name</span><font color="#F29600"> * </font></label>
                                    <input type="password" name="old_password" class="form-control" id="password">
                                    <label class="error" data-alert="password"></label>
                                </div>
                                <div class="form-group">
                                    <label for="new_password"><span trans-attr="text">member-password-form-new-column-name</span><font color="#F29600"> * </font><span trans-attr="text">common-member-password-rule-msg</span></label>
                                    <input type="password" name="password" class="form-control" id="new_password">
                                    <label class="error" data-alert="new_password"></label>
                                </div>
                                <div class="form-group">
                                    <label for="confirm_password"><span trans-attr="text">member-password-form-confirm-column-name</span><font color="#F29600"> * </font></label>
                                    <input type="password" name="confirm_password" class="form-control" id="confirm_password">
                                    <label class="error" data-alert="confirm_password"></label>
                                </div>
                                <input type="button" class="btn btn-info" onclick="user_password_change()" value="member-password-form-change-button-name" trans-attr="value" />
                                <p class="returnmessage"></p>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section bot_script{

<script src="../Content/Front/assets/js/jquery.validate.min.js"></script>
<script src="../Content/Front/assets/js/additional-methods.js"></script>
<script src="../Content/Front/assets/js/add-methods-validate.js"></script>
<script src="../Content/Front/assets/js/messages_zh_TW.js"></script>
<script src="../Content/Front/assets/js/form_validate.js"></script>


    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_member.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}