﻿@using System.Web.Configuration;

<input type="hidden" id="end_tag" value="front" />
<input type="hidden" id="unit_tag" value="fb_auth" />
<input type="hidden" id="datamode_tag" value="" />
<input type="hidden" id="pager_tag" value="0" />


Facebook account accessing...

@Scripts.Render("~/bundles/jquery")

<script src="~/Scripts/polyfill/polyfill.js"></script> 

<script src="../@(WebConfigurationManager.AppSettings["jsmode"])/helper_nav.js?v=@(WebConfigurationManager.AppSettings["ver"])"></script>
<script src="../@(WebConfigurationManager.AppSettings["jsmode"])/main.js?v=@(WebConfigurationManager.AppSettings["ver"])"></script>
<script src="../@(WebConfigurationManager.AppSettings["jsmode"])/ajax_post_function.js?v=@(WebConfigurationManager.AppSettings["ver"])"></script>

<script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_member.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>
