﻿<input type="hidden" id="end_tag" value="front" />
<input type="hidden" id="unit_tag" value="forgot" />
<input type="hidden" id="datamode_tag" value="edit" />
<input type="hidden" id="pager_tag" value="0" />

@{
    
}
@section top_style{
    <link rel="stylesheet" href="../Content/Front/assets/css/member.css">
}

    <section class="tab">
    <div class="container">
        <h2 class="text-center" trans-attr="text">common-controller-member-name</h2>
        <div class="font-size">
            <span trans-attr="text">common-font-size-area-name</span>：
            <a href="#" class="update-fz" data-size="12px" trans-attr="text">common-font-size-s</a>
            <a href="#" class="update-fz" data-size="16px" trans-attr="text">common-font-size-m</a>
            <a href="#" class="update-fz" data-size="24px" trans-attr="text">common-font-size-l</a>
        </div>
        <hr class="dot">
    </div>
</section>
<section class="member-account">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#" accesskey="C" title="中央主要內容區" id="main-content">:::</a> <a href="/Home/Index" title="common-home-index-name" trans-attr="title,text">common-home-index-name</a></li>
            <li><a href="/Member/Course" title="common-controller-member-name" trans-attr="title,text">common-controller-member-name</a></li>
            <li class="active"><a href="/Member/Forgot" title="common-member-forgot-name" trans-attr="title,text">common-member-forgot-name</a></li>
        </ol>
    </div>
    <div class="container">
        <div class="row blue-border">
            <div class="col-sm-6 col-sm-offset-3" id="forgot_form">
                <form>@Html.AntiForgeryToken()
                    <fieldset>
                        <legend><h3 trans-attr="text">common-member-forgot-name</h3></legend>
                        <font color="#F29600" trans-attr="text">common-form-must-fill-msg</font>
                        <div class="form-group">
                            <label for="account"><span trans-attr="text">member-form-account-column-name</span> <span trans-attr="text">common-member-account-rule-msg</span><font color="#F29600"> * </font></label>
                            <input type="text" name="forget_email" class="form-control email" id="account">
                            <label class="error" data-alert="account"></label>
                        </div>
                        <div class="form-group">
                            <label for="name"><span trans-attr="text">member-form-name-column-name</span><font color="#F29600"> * </font></label>
                            <input type="text" name="forget_name" class="form-control" id="name">
                            <label class="error" data-alert="name"></label>
                        </div>
                        <div class="form-group">
                            <label for="tel"><span trans-attr="text">member-form-tel-column-name</span><span>(0912345678)</span><font color="#F29600"> * </font></label>
                            <input type="text" name="forget_telphone" class="form-control digits phoneStyle" id="tel">
                            <label class="error" data-alert="tel"></label>
                        </div>
                        <div class="text-center">
                            <input type="button" class="btn btn-access" onclick="user_password_forgot()" value="member-forgot-form-submit-button-name"  trans-attr="value"/>
                        </div>
                        <p class="returnmessage">
                            <span data-alert="success" style="color:#009FE8"></span>
                        </p>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>




@section bot_script{

<script src="../Content/Front/assets/js/jquery.validate.min.js"></script>
<script src="../Content/Front/assets/js/additional-methods.js"></script>
<script src="../Content/Front/assets/js/add-methods-validate.js"></script>
<script src="../Content/Front/assets/js/messages_zh_TW.js"></script>
<script src="../Content/Front/assets/js/form_validate.js"></script>


    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_member.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}