﻿<input type="hidden" id="end_tag" value="front" />
<input type="hidden" id="unit_tag" value="login" />
<input type="hidden" id="datamode_tag" value="" />
<input type="hidden" id="pager_tag" value="0" />

@*@using BotDetect.Web.Mvc;
@{
    MvcCaptcha LoginCaptchaObj = new MvcCaptcha("LoginCaptchaObj");
    LoginCaptchaObj.CodeLength = 4;
    LoginCaptchaObj.ImageStyle = BotDetect.ImageStyle.BlackOverlap;
    Session["LoginCaptchaObj"] = LoginCaptchaObj;
}*@

@section top_script {

}

@section top_style{
@*<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />*@
<link rel="stylesheet" href="../Content/Front/assets/css/member.css">
}




   <section class="tab">
    <div class="container">
        <h2 class="text-center" trans-attr="text">common-controller-member-name</h2>
        <div class="font-size">
            <span trans-attr="text">common-font-size-area-name</span>：
            <a href="#" class="update-fz" data-size="12px" trans-attr="text">common-font-size-s</a>
            <a href="#" class="update-fz" data-size="16px" trans-attr="text">common-font-size-m</a>
            <a href="#" class="update-fz" data-size="24px" trans-attr="text">common-font-size-l</a>
        </div>
        <hr class="dot">
    </div>
</section>
<section class="member-account">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#" accesskey="C" title="中央主要內容區" id="main-content">:::</a> <a href="/Home/Index" title="common-home-index-name" trans-attr="title,text">common-home-index-name</a></li>
            <li><a href="/Member/Course" title="common-controller-member-name" trans-attr="title,text">common-controller-member-name</a></li>
            <li class="active"><a href="/Member/Login" title="common-member-login-page-name2" trans-attr="title,text">common-member-login-page-name2</a></li>
        </ol>
    </div>
    <div class="container">
        <div class="row blue-border">
            <div class="col-sm-6" id="login_form">
                <form id="member-login" method="post">@Html.AntiForgeryToken()
                    <fieldset>
                        <legend><h3 trans-attr="text">member-login-form-area-name</h3></legend>
                        <font color="#F29600" trans-attr="text">common-form-must-fill-msg</font>
                        <div class="form-group">
                            <label for="account"><span trans-attr="text">member-form-account-column-name</span> <span trans-attr="text">common-member-account-rule-msg</span><font color="#F29600"> * </font></label>
                            <input type="email" name="login_email" class="form-control email" id="account">
                            <label class="error" data-alert="account"></label>
                        </div>
                        <div class="form-group">
                            <label for="password" trans-attr="text">member-form-password-column-name</label><font color="#F29600"> * </font>
                            <input type="password" name="login_password" class="form-control" id="password">
                            <label class="error" data-alert="password"></label>
                        </div>
                        <div class="form-group">
                            <label for="captcha">
                                <span trans-attr="text">common-form-captcha-label-name</span>
                                @*<span>(點擊圖片可更換驗證碼)</span>*@
                                <font color="#F29600"> * </font>
                            </label>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="text" name="login_captcha" class="form-control" id="captcha">
                                    <label class="error" data-alert="captcha"></label>
                                </div>
                                <div class="col-sm-12">
                                    @*@Html.Captcha(LoginCaptchaObj)*@
                                    <img id="captcha_img" src="" alt="captcha" />
                                    <audio id="myaudio" type="audio/mp3" src=""></audio>
                                    <a href="javascript:;" onclick="user_login_update_captcha()" title="note1" trans-attr="text,title">note1</a>
                                    <a href="javascript:;" onclick="captcha_voice('user_login')" title="note2" trans-attr="text,title">note2</a>
                                </div>
                                
                            </div>
                        </div>
                        <div class="search-btn text-center">
                            <input type="button" class="btn btn-access" onclick="login_submit()" value="member-login-form-submit-button-name"  trans-attr="value"/>
                            <a class="btn btn-remail" href='/Member/Forgot' trans-attr="text">member-login-form-forgot-button-name</a>
                            <p class="returnmessage"></p>
                        </div>
                    </fieldset>

                    <button type="button" class="btn btn-facebook" onclick="facebook_login()" ><i class="fa fa-facebook-square" aria-hidden="true"></i> <span trans-attr="text">note3</span></button>

                    <button type="button" class="btn btn-google" onclick="google_login()"><img src="../Content/Front/assets/img/google.png" alt="note6" trans-attr="alt"> <span trans-attr="text">note4</span></button>

                </form>

            </div>
            <div class="col-sm-6 border-left" id="member_form">
                <form id="new_member" method="post">@Html.AntiForgeryToken()
                    <fieldset>
                        <legend><h3 trans-attr="text">member-register-form-area-name</h3></legend>
                        <font color="#F29600" trans-attr="text">common-form-must-fill-msg</font>
                        <div class="form-group">
                            <label for="account"><span trans-attr="text">member-form-account-column-name</span><span>(example@gmail.com)</span><font color="#F29600"> * </font></label>
                            <input type="email" name="new_account" class="form-control email" id="account">
                            <label class="error" data-alert="account"></label>
                        </div>
                        <div class="form-group">
                            <label for="name"><span trans-attr="text">member-form-name-column-name</span><font color="#F29600"> * </font></label>
                            <input type="text" name="new_name" class="form-control" id="name">
                            <label class="error" data-alert="name"></label>
                        </div>
                        <div class="form-group">
                            <label trans-attr="text">member-form-gender-column-name</label>
                            <label class="radio-inline" for="new_male">
                                <input type="radio" name="gender" id="new_male" value="male" checked> <span trans-attr="text">gender-male-option-name</span>
                            </label>
                            <label class="radio-inline" for="new_female">
                                <input type="radio" name="gender" id="new_female" value="female"> <span trans-attr="text">gender-female-option-name</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="birth"><span trans-attr="text">member-form-birth-column-name</span><span> (2018/03/07)</span></label>
                            <input type="date" name="new_birth_date" class="form-control" id="birth">
                            <label class="error" data-alert="birth"></label>
                        </div>
                        <div class="form-group">
                            <label for="occupation" trans-attr="text">member-form-occupation-column-name</label>
                            <select id="occupation" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label for="school" trans-attr="text">member-form-school-column-name</label>
                            <input type="text" name="new_school" class="form-control" id="school">
                        </div>
                        <div class="form-group">
                            <label for="company" trans-attr="text">member-form-company-column-name</label>
                            <input type="text" name="new_company" class="form-control" id="company">
                        </div>
                        <div class="form-group">
                            <label for="degree" trans-attr="text">member-form-eduction-column-name</label>
                            <select id="degree" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label for="member_title" trans-attr="text">member-form-title-column-name</label>
                            <input type="text" name="new_position" class="form-control" id="member_title">
                        </div>
                        <div class="form-group">
                            <label for="department" trans-attr="text">member-form-department-column-name</label>
                            <input type="text" name="new_department" class="form-control" id="department">
                        </div>
                        <div class="form-group">
                            <label for="tel"><span trans-attr="text">member-form-tel-column-name</span><span>(0912345678)</span><font color="#F29600"> * </font></label>
                            <input type="text" name="new_telphone" class="form-control digits phoneStyle" id="tel">
                            <label class="error" data-alert="tel"></label>
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail<span>(example@gmail.com)</span></label>
                            <input type="email" name="new_email" class="form-control email" id="email">
                            <label class="error" data-alert="email"></label>
                        </div>
                        <div class="form-group">
                            <label for="member_location" trans-attr="text">member-form-country-column-name</label>
                            <input type="text" name="new_country" class="form-control" id="member_location">
                        </div>
                        <div class="form-group">
                            <label for="motive"><span trans-attr="text">member-form-motive-column-name</span><font color="#F29600"> * </font></label>
                            <textarea rows="4" name="new_learning-motivation" class="form-control" id="motive"></textarea>
                            <label class="error" data-alert="motive"></label>
                        </div>
                        <div class="form-group">
                            <label for="source" trans-attr="text">member-form-source-column-name</label>
                            <select id="source" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label for="employ_status" trans-attr="text">member-form-employ-status-column-name</label>
                            <select id="employ_status" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label for="password"><span trans-attr="text">member-form-password-column-name</span><span trans-attr="text">common-member-password-rule-msg</span><font color="#F29600"> * </font></label>
                            <input type="password" class="form-control" id="password">
                            <label class="error" data-alert="password"></label>
                        </div>
                        <div class="form-group">
                            <label for="confirm_password"><span trans-attr="text">member-form-confirm-password-column-name</span><span trans-attr="text">common-member-password-rule-msg</span><font color="#F29600"> * </font></label>
                            <input type="password" class="form-control" id="confirm_password">
                            <label class="error" data-alert="confirm_password"></label>
                        </div>
                        @*<button type="submit" id="btnRegister" class="btn btn-info" style="display:none">加入會員</button>*@
                        <input type="button" class="btn btn-info" onclick="register_submit()" value="member-register-form-submit-button-name" trans-attr="value" />
                        <p class="returnmessage">
                            <span data-alert="success" style="color:#009FE8"></span>
                            <span data-alert="fail" class="error"></span>
                        </p>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>



@section bot_script{

<script src="../Content/Front/assets/js/jquery.validate.min.js"></script>
<script src="../Content/Front/assets/js/additional-methods.js"></script>
<script src="../Content/Front/assets/js/add-methods-validate.js"></script>
<script src="../Content/Front/assets/js/messages_zh_TW.js"></script>
@*<script src="../Content/Front/assets/js/form_validate.js"></script>*@

    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_member.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}