﻿<input type="hidden" id="end_tag" value="front" />
<input type="hidden" id="unit_tag" value="survey" />
<input type="hidden" id="datamode_tag" value="edit" />
<input type="hidden" id="pager_tag" value="0" />

@using Model;
@{
    MEMBER user = new MEMBER();
    if (Session["user"] != null)
    {
        user = (MEMBER)Session["user"];
    }
}
@section top_style{
    <link rel="stylesheet" href="../Content/Front/assets/css/member.css">
}

    <section class="tab">
        <div class="container">
            <h2 class="text-center" trans-attr="text">common-controller-member-name</h2>
            <div class="font-size">
                <span trans-attr="text">common-font-size-area-name</span>：
                <a href="#" class="update-fz" data-size="12px" trans-attr="text">common-font-size-s</a>
                <a href="#" class="update-fz" data-size="16px" trans-attr="text">common-font-size-m</a>
                <a href="#" class="update-fz" data-size="24px" trans-attr="text">common-font-size-l</a>
            </div>
            <hr class="dot">
        </div>
    </section>



    <section class="member">
        <div class="container">

            <div class="row">

                <div class="col-sm-3 user">
                    <div class="row user-account">
                        <div class="col-md-4 col-sm-12 col-xs-4">
                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-8 col-sm-12 col-xs-8">
                            <p><strong>@user.name</strong></p>
                            <p>@user.date_created.ToString("yyyy.MM.dd")<span trans-attr="text">common-member-register-label-name</span></p>
                        </div>
                    </div>
                    <a href="#" accesskey="L" title="左方快速連結區">:::</a>
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation">
                            <a href="/Member/Course" title="common-member-course-name" trans-attr="title,text">common-member-course-name</a>
                        </li>
                        <li role="presentation">
                            <a href="/Member/Edit" title="common-member-edit-name" trans-attr="title,text">common-member-edit-name</a>
                        </li>
                        <li role="presentation" class="active">
                            <a href="/Member/SurveyList" title="common-member-survey-name" trans-attr="title,text">common-member-survey-name</a>
                        </li>
                        <li role="presentation">
                            <a href="#" onclick="logout()" title="common-member-logout-page-name2" trans-attr="title,text">common-member-logout-page-name2</a>
                        </li>
                    </ul>
                </div>


                <div class="col-sm-9 user-content">
                    <ol class="breadcrumb">
                        <li><a href="#" accesskey="C" title="中央主要內容區" id="main-content">:::</a> <a href="/Home/Index" title="common-home-index-name" trans-attr="title,text">common-home-index-name</a></li>
                        <li><a href="/Member/Course" title="common-controller-member-name" trans-attr="title,text">common-controller-member-name</a></li>
                        <li class="active"><a href="/Member/Survey" title="common-member-survey-name" trans-attr="title,text">common-member-survey-name</a></li>
                    </ol>
                    <div class="row bottom-line">
                        <div class="col-sm-6">
                            <h3 trans-attr="text">common-member-survey-name</h3><font color="#F29600" trans-attr="text">common-form-must-fill-msg</font>
                        </div>
                    </div>
                    <div class="row situation">
                        <form id="survey" >@Html.AntiForgeryToken()
                            <fieldset>
                                <legend class="sr-only" trans-attr="text">common-member-survey-name</legend>
                                <div class="row text-center profession">
                                    <p trans-attr="text">survey-form-q1-area-name</p>
                                </div>
                                <div class="row dashed-bottom">
                                    <div class="col-sm-4 text-center"><label class="middle" trans-attr="text">survey-form-q1-1-area-name</label></div>
                                    <div class="col-sm-8 text-center">
                                        <input type="radio" id="very_agree1" name="a1" value="5" checked>
                                        <label for="very_agree1" trans-attr="text">survey-form-q1-very-agree-radio-name</label>
                                        <input type="radio" id="agree1" name="a1" value="4">
                                        <label for="agree1" trans-attr="text">survey-form-q1-agree-radio-name</label>
                                        <input type="radio" id="normal1" name="a1" value="3">
                                        <label for="normal1" trans-attr="text">survey-form-q1-normal-radio-name</label>
                                        <input type="radio" id="disagree1" name="a1" value="2">
                                        <label for="disagree1" trans-attr="text">survey-form-q1-disagree-radio-name</label>
                                        <input type="radio" id="very_disagree1" name="a1" value="1">
                                        <label for="very_disagree1" trans-attr="text">survey-form-q1-very-disagree-radio-name</label>
                                    </div>
                                </div>
                                <div class="row dashed-bottom">
                                    <div class="col-sm-4 text-center"><label class="middle" trans-attr="text">survey-form-q1-2-area-name</label></div>
                                    <div class="col-sm-8 text-center">
                                        <input type="radio" id="very_agree2" name="a2" value="5" checked>
                                        <label for="very_agree2" trans-attr="text">survey-form-q1-very-agree-radio-name</label>
                                        <input type="radio" id="agree2" name="a2" value="4">
                                        <label for="agree2" trans-attr="text">survey-form-q1-agree-radio-name</label>
                                        <input type="radio" id="normal2" name="a2" value="3">
                                        <label for="normal2" trans-attr="text">survey-form-q1-normal-radio-name</label>
                                        <input type="radio" id="disagree2" name="a2" value="2">
                                        <label for="disagree2" trans-attr="text">survey-form-q1-disagree-radio-name</label>
                                        <input type="radio" id="very_disagree2" name="a2" value="1">
                                        <label for="very_disagree2" trans-attr="text">survey-form-q1-very-disagree-radio-name</label>
                                    </div>
                                </div>
                                <div class="row dashed-bottom">
                                    <div class="col-sm-4 text-center"><label class="middle" trans-attr="text">survey-form-q1-3-area-name</label></div>
                                    <div class="col-sm-8 text-center">
                                        <input type="radio" id="very_agree3" name="a3" value="5" checked>
                                        <label for="very_agree3" trans-attr="text">survey-form-q1-very-agree-radio-name</label>
                                        <input type="radio" id="agree3" name="a3" value="4">
                                        <label for="agree3" trans-attr="text">survey-form-q1-agree-radio-name</label>
                                        <input type="radio" id="normal3" name="a3" value="3">
                                        <label for="normal3" trans-attr="text">survey-form-q1-normal-radio-name</label>
                                        <input type="radio" id="disagree3" name="a3" value="2">
                                        <label for="disagree3" trans-attr="text">survey-form-q1-disagree-radio-name</label>
                                        <input type="radio" id="very_disagree3" name="a3" value="1">
                                        <label for="very_disagree3" trans-attr="text">survey-form-q1-very-disagree-radio-name</label>
                                    </div>
                                </div>
                                <div class="row dashed-bottom">
                                    <div class="col-sm-4 text-center"><label class="middle" trans-attr="text">survey-form-q1-4-area-name</label></div>
                                    <div class="col-sm-8 text-center">
                                        <input type="radio" id="very_agree4" name="a4" value="5" checked>
                                        <label for="very_agree4" trans-attr="text">survey-form-q1-very-agree-radio-name</label>
                                        <input type="radio" id="agree4" name="a4" value="4">
                                        <label for="agree4" trans-attr="text">survey-form-q1-agree-radio-name</label>
                                        <input type="radio" id="normal4" name="a4" value="3">
                                        <label for="normal4" trans-attr="text">survey-form-q1-normal-radio-name</label>
                                        <input type="radio" id="disagree4" name="a4" value="2">
                                        <label for="disagree4" trans-attr="text">survey-form-q1-disagree-radio-name</label>
                                        <input type="radio" id="very_disagree4" name="a4" value="1">
                                        <label for="very_disagree4" trans-attr="text">survey-form-q1-very-disagree-radio-name</label>
                                    </div>
                                </div>
                                <div class="row dashed-bottom last-row">
                                    <div class="col-sm-4 text-center"><label class="middle" trans-attr="text">survey-form-q1-5-area-name</label></div>
                                    <div class="col-sm-8 text-center">
                                        <input type="radio" id="very_agree5" name="a5" value="5" checked>
                                        <label for="very_agree5" trans-attr="text">survey-form-q1-very-agree-radio-name</label>
                                        <input type="radio" id="agree5" name="a5" value="4">
                                        <label for="agree5" trans-attr="text">survey-form-q1-agree-radio-name</label>
                                        <input type="radio" id="normal5" name="a5" value="3">
                                        <label for="normal5" trans-attr="text">survey-form-q1-normal-radio-name</label>
                                        <input type="radio" id="disagree5" name="a5" value="2">
                                        <label for="disagree5" trans-attr="text">survey-form-q1-disagree-radio-name</label>
                                        <input type="radio" id="very_disagree5" name="a5" value="1">
                                        <label for="very_disagree5" trans-attr="text">survey-form-q1-very-disagree-radio-name</label>
                                    </div>
                                </div>
                                <div class="row text-center profession">
                                    <p trans-attr="text">survey-form-feedback-area-name</p>
                                </div>
                                <div class="row mt">
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label for="f1" trans-attr="text">survey-form-f1-area-name</label>
                                            <select id="f1" class="form-control">
                                                @*<option value="南方創客基地 Facebook粉絲頁">南方創客基地 Facebook粉絲頁</option>
                                                <option value="親友推薦">親友推薦</option>
                                                <option value="Facebook地方社團 （例：我是新營人）">Facebook地方社團 （例：我是新營人）</option>
                                                <option value="Instagram">Instagram</option>
                                                <option value="LINE 社群">LINE 社群</option>
                                                <option value="其他方式">其他方式</option>*@
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 col-sm-offset-1">
                                        <div class="form-group">
                                            <label for="f2" trans-attr="text">survey-form-f2-area-name</label>
                                            <select id="f2" class="form-control">
                                                @*<option value="想接觸相關資訊">想接觸相關資訊</option>
                                                <option value="沒有特別原因，單純來看看">沒有特別原因，單純來看看</option>
                                                <option value="講師安排">講師安排</option>
                                                <option value="想與講者進一步交流">想與講者進一步交流</option>
                                                <option value="其他原因">其他原因</option>*@
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label for="f3" trans-attr="text">survey-form-f3-area-name</label><font color="#F29600"> * </font>
                                            <textarea rows="4" name="hope-to-hold" class="form-control" id="f3" required></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="f4" trans-attr="text">survey-form-f4-area-name</label><font color="#F29600"> * </font>
                                            <textarea rows="4" name="improve" class="form-control" id="f4" required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 col-sm-offset-1">
                                            <div class="form-group">
                                                <label for="f5" trans-attr="text">survey-form-f5-area-name</label><font color="#F29600"> * </font>
                                                <textarea rows="4" name="the-most-impression" class="form-control" id="f5" required></textarea>
                                            </div>
                                    </div>
                                </div>
                                <button type="submit" id="btnSubmit" class="btn btn-info btn-survey" style="display:none">survey-form-submit-button-name</button>
                                <input type="button" class="btn btn-info btn-survey" onclick="survey_submit()" value="survey-form-submit-button-name" trans-attr="value" />
                                <p id="returnmessage_survey"></p>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


@section bot_script{

<script src="../Content/Front/assets/js/jquery.validate.min.js"></script>
<script src="../Content/Front/assets/js/additional-methods.js"></script>
<script src="../Content/Front/assets/js/add-methods-validate.js"></script>
<script src="../Content/Front/assets/js/messages_zh_TW.js"></script>
<script src="../Content/Front/assets/js/form_validate.js"></script>


    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_member.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}