﻿<input type="hidden" id="end_tag" value="front" />
<input type="hidden" id="unit_tag" value="works" />
<input type="hidden" id="datamode_tag" value="view" />
<input type="hidden" id="pager_tag" value="0" />


@section top_style{
<link rel="stylesheet" href="../Content/Front/assets/css/collection.css">
}

@using Model;
@{
    int intTest = 0;
    int id = string.IsNullOrEmpty(Request["id"]) ? 0 : (int.TryParse(Request["id"], out intTest) ? intTest : 0);

    WORKS data = new WORKS();
    List<FILES> files = new List<FILES>();

    string works_logo_img_url = helper.default_img_url;
    List<string> works_img_urls = new List<string>();
    List<string> works_raw_urls = new List<string>();
    using (var DB = new SOUTHMAKEREntities())
    {
        var findObj = DB.WORKS.Where(x => x.is_deleted == 0 && x.id == id).FirstOrDefault();
        if (findObj != null)
        {
            data = findObj;

            var fileFindObj = DB.FILES
                .Where(x => x.is_deleted == 0 && x.is_enabled == 1 && x.obj_id == data.file_id && x.tag == "works_cover" && x.img_size == "")
                .Select(x => "/upload/" + x.@class + "/" + x.obj_id + "/" + x.name + "." + x.exten).FirstOrDefault();
            if (fileFindObj != null) { works_logo_img_url = fileFindObj; works_img_urls.Add(works_logo_img_url); }

            works_img_urls = DB.FILES
                .Where(x => x.is_deleted == 0 && x.is_enabled == 1 && x.obj_id == data.file_id && x.tag == "works_photo" && x.img_size == "")
                .Select(x => "/upload/" + x.@class + "/" + x.obj_id + "/" + x.name + "." + x.exten).ToList();

            works_raw_urls = DB.FILES
                .Where(x => x.is_deleted == 0 && x.is_enabled == 1 && x.obj_id == data.file_id && x.tag == "works_raw")
                .Select(x => "/upload/" + x.@class + "/" + x.obj_id + "/" + x.name + "." + x.exten).ToList();

        }
    }
    QueryObj_WORKS.stringAttrInit(ref data);

    List<WORKS> transObj = new List<WORKS>(); transObj.Add(data);
    transObj = helper.WorksTranslate(transObj);
    data = transObj[0];

}


 <section class="tab">
    <div class="container">
        <h2 class="text-center" trans-attr="text">common-controller-works-name</h2>
        <div class="font-size">
            <span trans-attr="text">common-font-size-area-name</span>：
            <a href="#" class="update-fz" data-size="12px" trans-attr="text">common-font-size-s</a>
            <a href="#" class="update-fz" data-size="16px" trans-attr="text">common-font-size-m</a>
            <a href="#" class="update-fz" data-size="24px" trans-attr="text">common-font-size-l</a>
        </div>
        <hr class="dot">
    </div>
</section>
<section class="collection">
    <div class="content">
        <ol class="breadcrumb">
            <li><a href="#" accesskey="C" title="中央主要內容區" id="main-content">:::</a> <a href="/Home/Index" title="common-home-index-name" trans-attr="title,text">common-home-index-name</a></li>
            <li><a href="/Works/List" title="common-controller-works-name" trans-attr="title,text">common-controller-works-name</a></li>
            <li class="active"><a href="#" title="@data.title">@data.title</a></li>
        </ol>

        @if (works_img_urls.Count > 0)
        {
        <div class="loop owl-carousel owl-theme">

            @foreach (var url in works_img_urls)
            {
                <a href="@url" target="_blank" class="item" title="@data.title"><img src="@url" style="height:400px" alt="@data.title"></a>
            }

            @*<a href="" class="item" title="港都工人_手機名片座+筆筒">
                <img src="../Content/Front/assets/img/collection/collection(600x400).jpg" alt="港都工人_手機名片座+筆筒">
            </a>
            <a href="" class="item" title="港都工人_手機名片座+筆筒2">
                <img src="../Content/Front/assets/img/collection/collection(600x400).jpg" alt="港都工人_手機名片座+筆筒">
            </a>*@
        </div>
        <noscript>
            @foreach (var url in works_img_urls)
            {
                <img src="@url" alt="@data.title" style="height:400px" width="100%" border="0">
            }
            @*<img src="../Content/Front/assets/img/collection/collection(600x400).jpg" alt="港都工人_手機名片座+筆筒" width="100%" border="0">
            <img src="../Content/Front/assets/img/collection/collection(600x400).jpg" alt="港都工人_手機名片座+筆筒" width="100%" border="0">*@
        </noscript>
        }
        <h3>@data.title</h3>
        @Html.Raw(data.content)
        @*<p>
            理念：以高雄工業城市發展不可或缺的角色＂工人＂為主題，頂天立地的工人可以穩固地扛住手機和名片，腳下的貨輪運送著筆。<br /><br />
            技術：以層疊方式建構出厚實的身軀和穩固的基座、放筆空間。
        </p>*@
        <div class="strong">
            <p><strong><span trans-attr="text">maker-detail-form-name-column-name</span>：@data.group</strong></p>
            <p><strong><span trans-attr="text">maker-detail-form-tool-column-name</span>：@data.tool</strong></p>
            <p><strong><span trans-attr="text">maker-detail-form-download-column-name</span>：</strong></p>
            @if (works_raw_urls.Count > 0)
            {
                foreach (string item in works_raw_urls)
                {
                    <p><strong><a href="@item" title="maker-detail-form-download-column-name" download  trans-attr="title">@item.Split('/').Last().Split('@').Last()</a></strong></p>
                }
            }
            @*<p><strong><a href="assets/img/collection/collection(600x400).jpg" title="下載圖片" download>圖檔下載：手機名片座+筆筒.jpg</a></strong></p>*@
        </div>
    </div>
</section>





@section date_modify_area{
    <p><span trans-attr="text">common-lastest-update-span-name</span>：@(data.date_modify.Year - 1911 + data.date_modify.ToString("-MM-dd"))</p>
}



@section bot_script{

    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_home.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}