﻿<input type="hidden" id="end_tag" value="front" />
<input type="hidden" id="unit_tag" value="works" />
<input type="hidden" id="datamode_tag" value="list" />
<input type="hidden" id="pager_tag" value="1" />


@section top_style{
<link rel="stylesheet" href="../Content/Front/assets/css/collection.css">
}


 <section class="tab">
    <div class="container">
        <h2 class="text-center" trans-attr="text">common-controller-works-name</h2>
        <div class="font-size">
            <span trans-attr="text">common-font-size-area-name</span>：
            <a href="#" class="update-fz" data-size="12px" trans-attr="text">common-font-size-s</a>
            <a href="#" class="update-fz" data-size="16px" trans-attr="text">common-font-size-m</a>
            <a href="#" class="update-fz" data-size="24px" trans-attr="text">common-font-size-l</a>
        </div>
        <hr class="dot">
    </div>
</section>
<section class="maker-introduction">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#" accesskey="C" title="中央主要內容區" id="main-content">:::</a> <a href="/Home/Index" title="common-home-index-name" trans-attr="title,text">common-home-index-name</a></li>
            <li class="active"><a href="#" title="common-controller-works-name" trans-attr="title,text">common-controller-works-name</a></li>
        </ol>
        <form class="form-inline">@Html.AntiForgeryToken()
            <div class="form-group" id="works_search">
                <label for="keyword" class="sr-only" trans-attr="text">common-search-label-name2</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class='fa fa-search'></i>
                    </span>
                    <input type="text" class="form-control" id="keyword" placeholder="common-search-input-placeholder-name" trans-attr="placeholder">
                </div>
            </div>
            <button type="button" class="btn btn-primary" onclick="works_search_redirect()" trans-attr="text">common-search-button-name</button>
        </form>

        <div class="row grid">
            <span id="data-content"></span>
        </div>

        <div class="page text-center" name="pager">
            
        </div>
    </div>
</section>








@section bot_script{

    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_works.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}