﻿<input type="hidden" id="end_tag" value="front" />
<input type="hidden" id="unit_tag" value="news" />
<input type="hidden" id="datamode_tag" value="list" />
<input type="hidden" id="pager_tag" value="1" />


@section top_style{
<link rel="stylesheet" href="../Content/Front/assets/css/news.css">
}

@using Model;
@{
    int id = string.IsNullOrEmpty(Request["id"]) ? 0 : int.Parse(Request["id"]);
    if (id < 1) { Response.Redirect("/Home/Index"); }

    NEWS data = new NEWS();
    string news_logo_img_url = helper.default_img_url;
    using (var DB = new SOUTHMAKEREntities())
    {
        var findObj = DB.NEWS.Where(x => x.is_deleted == 0 && x.id == id).FirstOrDefault();
        if (findObj != null)
        {
            data = findObj;
            var fileFindObj = DB.FILES
                        .Where(x => x.is_deleted == 0 && x.is_enabled == 1 && x.obj_id == data.file_id && x.tag == "news_logo" && x.img_size == "")
                        .Select(x => "/upload/" + x.@class + "/" + x.obj_id + "/" + x.name + "." + x.exten).FirstOrDefault();
            if (fileFindObj != null) { news_logo_img_url = fileFindObj; }

            //以下是舊站資料的抓檔方式
            if (fileFindObj == null)
            {
                fileFindObj = DB.FILES
                        .Where(x => x.is_deleted == 0 && x.is_enabled == 1 && x.obj_id == data.file_id && x.tag == "" && x.@class == "")
                        .Select(x => x.name).FirstOrDefault();
                if (fileFindObj != null) { news_logo_img_url = fileFindObj; }
            }
        }
    }
    QueryObj_NEWS.stringAttrInit(ref data);

    List<NEWS> transObj = new List<NEWS>(); transObj.Add(data);
    transObj = helper.NewsTranslate(transObj);
    data = transObj[0];
    data.content = data.content.Replace("\\\"", "\"");

}


 <section class="tab">
    <div class="container">
        <h2 class="text-center" trans-attr="text">common-controller-news-name</h2>
        <div class="font-size">
            <span trans-attr="text">common-font-size-area-name</span>：
            <a href="#" class="update-fz" data-size="12px" trans-attr="text">common-font-size-s</a>
            <a href="#" class="update-fz" data-size="16px" trans-attr="text">common-font-size-m</a>
            <a href="#" class="update-fz" data-size="24px" trans-attr="text">common-font-size-l</a>
        </div>
        <hr class="dot">

        <ul class="nav nav-pills">
            <li role="presentation" class="active">
                <a href="/News/List" title="common-news-list-name" trans-attr="title,text">common-news-list-name</a>
            </li>
            <li role="presentation">
                <a href="/News/Album" title="common-news-album-name" trans-attr="title,text">common-news-album-name</a>
            </li>
            <li role="presentation">
                <a href="/News/Video" title="common-news-video-name" trans-attr="title,text">common-news-video-name</a>
            </li>
        </ul>
    </div>
</section>
<section class="news-information">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#" accesskey="C" title="中央主要內容區" id="main-content">:::</a> <a href="/Home/Index" title="common-home-index-name" trans-attr="title,text">common-home-index-name</a></li>
            <li><a href="/News/List" title="common-controller-news-name" trans-attr="title,text">common-controller-news-name</a></li>
            <li><a href="/News/List" title="common-news-list-name" trans-attr="title,text">common-news-list-name</a></li>
            <li class="active"><a href="#" title="@data.title">@data.title</a></li>
        </ol>
        <img class="image-responsive w100" src="@news_logo_img_url" alt="@data.title">
        <h3>@data.title</h3>
        <p class="date"><font color="#009FE8">@data.date_created.ToString("yyyy.MM.dd")</font></p>
        <div class="content">
            @Html.Raw(data.content)

        </div>
    </div>
</section>



@section date_modify_area{
    <p><span trans-attr="text">common-lastest-update-span-name</span>：@(data.date_modify.Year-1911 + data.date_modify.ToString("-MM-dd"))</p>
}




@section bot_script{

    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_home.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}