﻿<input type="hidden" id="end_tag" value="front" />
<input type="hidden" id="unit_tag" value="photo" />
<input type="hidden" id="datamode_tag" value="list" />
<input type="hidden" id="pager_tag" value="1" />


@section top_style{
<link rel="stylesheet" href="../Content/Front/assets/css/news.css">
<link rel="stylesheet" href="~/Scripts/lightbox/css/lightbox.min.css">
}

@using Model;
@{
    int id = string.IsNullOrEmpty(Request["id"]) ? 0 : int.Parse(Request["id"]);
    if (id < 1) { Response.Redirect("/Home/Index"); }

    ALBUM data = new ALBUM();

    List<FILES> imgs = new List<FILES>();
    List<string> photo_thumb_urls = new List<string>();
    List<string> photo_img_urls = new List<string>();
    using (var DB = new SOUTHMAKEREntities())
    {
        var findObj = DB.ALBUM.Where(x => x.is_deleted == 0 && x.id == id).FirstOrDefault();
        if (findObj != null)
        {
            data = findObj;
            //photo_img_urls = DB.FILES
            //    .Where(x => x.is_deleted == 0 && x.is_enabled == 1 && x.obj_id == data.file_id && x.tag == "album" && x.img_size == "S")
            //    .OrderByDescending(x => x.date_created)
            //    .Select(x => "/upload/" + x.@class + "/" + x.obj_id + "/" + x.name + "." + x.exten).ToList();
            imgs = DB.FILES
                .Where(x => x.is_deleted == 0 && x.is_enabled == 1 && x.obj_id == data.file_id && x.tag == "album" && x.img_size == "S")
                .OrderByDescending(x => x.date_created).ToList();
            foreach (var x in imgs)
            {
                photo_img_urls.Add("/upload/" + x.@class + "/" + x.obj_id + "/" + x.name + "." + x.exten);
                photo_thumb_urls.Add("/upload/" + x.@class + "/" + x.obj_id + "/" + x.name + "@S." + x.exten);
            }

            //以下是舊站資料的抓檔方式
            if (imgs.Count < 1)
            {
                imgs = DB.FILES
                .Where(x => x.is_deleted == 0 && x.is_enabled == 1 && x.obj_id == data.file_id && x.@class == "" && x.tag == "")
                .OrderByDescending(x => x.date_created).ToList();
                foreach (var x in imgs)
                {
                    photo_img_urls.Add(x.name);
                    photo_thumb_urls.Add(x.name);
                }
            }


        }
    }
    QueryObj_ALBUM.stringAttrInit(ref data);

    List<ALBUM> transObj = new List<ALBUM>(); transObj.Add(data);
    transObj = helper.AlbumTranslate(transObj);
    data = transObj[0];

}

 <section class="tab">
    <div class="container">
        <h2 class="text-center" trans-attr="text">common-controller-news-name</h2>
        <div class="font-size">
            <span trans-attr="text">common-font-size-area-name</span>：
            <a href="#" class="update-fz" data-size="12px" trans-attr="text">common-font-size-s</a>
            <a href="#" class="update-fz" data-size="16px" trans-attr="text">common-font-size-m</a>
            <a href="#" class="update-fz" data-size="24px" trans-attr="text">common-font-size-l</a>
        </div>
        <hr class="dot">

        <ul class="nav nav-pills">
            <li role="presentation">
                <a href="/News/List" title="common-news-list-name" trans-attr="title,text">common-news-list-name</a>
            </li>
            <li role="presentation" class="active">
                <a href="/News/Album" title="common-news-album-name" trans-attr="title,text">common-news-album-name</a>
            </li>
            <li role="presentation">
                <a href="/News/Video" title="common-news-video-name" trans-attr="title,text">common-news-video-name</a>
            </li>
        </ul>
    </div>
</section>
<section class="more-photos">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#" accesskey="C" title="中央主要內容區" id="main-content">:::</a> <a href="/Home/Index" title="common-home-index-name" trans-attr="title,text">common-home-index-name</a></li>
            <li><a href="/News/List" title="common-controller-news-name" trans-attr="title,text">common-controller-news-name</a></li>
            <li><a href="/News/Album" title="common-news-album-name" trans-attr="title,text">common-news-album-name</a></li>
            <li class="active"><a href="#" title="@data.title">@data.title</a></li>
        </ol>
        <h3>@data.title</h3>

        <div class="row grid">
        @{
                for(int i = 0; i < photo_img_urls.Count ; i++ )
                {
                    string ori_url = photo_img_urls[i];
                    string thumb_url = photo_thumb_urls[i];
                    <div class="col-sm-4 grid-item-space">
                        <a href="@ori_url" data-lightbox="o"><img class="image-responsive" src="@thumb_url" alt="@data.title" style="height:230px"></a>
                    </div>
                }
        }
        </div>

    </div>
</section>








@section bot_script{

    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_home.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

    <script src="~/Scripts/lightbox/js/lightbox-plus-jquery.js"></script>
}