﻿<input type="hidden" id="end_tag" value="front" />
<input type="hidden" id="unit_tag" value="video" />
<input type="hidden" id="datamode_tag" value="list" />
<input type="hidden" id="pager_tag" value="1" />


@section top_style{
<link rel="stylesheet" href="../Content/Front/assets/css/news.css">
}


 <section class="tab">
    <div class="container">
        <h2 class="text-center" trans-attr="text">common-controller-news-name</h2>
        <div class="font-size">
            <span trans-attr="text">common-font-size-area-name</span>：
            <a href="#" class="update-fz" data-size="12px" trans-attr="text">common-font-size-s</a>
            <a href="#" class="update-fz" data-size="16px" trans-attr="text">common-font-size-m</a>
            <a href="#" class="update-fz" data-size="24px" trans-attr="text">common-font-size-l</a>
        </div>
        <hr class="dot">

        <ul class="nav nav-pills">
            <li role="presentation">
                <a href="/News/List" title="common-news-list-name" trans-attr="title,text">common-news-list-name</a>
            </li>
            <li role="presentation">
                <a href="/News/Album" title="common-news-album-name" trans-attr="title,text">common-news-album-name</a>
            </li>
            <li role="presentation" class="active">
                <a href="/News/Video" title="common-news-video-name" trans-attr="title,text">common-news-video-name</a>
            </li>
        </ul>
    </div>
</section>
<section>
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#" accesskey="C" title="中央主要內容區" id="main-content">:::</a> <a href="/Home/Index" title="common-home-index-name" trans-attr="title,text">common-home-index-name</a></li>
            <li><a href="/News/List" title="common-controller-news-name" trans-attr="title,text">common-controller-news-name</a></li>
            <li class="active"><a href="#" title="common-news-video-name" trans-attr="title,text">common-news-video-name</a></li>
        </ol>

        <div class="row grid">
            <span id="data-content"></span>
        </div>
   
        <div class="page text-center" name="pager">

        </div>
    </div>
</section>








@section bot_script{

    <script src="../@(System.Web.Configuration.WebConfigurationManager.AppSettings["jsmode"])/func_news.js?v=@(System.Web.Configuration.WebConfigurationManager.AppSettings["ver"])"></script>

}